#header($topNav,$secNav,$title)
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>$title</h2>
			<div class="right"><a class="ico_order_w" title="用户信息管理" href="list.do">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="${action}.do" method="post" class="form_horizontal hq_form">
			  <input type="hidden"  id="linecountryId" name="linecountryId" />
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_client_r"></span>
		        	<h3>用户基本信息</h3>
		        </div>
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>用户登陆名:</label>
						<div class="controls">
                            #if("$action"=="update")
                            $!{user.userId}    
                            <input value="$!{user.userId}" type="hidden" name="userId">
                            <input value="$!{page}" type="hidden" name="page">
                            #else
                            <span class="form_item"><input value="$!{user.userId}" type="text" class="text1 js_non_empty" name="userId" placeholder="用户登陆名" maxlength="20" size="20"/></span>
                            #end
		              	</div>		        			
		        	</div>
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>用户姓名:</label>
						<div class="controls">
		               		<span class="form_item"><input value="$!{user.userName}" type="text" class="text1 js_non_empty" name="userName" placeholder="用户姓名" maxlength="20" size="20"/></span>
		              	</div>		        			
		        	</div>
		            <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>用户权限:</label>
                        <div class="controls">
                            <select name="roleId" id="roleId" class="text2" onchange="selectCountry()">
                                #foreach($one in $fn.roleOptions().entrySet())
                                <option value="$one.key"$fn.selected(${user.roleId}, $one.key)>$one.value.name</option>
                                #end
                            </select>
                        </div>                          
                    </div>
					<div class="control_group" id="showCountryNames">
                        <label class="control_label"><span class="ico_must">*</span>所属线路国家:</label>
                        <div class="controls">
                            <span class="form_item" id="showCountryNamesTip"><input value="" type="text" class="text1 js_non_empty" id="countryNames" placeholder="所属线路国家" readonly/></span>
							<label for="searchbtn"><input onclick="selectCountry();" type="button" name="" class="searchbtn" value="选择国家" ></label>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>所属经理:</label>
                        <div class="controls">
                            <span class="form_item"><select name="managerId" id="managerId" class="text2" placeholder="所属经理">
                                <option value="">无</option>
                                #foreach($one in $managerList)
                                <option value="$one.userId"$fn.selected(${user.managerId}, $one.userId)>$one.userName</option>
                                #end
                            </select></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>所属部门:</label>
                        <div class="controls">
                            <span class="form_item"><select name="deptSel" id="deptSel" class="text2" placeholder="部门列表" style="width:100px;">
                                <option value="">无</option>
                                #foreach($one in $deptList)
                                <option value="$one.name" $fn.selected(${user.deptId}, $one.name)>$one.name</option>
                                #end
                            </select>
                            <input id="deptId" type="text" name="deptId" class="text1 js_non_empty" placeholder="所属部门"  style="width:200px;" value="$!{user.deptId}">
                            </span>
                        </div>                          
                    </div>
                    #if("$action"=="update")
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>重置密码:</label>
                        <div class="controls">
                            <span class="form_item"><input value="" type="text" class="text1" name="pwd" placeholder="重置密码" maxlength="20" size="20"/></span>
                        </div>                          
                    </div>
                    #end
		        </div>
		      </div>
                <div class="form_actions">
    				<button type="reset" class="btn btn_reset">重置</button>
                  	<button type="submit" class="btn btn_save">保存</button>
                </div>
		  	</form>
		</div>
	</div>
	
	<div style="display:hide">
		<div id="lineCountryDiv">
            <div class="boxybody boxy-content" style="display: block;">
				<p>
					#foreach($one in $countryList)
                        <input type="checkbox" name="linecountry" value="$one.countryId" extraName="$one.countryName"/>$one.countryName
						#if($velocityCount%3==0)
							</p><br/><p>
						#end
					#end
				</p>
				<p><span id="countryIdtip" class="error_tip" style="display:hidden"></span></p>
				<p><input type="submit" class="boxybtn1" id="BtnCountrySubmit" value=""></p>
            </div>   
			<div class='boxyft'></div>
        </div>
	</div>
	
    <script>
	
	
    jQuery("#roleId").bind("blur",function(e){
        changeClass();
    }).bind("change",function(e){
        changeClass();
    })
	
    function changeClass(){
        var roleId = jQuery("#roleId").val();
        if(roleId==2){
            jQuery("#managerId").addClass('js_non_empty');
        }else{
            jQuery("#managerId").removeClass('js_non_empty');
        }
    }
	
    jQuery("#deptSel").bind("change",function(e){
        var val = $(this).val();
        if(val != ''){
        	jQuery("#deptId").val(val);
        }
    })
	
	var boxyCountry = new Boxy(jQuery("#lineCountryDiv"), {title: "所属线路国家", modal: true, draggable: true,fixed:true,closeText:"",center:true,show:false,closeable:false});
	function selectCountry(){
		var roleId=jQuery("#roleId").val();
		
		if(roleId==${fn.getOperatorRoleId()}){
			boxyCountry.show();
			jQuery("#showCountryNames").addClass('js_non_empty');
		}else{
			boxyCountry.hide();
			jQuery("#showCountryNames").hide();
			jQuery("#showCountryNames").removeClass('js_non_empty');
		}
	}
	jQuery("#BtnCountrySubmit").click(function(){
		var vals= new Array();
		var texts= new Array();
		
		jQuery('input:checkbox').each(function(){
            if (this.checked) {
    			vals.push(jQuery(this).val());
				texts.push(jQuery(this).attr("extraName"));
            }
		});
		if (vals.length>0 && texts.length>0) {
			jQuery("#linecountryId").val(vals.join(','));
			jQuery("#countryNames").val(texts.join(','));
			jQuery("#showCountryNames").show();
			boxyCountry.hide();
			jQuery("#countryIdtip").text("");
			jQuery("#showCountryNamesTip ~ span").each(function(){
				jQuery(this).hide();
			});
		}else{
			jQuery("#countryIdtip").text("请至少选择一个所属线路国家!");
		}
	});
	selectCountry();
    </script>
#footer()