#header(3,32,"新增订单信息")
<script>
    function setBxyf(){
        var priceBxys=jQuery("#priceBxys").val()==''?0:jQuery("#priceBxys").val();
        jQuery("#priceBxyf").val(priceBxys);
    }
	function calculate(){
		var priceYsdj=jQuery("#priceYsdj").val()==''?0:jQuery("#priceYsdj").val();
		var priceBxys=jQuery("#priceBxys").val()==''?0:jQuery("#priceBxys").val();
        var priceBxyf=jQuery("#priceBxyf").val()==''?0:jQuery("#priceBxyf").val();
		var priceQtys=jQuery("#priceQtys").val()==''?0:jQuery("#priceQtys").val();
		var priceQtzc=jQuery("#priceQtzc").val()==''?0:jQuery("#priceQtzc").val();
		var nameListSize=jQuery("#nameListSize").val()==''?0:jQuery("#nameListSize").val();
		var productPrice=jQuery("#productPrice").val()==''?0:jQuery("#productPrice").val();
		
		var priceZjys = 0.0;
		var priceZjyf = 0.0;
		var grossProfit = 0.0;
		
		if(priceYsdj&&priceBxys&&priceBxyf&&priceQtys&&priceQtzc&&nameListSize){
			priceZjys = Math.round(parseFloat(priceYsdj*100*nameListSize+priceQtys*100+priceBxys*100))/100;
			priceZjyf = Math.round(parseFloat(productPrice*100 * nameListSize+priceQtzc*100+priceBxyf*100))/100;
			grossProfit = Math.round(parseFloat(priceZjys*100 - priceZjyf*100))/100;
		}
		
		jQuery("#priceZjys").val(priceZjys);
		jQuery("#priceZjyf").val(priceZjyf);
		jQuery("#grossProfit").val(grossProfit);
	}
	function getProductPrice(){
		var productId=jQuery("#productId").val();
		if(productId==''){
			return;
		}
		jQuery.ajax({
    	   type: "POST",
    	   url: "/product/getProductPrice.do",
    	   data:{productId:productId},
    	   success: function(result){
		   		if(result!='error'){
    				jQuery("#productPrice").val(result);
					calculate();
				}
    	   }
		});
	}
	
	function searchCustomer(){
		jQuery("#dropbox").hide();
		var customerName=jQuery("#tempCustomerName").val();
		if(customerName==''){
			return;
		}
		jQuery.ajax({
    	   type: "POST",
    	   url: "/customer/searchCustomer.do",
    	   data:{customerName:customerName},
    	   success: function(result){
		   		var searchResult=jQuery("#searchResult");
    			var customerList=result;
				if(customerList&&customerList.length>0){
    				var html='';
    				for(var i=0;i<customerList.length;i++){
    					html+='<li><a href="javascript:setProductId('+customerList[i].customerId+',\''+customerList[i].customerName+'\')">'+customerList[i].customerName+'</a></li>';
    				}
    				searchResult.empty();
    				searchResult.append(html);
    				jQuery("#dropbox").show();
				}
    	   }
		});
	}
	
	function setProductId(customerId,customerName){
		jQuery("#customerId").val(customerId);
		jQuery("#tempCustomerName").val(customerName);
		jQuery("#customerShowName").val(customerName);
		jQuery("#dropbox").hide();
	}
	
    function changeCountry(){
        var continentId = jQuery("#continentId").val();
        jQuery.ajax({
           type: "POST",
           async:false,
           url: "/country/listByContinentId.do",
           data:{continentId:continentId},
           success: function(result){
                var countryList=result;
                var options='<option value="" selected="selected">请选择</option>';
                for(var i=0;i<countryList.length;i++){
                    options+='<option value='+countryList[i].countryId+'>'+countryList[i].countryName+'</option>';
                }
                jQuery("#countryId option").remove();
                jQuery("#countryId").append(options);
           }
        });
    }
	
	function changeProduct(){
        var countryId = jQuery("#countryId").val();
        jQuery.ajax({
           type: "POST",
           async:false,
           url: "/product/searchProduct.do",
           data:{countryId:countryId},
           success: function(result){
                var productList=result;
                var options='<option value="" selected="selected">请选择</option>';
                for(var i=0;i<productList.length;i++){
                    options+='<option value='+productList[i].productId+'>'+productList[i].productName+'</option>';
                }
                jQuery("#productId option").remove();
                jQuery("#productId").append(options);
           }
        });
    }
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>新增订单信息</h2>
			<div class="right"><a class="ico_order_w" title="订单信息管理" href="/orders/list.do?page=1">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="/orders/addSubmit.do" method="post" class="form_horizontal hq_form">
				<input name="customerId" id="customerId" type="hidden" value=""/>
				<input name="productPrice" id="productPrice" type="hidden" value="0"/>
				<input name="type" id="type" type="hidden" value="$!type"/>
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_order_r"></span>
		        	<h3>订单基本信息</h3>
		        </div>
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>客户:</label>
						<div class="controls">
							<span class="form_item">
								<input name="customerShowName" id="customerShowName" type="text" class="text1 js_non_empty" placeholder="客户" value="$!{orders.customerName}" onkeydown="searchCustomer()" disabled>
							</span>
		              	</div>
						<label class="control_label"><span class="ico_must"></span>客户搜素框:</label>
						<div class="controls">
							<label class="dropcontrol">
    							<span class="form_item dd">
									<input name="tempCustomerName" id="tempCustomerName" type="text" class="text1" placeholder="客户" value="" onkeyup="searchCustomer()">
        							<div id="dropbox" class="dropbox" style="display:none">
            							<ul id="searchResult">
            							</ul>
        							</div>
    							</span>
							</label>
		              	</div>	        			
		        	</div>
		        	#if($type==1)
		        		<div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>单项产品名称:</label>
	                        <div class="controls">
	                            <span class="form_item">
	                                <input name="singleProduct" id="singleProduct" type="text" class="text1 js_non_empty" maxlength="30" placeholder="单项产品名称">
	                            </span>
	                        </div>                          
	                    </div>
		        	#else
						<div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>所属领区:</label>
	                        <div class="controls">
	                            <span class="form_item"><select name="areaId" id="areaId" class="text2 js_non_empty" placeholder="所属领区">
	                                <option value="" selected="selected">请选择</option>
									#foreach($one in $areaList)
	                                <option value="$one.areaId"$fn.selected(${product.areaId}, $one.areaId)>$one.areaName</option>
	                                #end
	                            </select></span>
	                        </div>                          
	                    </div>
	                    <div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>所属地区:</label>
	                        <div class="controls">
	                            <span class="form_item"><select name="continentId" id="continentId" class="text2 js_non_empty" placeholder="所属地区">
	                                <option value="" selected="selected">请选择</option>
									#foreach($one in $fn.continentOptions().entrySet())
	                                <option value="$one.key"$fn.selected(${product.continentId}, $one.key)>$one.value.name</option>
	                                #end
	                            </select></span>
	                        </div>                          
	                    </div>
	                    <div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>国家名称:</label>
	                        <div class="controls">
	                            <span class="form_item"><select name="countryId" id="countryId" class="text2 js_non_empty" placeholder="国家名称">
	                                <option value="" selected="selected">请选择</option>
	                            </select></span>
	                        </div>                          
	                    </div>
			        	<div class="control_group">
		        			<label class="control_label"><span class="ico_must">*</span>选择产品:</label>
							<div class="controls">
			               		<span class="form_item"><select name="productId" id="productId" class="text2 js_non_empty" placeholder="产品" onchange="getProductPrice()">
									<option value="" selected="selected">请选择</option>
								</select></span>
			              	</div>		        			
			        	</div>
		            #end
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>客人数量:</label>
		              <div class="controls">
		               <span class="form_item"><input name="nameListSize" id="nameListSize" type="text" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="客人数量" onchange="calculate()"></span>
		              </div>
		            </div>	
					
					<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>客人信息:</label>
						<div class="controls" id="customTab">
		               		<div class="client_operate js_client_operate">
			               		<table cellpadding="0" cellspacing="0" class="client_table_data table_data">
					                <thead>
					                    <tr>
					                        <th>序号</th><th>客人信息</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr>
					                    	<td>1</td>
											<td>
												姓名:<input type="text" class="tb_text" name="tempName" value="" placeholder="客户姓名" style="width:20%;"/>
												联系方式:<input type="text" class="tb_text" name="tempContact" value="" placeholder="联系方式" style="width:30%;"/>
												住址:<input type="text" class="tb_text" name="tempAddr" value="" placeholder="住址" style="width:40%;"/>
												<span name="delName" class="client_delete" title="删除行">-</span>
											</td>
					                    </tr>           
					                </tbody>
					            </table><span class="form_item"><input type="hidden" class="js_non_empty" id="nameList" name="nameList" value="" placeholder="客人信息"></span>
					            <div class="client_operate_btns">
					            	<span class="client_add" title="添加行">+</span>
					            </div>
				            </div>
		              	</div>		        			
		        	</div>
		        </div>
				
		        <div class="widget_title">
		        	<span class="ico_static_r"></span>
		        	<h3>费用计算</h3>
		        </div>
				
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label">应收单价:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceYsdj" name="priceYsdj" value="0" placeholder="应收单价" onchange="calculate()"></span>
		              	</div>		        			
		        	</div>
		        	<div class="control_group">
                      <label class="control_label">保险应收款:</label>
                      <div class="controls">
                       <span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceBxys" name="priceBxys" value="0" placeholder="保险应收款" onchange="setBxyf();calculate()" ></span>
                      </div>
                    </div>
                    <div class="control_group">
                        <label class="control_label">保险应付款:</label>
                        <div class="controls">
                            <span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceBxyf" name="priceBxyf" value="0" placeholder="保险应付款" onchange="calculate()" ></span>
                        </div>                          
                    </div>
		            <div class="control_group">
		              <label class="control_label">其他应收款:</label>
		              <div class="controls">
		               <span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceQtys" name="priceQtys" value="0" placeholder="其他应收款" onchange="calculate()"> <input type="text" class="text1" maxlength="100" size="20" id="priceQtysBz" name="priceQtysBz" value="" placeholder="其他应收款备注" ></span>
		              </div>
		            </div>
					<div class="control_group">
	        			<label class="control_label">其他应付款:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceQtzc" name="priceQtzc" value="0" placeholder="其他应付款" onchange="calculate()"> <input type="text" class="text1" maxlength="100" size="20" id="priceQtzcBz" name="priceQtzcBz" value="" placeholder="其他应付款备注" ></span>
		              	</div>		        			
		        	</div>
					<div class="control_group">
	        			<label class="control_label">总计应收款:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1"  maxlength="10" size="10" id="priceZjys" name="priceZjys" placeholder="总计应收款" value="0" readonly></span>
		              	</div>		        			
		        	</div>
					<div class="control_group">
	        			<label class="control_label">总计应付款:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1" maxlength="10" size="10" id="priceZjyf" name="priceZjyf" placeholder="总计应付款" value="0" readonly></span>
		              	</div>		        			
		        	</div>
					<div class="control_group">
	        			<label class="control_label">毛利:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1" maxlength="10" size="10" id="grossProfit" name="grossProfit" placeholder="毛利" value="0" readonly></span>
		              	</div>		        			
		        	</div>
		        </div>	        
		        <div class="widget_title">
		        	<span class="ico_remark_r"></span>
		        	<h3>备注信息</h3>
		        </div>
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label">销售备注:</label>
						<div class="controls">
							<textarea class="text3" name="des" id="des" cols="80" rows="8" maxlength="300" placeholder="销售备注"></textarea>
		              	</div>		        			
		        	</div>
		        </div>
		        <div class="widget_content">
                    <div class="control_group">
                        <label class="control_label">操作备注:</label>
                        <div class="controls">
                            <textarea class="text3" name="czdes" id="czdes" cols="80" rows="8" maxlength="300" placeholder="操作备注"></textarea>
                        </div>                          
                    </div>
                </div>
		      </div>
				<div class="form_actions">
					<button type="reset" class="btn btn_reset">重置</button>
	              	<button type="submit" class="btn btn_save">保存</button>
	            </div>			      
		  	</form>
		</div>
	</div>
	<script>
    	jQuery("#continentId").bind("blur",function(e){
            changeCountry();
        }).bind("change",function(e){
            changeCountry();
        });	
		
		jQuery("#countryId").bind("blur",function(e){
            changeProduct();
        }).bind("change",function(e){
            changeProduct();
        });	
        
        
	</script>
#footer()