#header(3,31,"修改订单信息")

<script>
    function setBxyf(){
        var priceBxys=jQuery("#priceBxys").val()==''?0:jQuery("#priceBxys").val();
        var nameListSize=jQuery("#nameListSize").val()==''?0:jQuery("#nameListSize").val();
        var priceBxyf = 0.0;
        priceBxyf = Math.round(priceBxys*nameListSize*100)/100;
        jQuery("#priceBxyf").val(priceBxyf);
    }
    
	function calculate(){
		var priceYsdj=jQuery("#priceYsdj").val()==''?0:jQuery("#priceYsdj").val();
		
	//	var priceYsdj = 0.0
	//	if(jQuery("#priceYsdj").val() == undefined){
	//	}else{
	//		priceYsdj = jQuery("#priceYsdj").val()==''?0:jQuery("#priceYsdj").val();
	//	}
		
		var priceBxys = 0.0
		if(jQuery("#priceBxys").val() == undefined){
		}else{
			priceBxys = jQuery("#priceBxys").val()==''?0:jQuery("#priceBxys").val();
		}
		
        var priceBxyf=0.0;
        if(jQuery("#priceBxyf").val() == undefined){
		}else{
			priceBxyf = jQuery("#priceBxyf").val()==''?0:jQuery("#priceBxyf").val();
		}
		var priceQtys=jQuery("#priceQtys").val()==''?0:jQuery("#priceQtys").val();
		var priceQtzc=jQuery("#priceQtzc").val()==''?0:jQuery("#priceQtzc").val();
		var nameListSize=jQuery("#nameListSize").val()==''?0:jQuery("#nameListSize").val();
		var productPrice=jQuery("#productPrice").val()==''?0:jQuery("#productPrice").val();
		
		var priceZjys = 0.0;
		var priceZjyf = 0.0;
		var grossProfit = 0.0;
		var tmall = 0.0;
		
		if(priceYsdj&&priceQtys&&priceQtzc&&nameListSize){
			priceZjys = Math.round(parseFloat(priceYsdj*100*nameListSize+priceQtys*100+priceBxys*nameListSize*100))/100;
            priceZjyf = Math.round(parseFloat(productPrice*100 * nameListSize+priceQtzc*100+priceBxyf*100))/100;
			grossProfit = Math.round(parseFloat(priceZjys*100 - priceZjyf*100))/100;
			
			tmall = Math.round(parseFloat(priceZjyf*100 + priceZjys*0.02*100))/100;
		}
		
		var cusName =  $("#customerShowName").val();
		if(cusName.indexOf("天猫") >= 0){
		   jQuery("#priceZjyf").val(tmall);
		}else{
		   jQuery("#priceZjyf").val(priceZjyf);
		}
		
		jQuery("#priceZjys").val(priceZjys);
		jQuery("#grossProfit").val(grossProfit);
	}
	
	function calculateByAdmin(){
		var priceZjys = jQuery("#priceZjys").val()==''?0:jQuery("#priceZjys").val();
		var priceZjyf = jQuery("#priceZjyf").val()==''?0:jQuery("#priceZjyf").val();
		var grossProfit = 0.0;
		
		if(priceZjys&&priceZjyf){
			grossProfit = Math.round(parseFloat(priceZjys*100 - priceZjyf*100))/100;
		}
		jQuery("#grossProfit").val(grossProfit);
	}
	
	function getProductPrice(){
		var productId=jQuery("#productId").val();
		if(productId==''){
			return;
		}
		jQuery.ajax({
    	   type: "POST",
		   async:false,
    	   url: "/product/getProductPrice.do",
    	   data:{productId:productId},
    	   success: function(result){
		   		if(result!='error'){
    				jQuery("#productPrice").val(result);
					calculate();
				}
    	   }
		});
	}
	
	function searchCustomer(){
		jQuery("#dropbox").hide();
		var customerName=jQuery("#tempCustomerName").val();
		if(customerName==''){
			return;
		}
		jQuery.ajax({
    	   type: "POST",
    	   url: "/customer/searchCustomer.do",
    	   data:{customerName:customerName},
    	   success: function(result){
		   		var searchResult=jQuery("#searchResult");
    			var customerList=result;
				if(customerList&&customerList.length>0){
    				var html='';
    				for(var i=0;i<customerList.length;i++){
    					html+='<li><a href="javascript:setProductId('+customerList[i].customerId+',\''+customerList[i].customerName+'\')">'+customerList[i].customerName+'</a></li>';
    				}
    				searchResult.empty();
    				searchResult.append(html);
    				jQuery("#dropbox").show();
				}
    	   }
		});
	}
	
	function setProductId(customerId,customerName){
		jQuery("#customerId").val(customerId);
		jQuery("#tempCustomerName").val(customerName);
		jQuery("#customerShowName").val(customerName);
		jQuery("#dropbox").hide();
	}
	
	function changeCountry(){
        var continentId = jQuery("#continentId").val();
        jQuery.ajax({
           type: "POST",
           async:false,
           url: "/country/listByContinentId.do",
           data:{continentId:continentId},
           success: function(result){
                var countryList=result;
                var options='<option value="" selected="selected">请选择</option>';
                for(var i=0;i<countryList.length;i++){
                    options+='<option value='+countryList[i].countryId+'>'+countryList[i].countryName+'</option>';
                }
                jQuery("#countryId option").remove();
                jQuery("#countryId").append(options);
           }
        });
        
        if("1" == continentId){
           $("#baoxian").addClass("js_non_empty");
           $("#baoxianDay").addClass("js_non_empty");
        }else{
           $("#baoxian").removeClass("js_non_empty");
           $("#baoxianDay").removeClass("js_non_empty");
        }
        
    }
	
	function changeProduct(){
        var countryId = jQuery("#countryId").val();
        jQuery.ajax({
           type: "POST",
           async:false,
           url: "/product/searchProduct.do",
           data:{countryId:countryId},
           success: function(result){
                var productList=result;
                var options='<option value="" selected="selected">请选择</option>';
                for(var i=0;i<productList.length;i++){
                    options+='<option value='+productList[i].productId+'>'+productList[i].productName+'</option>';
                }
                jQuery("#productId option").remove();
                jQuery("#productId").append(options);
           }
        });
    }
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>修改订单信息</h2>
			<div class="right"><a class="ico_order_w" title="订单信息管理" href="/orders/list.do?page=1">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="/orders/update.do?page=$!{page}" method="post" class="form_horizontal hq_form">
				
				<input name="salesman" id="salesman" type="hidden" value="$!{searchBean.salesman}"/>
				<input name="operator" id="operator" type="hidden" value="$!{searchBean.operator}"/>
				<input name="seachYfhkStatus" id="seachYfhkStatus" type="hidden" value="$!{searchBean.seachYfhkStatus}"/>
				<input name="seachYshkStatus" id="seachYshkStatus" type="hidden" value="$!{searchBean.seachYshkStatus}"/>
				<input name="startDate" id="startDate" type="hidden" value="$!{searchBean.startDate}"/>
				<input name="endDate" id="endDate" type="hidden" value="$!{searchBean.endDate}"/>
				<input name="seachCountryName" id="seachCountryName" type="hidden" value="$!{searchBean.seachCountryName}"/>
				<input name="seachCustomerName" id="seachCustomerName" type="hidden" value="$!{searchBean.seachCustomerName}"/>
				<input name="seachCustomerCompany" id="seachCustomerCompany" type="hidden" value="$!{searchBean.seachCustomerCompany}"/>
				<input name="seachNameList" id="seachNameList" type="hidden" value="$!{searchBean.seachNameList}"/>
				<input name="orderSeq" id="orderSeq" type="hidden" value="$!{searchBean.orderSeq}"/>
				<input name="deptId" id="deptId" type="hidden" value="$!{searchBean.deptId}"/>
				<input name="orderType" id="orderType" type="hidden" value="$!{searchBean.orderType}"/>
				
				<input name="customerId" id="customerId" type="hidden" value="$!{orders.customerId}"/>
				<input name="orderId" id="orderId" type="hidden" value="$!{orders.orderId}"/>
				<input name="productPrice" id="productPrice" type="hidden" value="$!{product.price}"/>
				<input name="type" id="type" type="hidden" value="$!{orders.type}"/>
				
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_order_r"></span>
		        	<h3>订单基本信息</h3>
		        </div>
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>客户:</label>
						<div class="controls">
							<span class="form_item">
								<input name="customerShowName" id="customerShowName" type="text" class="text1 js_non_empty" placeholder="客户" value="$!{orders.customerName}" onkeydown="searchCustomer()" disabled>
							</span>
		              	</div>
						<label class="control_label"><span class="ico_must"></span>客户搜素框:</label>
						<div class="controls">
							<label class="dropcontrol">
    							<span class="form_item dd">
									<input name="tempCustomerName" id="tempCustomerName" type="text" class="text1" placeholder="客户" value="" onkeyup="searchCustomer()">
        							<div id="dropbox" class="dropbox" style="display:none">
            							<ul id="searchResult">
            							</ul>
        							</div>
    							</span>
							</label>
		              	</div>
		        	</div>
		        	#if(${orders.type}!=0)
		        		<div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>单项产品名称:</label>
	                        <div class="controls">
	                            <span class="form_item">
	                                <input name="singleProduct" id="singleProduct" type="text" class="text1 js_non_empty" maxlength="30" placeholder="单项产品名称" value="${orders.singleProduct}">
	                            </span>
	                        </div>                          
	                    </div>
	                    <div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>产品类型:</label>
	                        <div class="controls">
	                            <span class="form_item">
	                                #if(${orders.type}==1) <input  type="text" class="text1" value="单项产品" readonly> #end
									#if(${orders.type}==2) <input  type="text" class="text1" value="机票" readonly> #end
	                            </span>
	                        </div>                          
	                    </div>
		        	#else
		        		
			            <div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>所属领区:</label>
	                        <div class="controls">
	                            <span class="form_item"><select name="areaId" id="areaId" class="text2 js_non_empty" placeholder="所属领区">
	                                <option value="" selected="selected">请选择</option>
									#foreach($one in $areaList)
	                                <option value="$one.areaId"$fn.selected(${product.areaId}, $one.areaId)>$one.areaName</option>
	                                #end
	                            </select></span>
	                        </div>                          
	                    </div>
	                    <div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>所属地区:</label>
	                        <div class="controls">
	                            <span class="form_item"><select name="continentId" id="continentId" class="text2 js_non_empty" placeholder="所属地区">
	                                <option value="" selected="selected">请选择</option>
									#foreach($one in $fn.continentOptions().entrySet())
	                                <option value="$one.key"$fn.selected(${product.continentId}, $one.key)>$one.value.name</option>
	                                #end
	                            </select></span>
	                        </div>                          
	                    </div>
	                    
	                    <div class="control_group">
	                        <label class="control_label"><span class="ico_must">*</span>国家名称:</label>
	                        <div class="controls">
	                            <span class="form_item"><select name="countryId" id="countryId" class="text2 js_non_empty" placeholder="国家名称">
	                                <option value="" selected="selected">请选择</option>
									#foreach($one in $countryList)
										<option value="$one.countryId"$fn.selected(${product.countryId}, $one.countryId)>$one.countryName</option>
	                                #end
	                            </select></span>
	                        </div>                          
	                    </div>
			        	<div class="control_group">
		        			<label class="control_label"><span class="ico_must">*</span>选择产品:</label>
							<div class="controls">
			               		<span class="form_item"><select name="productId" id="productId" class="text2 js_non_empty" placeholder="产品" onchange="getProductPrice()">
									<option value="" selected="selected">请选择</option>
									#foreach($one in $productList)
										<option value="$one.productId"$fn.selected(${orders.productId}, $one.productId)>$one.productName</option>
	                                #end
								</select></span>
			              	</div>		        			
			        	</div>
		        	#end
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>下单日期:</label>
		              <div class="controls">
		               <span class="form_item"><input name="orderDate" id="orderDate" type="text"  class="text1 js_datepicker js_non_empty" maxlength="10" size="10" placeholder="下单日期" value="$fn.format($!{orders.orderDate},'yyyy-MM-dd')"></span>
		              </div>
		            </div>	
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>客人数量:</label>
		              <div class="controls">
		               <span class="form_item"><input name="nameListSize" id="nameListSize" type="text" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="客人数量" value="$!{orders.nameListSize}" onchange="calculate()"></span>
		              </div>
		            </div>	
					
					<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>客人信息:</label>
						<div class="controls">
		               		<div class="client_operate js_client_operate">
			               		<table cellpadding="0" cellspacing="0" class="client_table_data table_data">
					                <thead>
					                    <tr>
					                        <th>序号</th><th>客人信息</th>
					                    </tr>
					                </thead>
					                <tbody>
										#foreach($custom in $customList)
					                    <tr>
											#if($userRoleId==${fn.getSalesmanRoleId()}||${fn.isAdminRoleId($userRoleId)}||$userRoleId==${fn.getFinanceRoleId()})
												<td>${velocityCount}</td>
												<td>
													姓名:<input type="text" class="tb_text" name="tempName" value="$!{custom.name}" placeholder="客户姓名" style="width:20%;"/>
													联系方式:<input type="text" class="tb_text" name="tempContact" value="$!{custom.contact}" placeholder="联系方式" style="width:30%;"/>
													住址:<input type="text" class="tb_text" name="tempAddr" value="$!{custom.addr}" placeholder="住址" style="width:40%;"/>
													<span name="delName" class="client_delete" title="删除行">-</span>
												</td>
											#else
												<td>${velocityCount}</td>
												<td>
													姓名:<input type="text" class="tb_text" name="tempName" value="$!{custom.name}" style="width:20%;" readonly />
													联系方式:<input type="text" class="tb_text" name="tempContact" value="$!{custom.contact}" style="width:30%;" readonly />
													住址:<input type="text" class="tb_text" name="tempAddr" value="$!{custom.addr}" style="width:40%;" readonly />
												</td>
											#end
										</tr>    
										#end
					                </tbody>
					            </table><span class="form_item"><input type="hidden" class="js_non_empty" id="nameList" name="nameList" value="$!{orders.nameList}" placeholder="客人信息"></span>
					            #if($userRoleId==${fn.getSalesmanRoleId()}||${fn.isAdminRoleId($userRoleId)})
    								<div class="client_operate_btns">
    					            	<span id="addName" class="client_add" title="添加行">+</span>
    					            </div>
								#end
				            </div>
		              	</div>		        			
		        	</div>
		        </div>
				#if($userRoleId==${fn.getManagerRoleId()}||${fn.isAdminRoleId($userRoleId)})
					<div class="widget_title">
    		        	<span class="ico_static_r"></span>
    		        	<h3>操作信息</h3>
    		        </div>
    		        <div class="widget_content">
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>选择操作员:</label>
    		              <div class="controls">
    		               <span class="form_item"><select name="operatorId" id="operatorId" class="text2 js_non_empty" placeholder="操作员">
								<option value="" selected="selected">请选择</option>
								#foreach($operator in $operatorList)
    									<option value="$!{operator.userId}" #if($orders.operatorId==$!{operator.userId}) selected #end>$!{operator.userName}</option>
    							#end
							</select></span>
    		              </div>
    		            </div>  
					</div>
				#end
				##if($userRoleId==${fn.getOperatorRoleId()}||${fn.isAdminRoleId($userRoleId)})
				#if(${orders.type}!=1)
    				<div class="widget_title">
    		        	<span class="ico_static_r"></span>
    		        	<h3>送签信息</h3>
    		        </div>
    		        <div class="widget_content">
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">&nbsp;</span>送签日期:</label>
    		              <div class="controls">
    		               <span class="form_item"><input type="text"  class="text1 js_datepicker" maxlength="10" size="10" placeholder="送签日期" name="signDate" id="signDate" value="$fn.format($!{orders.signDate},'yyyy-MM-dd')"></span>
    		              </div>
    		            </div>  
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">&nbsp;</span>送签员:</label>
    		              <div class="controls">
    		               	<span class="form_item"><input type="text" class="text1" maxlength="10" size="10" placeholder="送签员" name="signOperatorName" id="signOperatorName" value="$!{orders.signOperatorName}"></span>
    		              </div>
    		            </div>	
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">&nbsp;</span>目前状态:</label>
    		              <div class="controls">
    		                <span class="form_item"><select name="operatorDes" id="operatorDes" class="text2" placeholder="目前状态">
                                <option value="" selected="selected">请选择</option>
                                <option value="等待材料补充" #if($!{orders.operatorDes}=="等待材料补充") selected #end>等待材料补充</option>
                                <option value="待进使馆/面试" #if($!{orders.operatorDes}=="待进使馆/面试") selected #end>待进使馆/面试</option>
                                <option value="已进使馆/面试" #if($!{orders.operatorDes}=="已进使馆/面试") selected #end>已进使馆/面试</option>
                                <option value="签证出签" #if($!{orders.operatorDes}=="签证出签") selected #end>签证出签</option>
                                <option value="签证拒签" #if($!{orders.operatorDes}=="签证拒签") selected #end>签证拒签</option>
                                <option value="订单取消" #if($!{orders.operatorDes}=="订单取消") selected #end>订单取消</option>
                            </select></span>
    		              </div>
    		            </div> 
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">&nbsp;</span>送签备注:</label>
    		              <div class="controls">
    		               <span class="form_item"><input type="text" class="text1" maxlength="50" size="30" placeholder="送签备注" name="operatorRemark" id="operatorRemark" value="$!{orders.operatorRemark}"></span>
    		              </div>
    		            </div> 
    				</div>	
    			#end
				##end
				#if($userRoleId==${fn.getSalesmanRoleId()}||${fn.isAdminRoleId($userRoleId)}||$userRoleId==${fn.getFinanceRoleId()}||$userRoleId==${fn.getOperatorRoleId()}||$userRoleId==8 )
		        <div class="widget_title">
		        	<span class="ico_static_r"></span>
		        	<h3>费用计算</h3>
		        </div>
		        <div class="widget_content">
		            #if($userRoleId==${fn.getSalesmanRoleId()}||${fn.isAdminRoleId($userRoleId)}||$userRoleId==${fn.getFinanceRoleId()} || $userRoleId==8 ||$userRoleId==${fn.getOperatorRoleId()})
		        	<div class="control_group" #if($userRoleId==${fn.getOperatorRoleId()}) style="display:none" #end  >
	        			<label class="control_label"><span class="ico_must">*</span>应收单价:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceYsdj" name="priceYsdj" placeholder="应收单价" value="$!{orders.priceYsdj}" onchange="calculate()"></span>
		              	</div>		        			
		        	</div>
		        	#end

                    #if($userRoleId==${fn.getSalesmanRoleId()}||${fn.isAdminRoleId($userRoleId)}||$userRoleId==${fn.getFinanceRoleId()} || $userRoleId==8 ||$userRoleId==${fn.getOperatorRoleId()})
		            <div class="control_group" #if($userRoleId==${fn.getOperatorRoleId()}) style="display:none" #end>
		              <label class="control_label"><span class="ico_must">*</span>其他应收款:</label>
		              <div class="controls">
		               <span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceQtys" name="priceQtys" placeholder="其他应收款" value="$!{orders.priceQtys}" onchange="calculate()"> <input type="text" class="text1" maxlength="100" size="20" id="priceQtysBz" name="priceQtysBz" value="$!{orders.priceQtysBz}" placeholder="其他应收款备注" ></span>
		              </div>
		            </div>
					<div class="control_group" #if($userRoleId==${fn.getOperatorRoleId()}) style="display:none" #end >
		              <label class="control_label"><span class="ico_must">*</span>其他应付款:</label>
		              <div class="controls">
		               <span class="form_item"><input type="text" class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceQtzc" name="priceQtzc" placeholder="其他应付款" value="$!{orders.priceQtzc}" onchange="calculate()"> <input type="text" class="text1" maxlength="100" size="20" id="priceQtzcBz" name="priceQtzcBz" value="$!{orders.priceQtzcBz}" placeholder="其他应付款备注" #if($userRoleId==${fn.getOperatorRoleId()}) readOnly="readOnly" #end></span>
		              </div>
		            </div>

					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>保险选项:</label>
						<div class="controls">
		               		<span class="form_item"><select name="baoxian" id="baoxian" class="text2" onchange="selectbaxian(this)" placeholder="保险选项">
								<option value="" selected="selected">请选择</option>
    							<option value="1" #if($orders.baoxian=='1') selected #end>张进发保险</option>
								<option value="2" #if($orders.baoxian=='2') selected #end>吴迪保险</option>
								<option value="3" #if($orders.baoxian=='3') selected #end>客人自备</option>
							</select></span>
		              	</div>		        			
		        	</div>
					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>天数:</label>
						<div class="controls">
		               		<span class="form_item">
		               		    <input type="text" onchange="calculateBaoXian(this)"  class="text1" maxlength="10" size="10" id="baoxianDay" name="baoxianDay" placeholder="保险天数" value="$!{orders.baoxianDay}" >
							</select></span>
		              	</div>		        			
		        	</div>
					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>保险费用:</label>
						<div class="controls">
		               		<span class="form_item">
		               		    <input type="text" onchange="cal()"  class="text1 cal" maxlength="10" size="10" id="baoxianPrice" name="baoxianPrice" placeholder="保险费用" value="$!{orders.baoxianPrice}" >
							</select></span>
		              	</div>		        			
		        	</div>
					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>认证:</label>
						<div class="controls">
						    <span class="form_item">
						     <input type="text" onchange="cal()"  class="text1" maxlength="10" size="10" id="renzheng" name="renzheng" placeholder="认证费用" value="$!{orders.renzheng}" >
		                     <input type="text" class="text1" maxlength="100" size="20" id="renzhengRemark" name="renzhengRemark" value="$!{orders.renzhengRemark}" placeholder="认证费用备注" >
		              	</div>		        			
		        	</div>
					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>快递:</label>
						<div class="controls">
		               		<span class="form_item">
		               		    <input type="text" class="text1" onchange="cal()" maxlength="10" size="10" id="kuaidi" name="kuaidi" placeholder="保险费用" value="$!{orders.kuaidi}" >
							</select></span>
		              	</div>		        			
		        	</div>
					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>多开发票税点:</label>
						<div class="controls">
		               		<span class="form_item">
		               		    <input type="text" class="text1" onchange="cal()" maxlength="10" size="10" id="tax" name="tax" placeholder="多开发票税点" value="$!{orders.tax}" >
							</select></span>
		              	</div>		        			
		        	</div>
		        	
					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>返款:</label>
						<div class="controls">
		               		<span class="form_item">
		               		    <input type="text" class="text1" onchange="cal()" maxlength="10" size="10" id="fankuan" name="fankuan" placeholder="返款" value="$!{orders.fankuan}" >
							</select></span>
		              	</div>		        			
		        	</div>
		        	
					<div class="control_group">
		               <label class="control_label"><span class="ico_must"></span>其他:</label>
						<div class="controls">
		               		<span class="form_item">
		               		    <input type="text" class="text1" onchange="cal()"  maxlength="10" size="10" id="qita" name="qita" placeholder="其他费用" value="$!{orders.qita}" >
								<input type="text" class="text1" maxlength="100" size="20" id="qitaComments" name="qitaComments" value="$!{orders.qitaComments}" placeholder="其他费用备注" >
							</select></span>
		              	</div>		        			
		        	</div>
		           <div class="control_group" #if($userRoleId==${fn.getOperatorRoleId()}) style="display:none" #end >
	        			<label class="control_label">总计应收款:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1" maxlength="10" size="10" id="priceZjys" name="priceZjys" placeholder="总计应收款" value="$!{orders.priceZjys}" readonly></span>
		              	</div>		        			
		        	</div>
					<div class="control_group" #if($userRoleId==${fn.getOperatorRoleId()}) style="display:none" #end >
	        			<label class="control_label">总计应付款:</label>
						<div class="controls">
		               		<span class="form_item">
								#if(${fn.isAdminRoleId($userRoleId)}||$userRoleId==${fn.getFinanceRoleId()})
									<input type="text"  class="text1 js_nan js_non_empty" maxlength="10" size="10" id="priceZjyf" name="priceZjyf" placeholder="总计应付款" value="$!{orders.priceZjyf}" onchange="calculateByAdmin()">
								#else
									<input type="text"  class="text1" maxlength="10" size="10" id="priceZjyf" name="priceZjyf" placeholder="总计应付款" value="$!{orders.priceZjyf}" readonly >
								#end
							</span>
		              	</div>		        			
		        	</div>
		           <script>
							function cal(){
							
							     var baoxian = parseFloat($("#baoxianPrice").val()==''?0:$("#baoxianPrice").val());
							     var renzheng = parseFloat($("#renzheng").val()==''?0:$("#renzheng").val());
							     var kuaidi = parseFloat($("#kuaidi").val()==''?0:$("#kuaidi").val());
							     var tax = parseFloat($("#tax").val()==''?0:$("#tax").val());
							     var fankuan = parseFloat($("#fankuan").val()==''?0:$("#fankuan").val());
							     var qita = parseFloat($("#qita").val()==''?0:$("#qita").val());
							     var nameListSize=jQuery("#nameListSize").val()==''?0:jQuery("#nameListSize").val();
							     
							     var total = Math.round((baoxian*nameListSize + renzheng + kuaidi + tax + fankuan + qita)*100)/100;
							     $("#priceQtzc").val(total);
							     calculate();
							}
							
				  </script>
		        	
					<div class="control_group" #if($userRoleId==${fn.getOperatorRoleId()}) style="display:none" #end>
	        			<label class="control_label">预计毛利:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1" maxlength="10" size="10" id="grossProfit" name="grossProfit" placeholder="毛利" value="$!{orders.grossProfit}" readonly></span>
		              	</div>		        			
		        	</div>
		        	#end		            
		        </div>	  
				#end
		        <div class="widget_title">
		        	<span class="ico_remark_r"></span>
		        	<h3>备注信息</h3>
		        </div>
		        <div class="widget_content">
					#if($userRoleId==${fn.getFinanceRoleId()}||${fn.isAdminRoleId($userRoleId)} || $userRoleId==8 )
					<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>付款状态:</label>
						<div class="controls">
		               		<span class="form_item"><select name="yfhkStatus" id="yfhkStatus" class="text2 js_non_empty" placeholder="付款状态" onchange="processYfhk()">
								<option value="" selected="selected">请选择</option>
    							<option value="1" #if($orders.yfhkStatus=='1') selected #end>未付款</option>
								<option value="2" #if($orders.yfhkStatus=='2') selected #end>部分付款</option>
								<option value="3" #if($orders.yfhkStatus=='3') selected #end>已付全款</option>
							</select></span>
		              	</div>		
						<script>
							function processYfhk(){
								var yfhkStatus=jQuery("#yfhkStatus").val();
								if(yfhkStatus=='1'){
									jQuery("#priceYfhk").val(0);
									jQuery("#priceYfhk").removeClass('js_non_empty');
									jQuery("#priceYfhk").attr("readonly","readonly");
								}else{
									jQuery("#priceYfhk").addClass('js_non_empty');
									jQuery("#priceYfhk").removeAttr("readonly");
								}
							}
							
						</script>
						<label class="control_label"><span class="ico_must">*</span>已付货款:</label>
						<div class="controls">
							<span class="form_item"><input type="text" class="text1 js_nan" maxlength="10" size="10" id="priceYfhk" name="priceYfhk" placeholder="已付货款" value="$!{orders.priceYfhk}"></span>
		              	</div>	
	        			<label class="control_label">付款备注:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1" maxlength="50" size="20" id="yfhkRemark" name="yfhkRemark" placeholder="付款备注" value="$!{orders.yfhkRemark}""></span>
		              	</div>		
						<label class="control_label"><span class="ico_must">*</span>收款状态:</label>
						<div class="controls">
		               		<span class="form_item"><select name="yshkStatus" id="yshkStatus" class="text2 js_non_empty" placeholder="收款状态" onchange="processYshk()">
								<option value="" selected="selected">请选择</option>
    							<option value="1" #if($orders.yshkStatus=='1') selected #end>未收款</option>
								<option value="2" #if($orders.yshkStatus=='2') selected #end>部分收款</option>
								<option value="3" #if($orders.yshkStatus=='3') selected #end>已收全款</option>
							</select></span>
		              	</div>
						<script>
							function processYshk(){
								var yshkStatus=jQuery("#yshkStatus").val();
								if(yshkStatus=='1'){
									jQuery("#priceYshk").val(0);
									jQuery("#priceYshk").removeClass('js_non_empty');
									jQuery("#priceYshk").attr("readonly","readonly");
								}else{
									jQuery("#priceYshk").addClass('js_non_empty');
									jQuery("#priceYshk").removeAttr("readonly");
								}
							}
						</script>
						<label class="control_label"><span class="ico_must">*</span>已收货款:</label>
						<div class="controls">
							<span class="form_item"><input type="text" class="text1 js_nan" maxlength="10" size="10" id="priceYshk" name="priceYshk" placeholder="已收货款" value="$!{orders.priceYshk}"></span>
		              	</div>	
		        	</div>
		        	
	        			<label class="control_label">收款备注:</label>
						<div class="controls">
		               		<span class="form_item"><input type="text" class="text1" maxlength="50" size="20" id="yshkRemark" name="yshkRemark" placeholder="收款备注" value="$!{orders.yshkRemark}""></span>
		              	</div>		
		        		<label class="control_label"><span class="ico_must"></span>实际毛利:</label>
						<div class="controls">
							<span class="form_item"><input type="text" class="text1 js_nan" maxlength="10" size="10" id="maoli" placeholder="毛利" value=$!{maoli}></span>
		              	</div>
		               <label class="control_label"><span class="ico_must"></span>发票:</label>
						<div class="controls">
		               		<span class="form_item"><select name="fapiao" id="fapiao" class="text2" onchange="fapiao()">
								<option value="" selected="selected">请选择</option>
    							<option value="1" #if($orders.fapiao=='1') selected #end>已开</option>
								<option value="2" #if($orders.fapiao=='2') selected #end>未开</option>
							</select></span>
		              	</div>
					#end
		        	<div class="control_group">
	        			<label class="control_label">销售备注:</label>
						<div class="controls">
							<textarea class="text3" #if($userRoleId!=${fn.getSalesmanRoleId()}) readonly="readonly" #end id="des" name="des" cols="55" rows="8"  width="300" placeholder="销售备注" maxlength="200">$!{orders.des}</textarea>
		              	</div>		        			
		        	</div>
		        	<div class="control_group">
                        <label class="control_label">操作备注:</label>
                        <div class="controls">
                            <textarea class="text3" #if($userRoleId!=${fn.getOperatorRoleId()}) readonly="readonly" #end id="czdes" name="czdes" cols="55" rows="8"  width="300"  placeholder="操作备注" maxlength="200">$!{orders.czdes}</textarea>
                        </div>                          
                    </div>
		        	<div class="control_group">
                        <label class="control_label">财务备注:</label>
                        <div class="controls">
                            <textarea class="text3" #if($userRoleId!=${fn.getFinanceRoleId()} && $userRoleId!=8 ) readonly="readonly" #end id="cwdes" name="cwdes"  cols="55" rows="8"   width="300" placeholder="财务备注" maxlength="200">$!{orders.cwdes}</textarea>
                        </div>                          
                    </div>
		        </div>
		      </div>
				<div class="form_actions">
					<button type="reset" class="btn btn_reset">重置</button>
	              	<button type="submit" class="btn btn_save">保存</button>
	            </div>			      
		  	</form>
		</div>
	</div>
	<script>
	    $("#baoxianDay").attr("readOnly","readOnly");
	    $("#baoxianPrice").attr("readOnly","readOnly");
	    var btype2 = $("#baoxian option:selected").val(); 
	    
	    var continentId = jQuery("#continentId").val();
	    if("1" == continentId){
           $("#baoxian").addClass("js_non_empty");
           $("#baoxianDay").addClass("js_non_empty");
           if("3" == btype2){
              $("#baoxianDay").removeClass("js_non_empty");
           }
        }else{
           $("#baoxian").removeClass("js_non_empty");
           $("#baoxianDay").removeClass("js_non_empty");
         }
	    
        function calculateBaoXian(obj){
            var btype = $("#baoxian option:selected").val();
            var nameListSize=jQuery("#nameListSize").val()==''?0:jQuery("#nameListSize").val();
            
            if("" == btype){
                $("#baoxianDay").attr("readOnly","readOnly");
                $("#baoxianDayPrice").attr("readOnly","readOnly");
                return ;           
            }else{
                $("#baoxianDay").removeAttr("readOnly");
	    		$("#baoxianPrice").removeAttr("readOnly");       
            }
            
            var num = $("#nameListSize").val();
            var day = parseInt(obj.value);
            
            if(!day){
                return;
            }
            var price;
            if(isNaN(obj.value)){
               $(obj).val("");
               alert("请输入正整数");
               $(obj).focus();
               return;
            }
            var ns = day - 14;
            var dis = parseInt(day / 5);
            var baoxiancb = 0;
            
            if("1" == btype){
              
               if(day <= 10){
                  baoxiancb = 115;
               }else if(day >= 11 && day <= 15){
                  baoxiancb = 150;
               }else if(day >=16 && day <= 20){
               	  baoxiancb = 180;
               }else if(day >=21 && day <= 30){
                  baoxiancb = 230;
               }else if(day >= 31 && day <= 60){
               	  baoxiancb = 390;
               }else if(day >= 61 && day <= 90){
                  baoxiancb = 560;
               }else if(day >= 91 && day <= 180){
                  baoxiancb = 1090;
               }
               price = baoxiancb * 0.6 * num;
          
            }else if("2" == btype){
                 
                 if(ns <= 0){
                    price = 30*num;
                 }else{
                    price = (30 + ns*2)*num;
                 }  
            }else{
                price = 0.0;
            }
            
            $("#baoxianPrice").val(price);
            cal();
        }
        
        function selectbaxian(obj){
        
             var btype = $("#baoxian option:selected").val(); 
             
             if("" == btype || "3" == btype){
                $("#baoxianDay").attr("readOnly","readOnly").val("");
                $("#baoxianPrice").attr("readOnly","readOnly").val("");
             }else{
                $("#baoxianDay").removeAttr("readOnly").val("");
	    		$("#baoxianPrice").removeAttr("readOnly").val("");  
	    		$("#baoxianDay").addClass("js_non_empty");
             }
             
             if("3" == btype){
                $("#baoxianDay").removeClass("js_non_empty");
            }
             cal();
        }
        
        
	</script>
	<script>
		jQuery("#continentId").bind("blur",function(e){
            changeCountry();
        }).bind("change",function(e){
            changeCountry();
        });	
		
		jQuery("#countryId").bind("blur",function(e){
            changeProduct();
        }).bind("change",function(e){
            changeProduct();
        });	
	</script>
	<script>
    	var userRole='$!{userRoleId}';
    	if(userRole!='2'&&userRole!='1'){
    		jQuery("#tempCustomerName").attr("disabled", "disabled");
    		jQuery("#areaId").attr("disabled", "disabled");
    		jQuery("#continentId").attr("disabled", "disabled");
    		jQuery("#countryId").attr("disabled", "disabled");
    		if(userRole!='5'&& userRole!='8'){
    			jQuery("#productId").attr("disabled", "disabled");
    		}else{
    		}
    		
    		jQuery("#orderDate").attr("disabled", "disabled");
    		jQuery("#nameListSize").attr("disabled", "disabled");
        	
			if(userRole=='5'){
        		//jQuery("#priceYsdj").attr("disabled", "disabled");
        		//jQuery("#priceQtys").attr("disabled", "disabled");
        		//jQuery("#priceQtzc").attr("disabled", "disabled");
        		//jQuery("#priceZjys").attr("disabled", "disabled");
        		//jQuery("#priceZjyf").attr("disabled", "disabled");
        		//jQuery("#grossProfit").attr("disabled", "disabled");
        	}
    	}
    </script>
	
	#if($userRoleId==${fn.getFinanceRoleId()}||${fn.isAdminRoleId($userRoleId)})
	<script>
		processYfhk();
		processYshk();
	</script>
	#end
#footer()