#header(3,31,"订单信息管理")
<script>
	function updateOrder(formUrl){
		jQuery("#form1").attr("action",formUrl);
		jQuery("#form1").submit();
		jQuery("#form1").attr("action","/orders/list.do");
	}
	
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_w"></span><h2>订单信息管理</h2>
			#if($userRoleId==${fn.getSalesmanRoleId()})
				<div class="left" style="margin-left: 10px;"><a class="ico_order_add" title="新增订单信息" href="/orders/add.do">+</a></div>
			#end
		</div>
		<div class="maincon_fluid">
		<form id="form1" name="form1" action="/orders/list.do" method="post" class="form_horizontal">
			<input type="hidden" id="page" name="page" value="1">
    		<div class="searchbox">
    			<label for="s_client">订单类型：
    				<select name="orderType" id="orderType" class="text" onchange="conditionSearch(1)">
    					<option value="" selected="selected">全部</option>
						<option value="0" #if(${searchBean.orderType}==0) selected="selected" #end>普通订单</option>
						<option value="1" #if(${searchBean.orderType}==1) selected="selected" #end>单项产品订单</option>
					</select>
   				</label>
   				<label for="s_client">订单号：<input type="text" name="orderSeq" value="$!{searchBean.orderSeq}" />
   				</label>
				#if(${fn.isAdminRoleId($userRoleId)}||$userRoleId==${fn.getFinanceRoleId()})
					<label for="s_client">所属部门：
    					<select name="deptId" id="deptId" class="text" onchange="conditionSearch(1)">
    						<option value="" selected="selected">全部</option>
    						#foreach($one in $deptList)
    							<option value="$one.name"$fn.selected(${searchBean.deptId}, $one.name)>$one.name</option>
                            #end
    					</select>
    				</label>
				
    				<label for="s_client">所属销售：
    					<select name="salesman" id="salesman" class="text" onchange="conditionSearch(1)">
    						<option value="" selected="selected">全部</option>
    						#foreach($one in $salesmanList)
    							<option value="$one.userId"$fn.selected(${searchBean.salesman}, $one.userId)>$one.userName</option>
                            #end
    					</select>
    				</label>
    				
					<label for="s_client">所属操作员：
    					<select name="operator" id="operator" class="text" onchange="conditionSearch(1)">
    						<option value="" selected="selected">全部</option>
    						#foreach($one in $operatorList)
    							<option value="$one.userId"$fn.selected(${searchBean.operator}, $one.userId)>$one.userName</option>
                            #end
    					</select>
    				</label>
				#end
				<label for="s_client">付款状态：
					<select name="seachYfhkStatus" id="seachYfhkStatus" class="text" onchange="conditionSearch(1)">
						<option value="" selected="selected">全部</option>
						<option value="1" #if(${searchBean.seachYfhkStatus}==1) selected="selected" #end>未付款</option>
						<option value="2" #if(${searchBean.seachYfhkStatus}==2) selected="selected" #end>部分付款</option>
						<option value="3" #if(${searchBean.seachYfhkStatus}==3) selected="selected" #end>已付全款</option>
					</select>
				</label>
				<label for="s_client">收款状态：
					<select name="seachYshkStatus" id="seachYshkStatus" class="text" onchange="conditionSearch(1)">
						<option value="" selected="selected">全部</option>
						<option value="1" #if(${searchBean.seachYshkStatus}==1) selected="selected" #end>未收款</option>
						<option value="2" #if(${searchBean.seachYshkStatus}==2) selected="selected" #end>部分收款</option>
						<option value="3" #if(${searchBean.seachYshkStatus}==3) selected="selected" #end>已收全款</option>
					</select>
				</label>
			</div>
			<div class="searchbox">
				<label for="s_client">国家：<input id="seachCountryName" name="seachCountryName" type="text" class="s_client searchtx" placeholder="国家" value="$!{searchBean.seachCountryName}"></label>
    			<label for="s_client">客户姓名：<input id="seachCustomerName" name="seachCustomerName" type="text" class="s_client searchtx" placeholder="客户姓名" value="$!{searchBean.seachCustomerName}"></label>
				<label for="s_client">客户公司：<input id="seachCustomerCompany" name="seachCustomerCompany" type="text" class="s_client searchtx" placeholder="客户姓名" value="$!{searchBean.seachCustomerCompany}"></label>
    			<label for="s_guest">客人姓名：<input id="seachNameList" name="seachNameList" type="text" class="s_guest searchtx" placeholder="客人姓名" value="$!{searchBean.seachNameList}"></label>	
    		</div>
			<div class="searchbox">
				<label for="s_ordertime">开始时间：<input id="startDate" name="startDate" type="text" class="s_ordertime searchtx js_datepicker" size="10" placeholder="开始时间" value="$!{searchBean.startDate}"></label>
    			<label for="s_ordertime">结束时间：<input id="endDate" name="endDate" type="text" class="s_ordertime searchtx js_datepicker" size="10" placeholder="结束时间" value="$!{searchBean.endDate}"></label>
    			<label for="searchbtn"><input id="searchbtn" type="submit" name="" class="searchbtn" value="搜索" ></label>	
			</div>
		</form>
		#if($sumPrice)
		<hr class="hr_a">
		<div class="widget_mng_box">
		#if($userRoleId==${fn.getSalesmanRoleId()} || ${fn.isAdminRoleId($userRoleId)})
			<table cellpadding="0" cellspacing="0" width="400" class="table_data tcenter">
				<tbody>
	            	<tr>
	            		<td>总计应收:</td><td>$!{sumPrice.sumzjys}</td>
	            		<td>总计应付:</td><td>$!{sumPrice.sumzjyf}</td>
	            		<td>毛利:</td><td>$!{sumPrice.sumlr}</td>
	            		<!--td>总计未收:</td><td>$!{sumPrice.sumwshk}</td--!>
	            	</tr>
	            </tbody>
			</table>
		#end
		</div>
		#end
		<hr class="hr_a">
			<div class="widget_mng_box">
				<table cellpadding="0" cellspacing="0" width="100%" class="table_data tcenter">
	                <thead>
	                    <tr>
							<th width="">订单号</th>
							<th width="">订单类型</th>
							<th width="">产品名称</th>
							<th width="">销售</th>
	                        <th width="">客户姓名</th>
							<th width="">客户公司</th>
							<th width="">客人数量</th>
	                        <th width="">签证国家</th>
	                        <th width="">下单日期</th>
	                        <th width="">总计应收</th>
	                        <th width="">总计应付</th>
							#if($userRoleId!=${fn.getFinanceRoleId()})
	                        <th width="">送签日期</th>
	                        <th width="">目前状态</th>
							#end
	                        <th width="">操作员</th>
							<th width="">付款状态</th>
							<th width="">收款状态</th>
	                        <th width="">修改</th>
	                        #if(${fn.isAdminRoleId($userRoleId)})<th width="">删除</th>#end
	                    </tr>
	                </thead>
	                <tbody>
						#foreach($order in $orderList)
    	                    <tr>
								<td>$!{order.orderSeq}</td>
								#if($!{order.type}==1)
									<td>单项产品</td>
								#else
									<td>签证</td>
								#end
								<td>$!{order.singleProduct}</td>
								<td>$!{order.salesmanName}</td>
    	                        <td>$!{order.customerName}</td>
    	                        <td title="$!{order.customerCompany}">${fn.shortenStr(${order.customerCompany},8)}</td>
								<td>$!{order.nameListSize}人</td>
    	                        <td>#if($!{order.type}!=1)$!{order.countryName}#end</td>
    	                        <td>$fn.format($!{order.orderDate},'yyyy-MM-dd')</td>
								<td>$!{order.priceZjys}</td>
								<td>$!{order.priceZjyf}</td>
								#if($userRoleId!=${fn.getFinanceRoleId()})
    	                        <td>$fn.format($!{order.signDate},'yyyy-MM-dd')</td>
    	                        <td>$!{order.operatorDes}</td>
								#end
    	                        <td>$!{order.operatorName}</td>
    	                        <td>$fn.getPriceStatus($!{order.yfhkStatus})#if($!{order.yfhkStatus}==2) $!{order.priceYfhk}元 #end</td>
								<td>$fn.getYshkStatus($!{order.yshkStatus})#if($!{order.yshkStatus}==2) $!{order.priceYshk}元 #end</td>
    	                        <td><a class="ico_edit_g" href="javascript:updateOrder('/orders/edit.do?orderId=$!{order.orderId}&currentPage=${page}')"></a></td>
    	                        #if(${fn.isAdminRoleId($userRoleId)})<td><a class="ico_delete_r" onclick="return confirm('是否将此订单删除?')" href="/orders/delete.do?orderId=$!{order.orderId}&page=${page}"></a></td>#end
    	                    </tr>
						#end
	                </tbody>
	            </table>
	        </div>
			#generatePage()
			</div>
	</div>
#footer()