#header($topNav,$secNav,$title)
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>$title</h2>
			<div class="right"><a class="ico_order_w" title="客户信息管理" href="list.do">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="${action}.do" method="post" class="form_horizontal hq_form">
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_client_r"></span>
		        	<h3>客户基本信息</h3>
		        </div>
                #if("$action"=="update")
                <input value="$!{customer.customerId}" type="hidden" id="customerId" name="customerId">
                <input value="$!{page}" type="hidden" name="page">
                #end
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>客户姓名:</label>
						<div class="controls">
                            <span class="form_item"><input value="$!{customer.customerName}" type="text" class="text1 js_non_empty" name="customerName" placeholder="客户姓名" maxlength="20" size="20"/></span>
		              	</div>		        			
		        	</div>
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>公司:</label>
						<div class="controls">
                            <span class="form_item"><input value="$!{customer.company}" type="text" class="text1 js_non_empty" name="company" placeholder="公司" maxlength="100" size="100"/></span>
		              	</div>		        			
		        	</div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>电话(手机\固话):</label>
                        <div class="controls">
                            <span class="form_item"><input value="$!{customer.telephone}" type="text" class="text1 js_non_empty" id="telephone" name="telephone" placeholder="电话" maxlength="50" size="11"/></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label">QQ:</label>
                        <div class="controls">
                            <span class="form_item"><input value="$!{customer.qq}" type="text" class="text1" id="qq" name="qq" placeholder="QQ" maxlength="20" size="11"/></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>地址:</label>
                        <div class="controls">
                            <span class="form_item"><input value="$!{customer.address}" type="text" class="text1 js_non_empty" name="address" placeholder="地址" maxlength="200" size="200"/></span>
                        </div>                          
                    </div>
                    #if(${session.getAttribute("session_user").roleId}==1)
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>所属销售:</label>
                        <div class="controls">
                            <select name="salesmanId" id="" class="text2">
                                #foreach($one in $salesmanList)
                                <option value="$one.userId"$fn.selected(${customer.salesmanId}, $one.userId)>$one.userName</option>
                                #end
                            </select>
                        </div>                          
                    </div>
                    #end
                    <div class="control_group">
                        <label class="control_label">备注:</label>
                        <div class="controls">
                            <textarea class="text3" name="des" id="" cols="80" rows="8" placeholder="备注" maxlength="1000" size="1000">$!{customer.des}</textarea>
                        </div>                          
                    </div>
		        </div>
		      </div>
                <div class="form_actions">
    				<button type="reset" class="btn btn_reset">重置</button>
                  	<button type="submit" class="btn btn_save">保存</button>
                </div>			      
		  	</form>
		</div>
	</div>
#footer()