#header(9,92,"新增部门信息")
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>$title</h2>
			<div class="right"><a class="ico_order_w" title="部门信息管理" href="list.do">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="edit.do" method="post" class="form_horizontal hq_form">
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_client_r"></span>
	        	<h3>部门基本信息</h3>
		        </div>
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>部门名称:</label>
						<div class="controls">
                            <span class="form_item">
                              <input value="$!{name}" type="text" class="text1 js_non_empty" name="name" placeholder="部门名称" maxlength="20" size="20"/>
                              <input value="$!{oldName}" type="hidden" class="text1 js_non_empty" name="oldName" placeholder="部门名称" maxlength="20" size="20"/>
                            </span>
		              	</div>		        			
		        	</div>
		        </div>
		      </div>
                <div class="form_actions">
                  	<button type="submit" class="btn btn_save">更新</button>
                </div>			      
		  	</form>
		</div>
	</div>
#footer()