<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.CountryDao" >
  <select id="selectAllCountry" resultType="Country">
    select * from country
  </select>

  <select id="selectByContinentId" resultType="Country">
    select * from country
    where continentId = #{country.continentId,jdbcType=INTEGER}
  </select>

  <select id="selectAllCount" resultType="java.lang.Integer">
    select count(*) from country 
    where 1=1
    <if test="countryName != null">and countryName like CONCAT('%',#{countryName,jdbcType=VARCHAR},'%')</if>
    <if test="continentId != null and continentId != 0">and continentId = #{continentId,jdbcType=INTEGER}</if>
    order by postDt desc 
  </select>
  
  <select id="selectAll" resultType="Country">
    select * 
    from country
    where 1=1
    <if test="country.countryName != null">and countryName like CONCAT('%',#{country.countryName,jdbcType=VARCHAR},'%')</if>
    <if test="country.continentId != null and country.continentId != 0">and continentId = #{country.continentId,jdbcType=INTEGER}</if>
    order by postDt desc 
    limit #{start,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultType="Country">
    select 
    *
    from country
    where countryId = #{countryId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey">
    delete from country
    where countryId = #{countryId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert">
    insert into country (countryName, continentId, postDt)
    values (#{countryName,jdbcType=VARCHAR}, #{continentId,jdbcType=INTEGER}, now())
  </insert>
  
  <update id="updateByPrimaryKey">
    update country
    set countryName = #{countryName,jdbcType=VARCHAR},
    continentId = #{continentId,jdbcType=INTEGER}
    where countryId = #{countryId,jdbcType=INTEGER}
  </update>
</mapper>