<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.DepartmentDao">

	<select id="selectAll" resultType="Department">
		select * from department
	</select>

	<select id="select" resultType="Department" parameterType="java.lang.String">
		select * from department where name=#{name}
	</select>

	<delete id="delete" parameterType="java.lang.String">
		delete from department
		where name = #{name}
	</delete>

	<insert id="insert" parameterType="Department">
		INSERT INTO department
		(name,createDate)VALUES(#{name},now())
	</insert>
</mapper>