<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.line.LineProductDao" >
  <select id="selectAllLineProduct" resultType="LineProduct">
    select * 
    from lineproduct
  </select>
  
  <select id="selectByPrimaryKey" resultType="LineProduct">
    select 
    *
    from lineproduct
    where lineProductId = #{lineProductId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
      	select count(*)
		from lineproduct
		where 1=1
		<if test="lineProductName != null">and lineproduct.lineProductName ${operator} #{lineProductName,jdbcType=VARCHAR}</if>
		<if test="lineCountryId != null">and lineproduct.lineCountryId=#{lineCountryId,jdbcType=VARCHAR}</if>
	</select>
	
	<select id="selectByPage" parameterType="java.util.Map" resultType="LineProductVo">
	      	select lineproduct.*,airline.airlineName airLineName,linecountry.countryName lineCountryName
		from lineproduct,airline,linecountry
		where lineproduct.aircorpId=airline.airlineId and lineproduct.lineCountryId=linecountry.countryId
		<if test="lineProductName != null">and lineproduct.lineProductName ${operator} #{lineProductName,jdbcType=VARCHAR}</if>
		<if test="lineCountryId != null">and lineproduct.lineCountryId=#{lineCountryId,jdbcType=VARCHAR}</if>
		limit #{begin,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
	</select>
  
  <delete id="deleteByPrimaryKey">
    delete from lineproduct
    where lineProductId = #{lineProductId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert">
    insert into lineproduct (lineCountryId,lineProductName,groupLeader,aircorpId,depositLimitDate,printTicketLimitDate,seatNum,leftSeatNum,price,des,startDate,endDate,travelInfo,travelInfoFileUrl,orderSeq,jpdj,jpdjType)
    values (#{lineCountryId,jdbcType=INTEGER},
    #{lineProductName,jdbcType=VARCHAR},#{groupLeader,jdbcType=VARCHAR},#{aircorpId,jdbcType=VARCHAR},
    #{depositLimitDate,jdbcType=DATE},#{printTicketLimitDate,jdbcType=DATE},#{seatNum,jdbcType=INTEGER},#{leftSeatNum,jdbcType=INTEGER},
    #{price,jdbcType=DECIMAL},#{des,jdbcType=VARCHAR},#{startDate,jdbcType=DATE},#{endDate,jdbcType=DATE},#{travelInfo,jdbcType=VARCHAR},
    #{travelInfoFileUrl,jdbcType=VARCHAR},#{orderSeq,jdbcType=VARCHAR},#{jpdj,jdbcType=DECIMAL},#{jpdjType,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey">
    update lineproduct
    set 
    lineProductName = #{lineProductName,jdbcType=VARCHAR},
    groupLeader = #{groupLeader,jdbcType=VARCHAR},
    aircorpId = #{aircorpId,jdbcType=INTEGER},
    depositLimitDate = #{depositLimitDate,jdbcType=DATE},
    printTicketLimitDate = #{printTicketLimitDate,jdbcType=DATE},
    startDate = #{startDate,jdbcType=DATE},
    endDate = #{endDate,jdbcType=DATE},
    seatNum = #{seatNum,jdbcType=INTEGER},
    leftSeatNum = #{leftSeatNum,jdbcType=INTEGER},
    price = #{price,jdbcType=DECIMAL},
    travelInfo = #{travelInfo,jdbcType=VARCHAR},
    travelInfoFileUrl = #{travelInfoFileUrl,jdbcType=VARCHAR},
    jpdj = #{jpdj,jdbcType=VARCHAR},
    jpdjType = #{jpdjType,jdbcType=VARCHAR},
    des = #{des,jdbcType=DECIMAL}
    where lineProductId = #{lineProductId,jdbcType=INTEGER}
  </update>
</mapper>