<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.line.LineOrderDao" >
  <select id="selectAllLineOrder" resultType="LineOrder">
    select * 
    from lineorder
  </select>
  
  <select id="selectByPrimaryKey" resultType="LineOrder">
    select 
    *
    from lineorder
    where orderId = #{orderId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByProductIdCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      	select count(*)
		from lineorder
		where lineProductId = #{lineProductId,jdbcType=INTEGER}
	</select>
	
   <select id="selectByProductId" parameterType="java.lang.Integer" resultType="LineOrder">
      	select *
		from lineorder
		where lineProductId = #{lineProductId,jdbcType=INTEGER}
	</select>
	
	<select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
      	select count(*)
		from lineorder
	</select>
	
	<select id="selectByPage" parameterType="java.util.Map" resultType="LineOrder">
       	select *
		from lineorder
		order by orderDate desc,orderId desc
		limit #{begin,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
	</select>
  
  <delete id="deleteByPrimaryKey">
    delete from lineorder
    where orderId = #{orderId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
    insert into lineorder (orderDate,type,nameListSize,salesmanId,lineOperatorId,visaOperatorId,travelAgency,contact,contactNo,lineCountryId,startDate,endDate,travelInfo,travelInfoFileUrl,
    	aircorpId,price,status,lineProductId,specialComment,orderSeq, postTime)
    values (now(),
    #{type,jdbcType=INTEGER},#{nameListSize,jdbcType=INTEGER},#{salesmanId,jdbcType=VARCHAR},#{lineOperatorId,jdbcType=VARCHAR},
    #{visaOperatorId,jdbcType=VARCHAR},#{travelAgency,jdbcType=VARCHAR},#{contact,jdbcType=VARCHAR},#{contactNo,jdbcType=VARCHAR},#{lineCountryId,jdbcType=INTEGER},#{startDate,jdbcType=DATE},
    #{endDate,jdbcType=DATE},#{travelInfo,jdbcType=VARCHAR},#{travelInfoFileUrl,jdbcType=VARCHAR},#{aircorpId,jdbcType=INTEGER},
    #{price,jdbcType=DECIMAL},#{status,jdbcType=INTEGER},#{lineProductId,jdbcType=INTEGER},#{specialComment,jdbcType=VARCHAR},#{orderSeq,jdbcType=VARCHAR}, now())
  </insert>
  
  <update id="updateByPrimaryKey">
    update lineorder
    set orderDate = #{orderDate,jdbcType=DATE},
    type = #{type,jdbcType=INTEGER},
    nameListSize = #{nameListSize,jdbcType=INTEGER},
    salesmanId = #{salesmanId,jdbcType=VARCHAR},
    lineOperatorId = #{lineOperatorId,jdbcType=VARCHAR},
    visaOperatorId = #{visaOperatorId,jdbcType=VARCHAR},
    travelAgency = #{travelAgency,jdbcType=VARCHAR},
    contact = #{contact,jdbcType=VARCHAR},
    contactNo = #{contactNo,jdbcType=VARCHAR},
    lineCountryId = #{lineCountryId,jdbcType=INTEGER},
    startDate = #{startDate,jdbcType=DATE},
    endDate = #{endDate,jdbcType=DATE},
    travelInfo = #{travelInfo,jdbcType=VARCHAR},
    travelInfoFileUrl = #{travelInfoFileUrl,jdbcType=VARCHAR},
    aircorpId = #{aircorpId,jdbcType=INTEGER},
    price = #{price,jdbcType=DECIMAL},
    status = #{status,jdbcType=INTEGER},
    lineProductId = #{status,jdbcType=INTEGER},
    orderSeq = #{orderSeq,jdbcType=VARCHAR},
    specialComment = #{specialComment,jdbcType=VARCHAR},
    postTime = now()
    where orderId = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>
