<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.line.LineNameListDao" >
  <select id="selectAllLineNameList" resultType="LineNameList">
    select * 
    from linenamelist
	where lineOrderId = #{lineOrderId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultType="LineNameList">
    select 
    *
    from linenamelist
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey">
    delete from linenamelist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByOrderId">
    delete from linenamelist
    where lineOrderId = #{lineOrderId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert">
    insert into linenamelist (name,lineOrderId,sex,ageType,deposit,datum,room,comment,postTime)
    values (#{name,jdbcType=VARCHAR},#{lineOrderId,jdbcType=INTEGER},#{sex,jdbcType=INTEGER},#{ageType,jdbcType=INTEGER},
    #{deposit,jdbcType=VARCHAR},#{datum,jdbcType=VARCHAR},#{room,jdbcType=INTEGER},#{comment,jdbcType=VARCHAR}, now())
  </insert>
  
  <update id="updateByPrimaryKey">
    update area
    set name = #{name,jdbcType=VARCHAR},
    sex = #{sex,jdbcType=INTEGER},
    ageType = #{ageType,jdbcType=INTEGER},
    deposit = #{deposit,jdbcType=VARCHAR},
    datum = #{datum,jdbcType=VARCHAR},
    room = #{room,jdbcType=INTEGER},
    comment = #{comment,jdbcType=VARCHAR},
    postTime = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>