<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.line.LineOrderDao" >
  <select id="selectAllLineOrder" resultType="LineOrder">
    select * 
    from lineorder,user user1
    where user1.userId=lineorder.salesmanId and lineorder.orderDate like #{date,jdbcType=VARCHAR}
    <if test="salesmanId != null">and lineorder.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
  </select>
  
  <select id="selectByPrimaryKey" resultType="LineOrder">
    select 
    *
    from lineorder
    where orderId = #{orderId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByProductIdCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      	select count(*)
		from lineorder
		where lineProductId = #{lineProductId,jdbcType=INTEGER}
	</select>
	
   <select id="selectByProductId" parameterType="java.lang.Integer" resultType="LineOrder">
      	select *
		from lineorder
		where lineProductId = #{lineProductId,jdbcType=INTEGER}
	</select>
	
	<select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
      	select count(*)
		from lineorder,user user1
		where user1.userId=lineorder.salesmanId 
		<if test="salesmanId != null">and lineorder.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
		<if test="lineOperatorId != null">and lineorder.lineOperatorId=#{lineOperatorId,jdbcType=VARCHAR}</if>
		<if test="visaOperatorId != null">and lineorder.visaOperatorId=#{visaOperatorId,jdbcType=VARCHAR}</if>
		<if test="signOperatorId != null">and lineorder.signOperatorId=#{signOperatorId,jdbcType=VARCHAR}</if>
		<if test="managerId != null">and ${role} in (select userId from user where managerId=#{managerId,jdbcType=VARCHAR})</if>
	</select>
	
	<select id="selectByPage" parameterType="java.util.Map" resultType="LineOrder">
       	select *
		from lineorder
		order by orderDate desc,orderId desc
		limit #{begin,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
	</select>
	
	<select id="selectOrderYears" resultType="java.lang.String" >
    select distinct YEAR(orderDate) from lineorder where orderDate is not null order by orderDate
  </select>
  
  <select id="selectOrderMonths" resultType="java.lang.String" >
    select distinct MONTH(orderDate) from lineorder where orderDate is not null order by orderDate
  </select>
  
  <delete id="deleteByPrimaryKey">
    delete from lineorder
    where orderId = #{orderId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
    insert into lineorder (orderDate,type,nameListSize,salesmanId,salesmanName,lineOperatorId,lineOperatorName,
    visaOperatorId,visaOperatorName,signOperatorId,signOperatorName,travelAgency,contact,contactNo,lineCountryId,
    startDate,endDate,travelInfo,travelInfoFileUrl,aircorpId,price,status,lineProductId,specialComment,orderSeq, postTime)
    values (now(),
    #{type,jdbcType=INTEGER},#{nameListSize,jdbcType=INTEGER},#{salesmanId,jdbcType=VARCHAR},#{salesmanName,jdbcType=VARCHAR},
    #{lineOperatorId,jdbcType=VARCHAR},#{lineOperatorName,jdbcType=VARCHAR},#{visaOperatorId,jdbcType=VARCHAR},#{visaOperatorName,jdbcType=VARCHAR},
    #{signOperatorId,jdbcType=VARCHAR},#{signOperatorName,jdbcType=VARCHAR},#{travelAgency,jdbcType=VARCHAR},#{contact,jdbcType=VARCHAR},
    #{contactNo,jdbcType=VARCHAR},#{lineCountryId,jdbcType=INTEGER},#{startDate,jdbcType=DATE},
    #{endDate,jdbcType=DATE},#{travelInfo,jdbcType=VARCHAR},#{travelInfoFileUrl,jdbcType=VARCHAR},#{aircorpId,jdbcType=INTEGER},
    #{price,jdbcType=DECIMAL},#{status,jdbcType=INTEGER},#{lineProductId,jdbcType=INTEGER},#{specialComment,jdbcType=VARCHAR},
    #{orderSeq,jdbcType=VARCHAR}, now())
  </insert>
  
  <update id="updateByPrimaryKey">
    update lineorder
    set 
    type = #{type,jdbcType=INTEGER},
    nameListSize = #{nameListSize,jdbcType=INTEGER},
    lineOperatorId = #{lineOperatorId,jdbcType=VARCHAR},
    lineOperatorName = #{lineOperatorName,jdbcType=VARCHAR},
    visaOperatorId = #{visaOperatorId,jdbcType=VARCHAR},
    visaOperatorName = #{visaOperatorName,jdbcType=VARCHAR},
    signOperatorId = #{signOperatorId,jdbcType=VARCHAR},
    signOperatorName = #{signOperatorName,jdbcType=VARCHAR},
    travelAgency = #{travelAgency,jdbcType=VARCHAR},
    contact = #{contact,jdbcType=VARCHAR},
    contactNo = #{contactNo,jdbcType=VARCHAR},
    lineCountryId = #{lineCountryId,jdbcType=INTEGER},
    startDate = #{startDate,jdbcType=DATE},
    endDate = #{endDate,jdbcType=DATE},
    travelInfo = #{travelInfo,jdbcType=VARCHAR},
    travelInfoFileUrl = #{travelInfoFileUrl,jdbcType=VARCHAR},
    aircorpId = #{aircorpId,jdbcType=INTEGER},
    price = #{price,jdbcType=DECIMAL},
    status = #{status,jdbcType=INTEGER},
    lineProductId = #{status,jdbcType=INTEGER},
    specialComment = #{specialComment,jdbcType=VARCHAR},
    postTime = now()
    where orderId = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>
