<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.AreaDao" >
  <select id="selectAllArea" resultType="Area">
    select * 
    from area
    order by postDt desc 
  </select>
  
  <select id="selectAllCount" resultType="java.lang.Integer">
    select count(*) from area 
    where 1=1
    <if test="areaName != null">and areaName like CONCAT('%',#{areaName,jdbcType=VARCHAR},'%')</if>
    order by postDt desc 
  </select>
  
  <select id="selectAll" resultType="Area">
    select * 
    from area
    where 1=1
    <if test="area.areaName != null">and areaName like CONCAT('%',#{area.areaName,jdbcType=VARCHAR},'%')</if>
    order by postDt desc 
    limit #{start,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultType="Area">
    select 
    *
    from area
    where areaId = #{areaId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey">
    delete from area
    where areaId = #{areaId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert">
    insert into area (areaName, postDt)
    values (#{areaName,jdbcType=VARCHAR}, now())
  </insert>
  
  <update id="updateByPrimaryKey">
    update area
    set areaName = #{areaName,jdbcType=VARCHAR}
    where areaId = #{areaId,jdbcType=INTEGER}
  </update>
</mapper>