<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.line.LineProductDao" >
  <select id="selectAllLineProduct" resultType="LineProduct">
    select * 
    from lineproduct
  </select>
  
  <select id="selectByPrimaryKey" resultType="LineProduct">
    select 
    *
    from lineproduct
    where lineProductId = #{lineProductId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
      	select count(*)
		from lineproduct
		where 1=1
		<if test="lineProductName != null">and lineproduct.lineProductName ${operator} #{lineProductName,jdbcType=VARCHAR}</if>
		<if test="lineCountryId != null">and lineproduct.lineCountryId=#{lineCountryId,jdbcType=VARCHAR}</if>
	</select>
	
	<select id="selectByPage" parameterType="java.util.Map" resultType="LineProductVo">
	      	select lineproduct.*,airline.airlineName airLineName,linecountry.countryName lineCountryName
		from lineproduct,airline,linecountry
		where lineproduct.aircorpId=airline.airlineId and lineproduct.lineCountryId=linecountry.countryId
		<if test="lineProductName != null">and lineproduct.lineProductName ${operator} #{lineProductName,jdbcType=VARCHAR}</if>
		<if test="lineCountryId != null">and lineproduct.lineCountryId=#{lineCountryId,jdbcType=VARCHAR}</if>
		limit #{begin,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
	</select>
  
  <delete id="deleteByPrimaryKey">
    delete from lineproduct
    where lineProductId = #{lineProductId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert">
    insert into lineproduct (lineCountryId,lineProductName,groupLeader,aircorpId,depositLimitDate,printTicketLimitDate,seatNum,leftSeatNum,price,des)
    values (#{lineCountryId,jdbcType=INTEGER},
    #{lineProductName,jdbcType=VARCHAR},#{groupLeader,jdbcType=VARCHAR},#{aircorpId,jdbcType=VARCHAR},
    #{depositLimitDate,jdbcType=DATE},#{printTicketLimitDate,jdbcType=DATE},#{seatNum,jdbcType=INTEGER},#{leftSeatNum,jdbcType=INTEGER},
    #{price,jdbcType=DECIMAL},#{des,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey">
    update lineproduct
    set lineCountryId = #{lineCountryId,jdbcType=INTEGER},
    set lineProductName = #{lineProductName,jdbcType=VARCHAR},
    set groupLeader = #{groupLeader,jdbcType=VARCHAR},
    set aircorpId = #{aircorpId,jdbcType=INTEGER},
    set depositLimitDate = #{depositLimitDate,jdbcType=DATE},
    set printTicketLimitDate = #{printTicketLimitDate,jdbcType=DATE},
    set seatNum = #{seatNum,jdbcType=INTEGER},
    set leftSeatNum = #{leftSeatNum,jdbcType=INTEGER},
    set price = #{price,jdbcType=DECIMAL},
    set des = #{des,jdbcType=DATE}
    where lineProductId = #{lineProductId,jdbcType=INTEGER}
  </update>
</mapper>