<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.line.OperateLogDao" >
  <select id="selectAllOperateLog" resultType="OperateLog">
    select * 
    from operatelog
  </select>
  
  <select id="selectByPrimaryKey" resultType="OperateLog">
    select 
    *
    from operatelog
    where id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
      	select count(*)
		from operatelog,user
		where operatelog.userId=user.userId
		<if test="orderSeq != null">and operatelog.orderSeq = #{orderSeq,jdbcType=VARCHAR}</if>
		<if test="userName != null">and user.userName ${operator} #{userName,jdbcType=VARCHAR}</if>
		<if test="startDate != null">
	  		and date_format(operatelog.operateTime,'%Y-%m-%d') >= #{startDate,jdbcType=VARCHAR}
		  </if>
		  <if test="endDate != null">
		  	<![CDATA[
			and date_format(operatelog.operateTime,'%Y-%m-%d') <= #{endDate,jdbcType=VARCHAR}
			]]>
		  </if>
	</select>
	
	<select id="selectByPage" parameterType="java.util.Map" resultType="OperateLogVo">
	    select operatelog.*,userName
		from operatelog,user
		where operatelog.userId=user.userId
		<if test="orderSeq != null">and operatelog.orderSeq = #{orderSeq,jdbcType=VARCHAR}</if>
		<if test="userName != null">and user.userName ${operator} #{userName,jdbcType=VARCHAR}</if>
		<if test="startDate != null">
		  	and date_format(operatelog.operateTime,'%Y-%m-%d') >= #{startDate,jdbcType=VARCHAR}
		  </if>
		  <if test="endDate != null">
		  	<![CDATA[
			and date_format(operatelog.operateTime,'%Y-%m-%d') <= #{endDate,jdbcType=VARCHAR}
			]]>
		  </if>
		order by operateTime desc
		limit #{begin,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
	</select>
  
  <delete id="deleteByPrimaryKey">
    delete from operatelog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert">
    insert into operatelog (userId, roleId,operateType,operateDes,operateTime,orderSeq)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{operateType,jdbcType=INTEGER}, #{operateDes,jdbcType=VARCHAR}
    , now(), #{orderSeq,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey">
    update operatelog
    set userid = #{userId,jdbcType=VARCHAR},
    roleId = #{roleId,jdbcType=INTEGER},
    operateType = #{operateType,jdbcType=INTEGER},
    operateDes = #{operateDes,jdbcType=VARCHAR},
    orderSeq = #{orderSeq,jdbcType=VARCHAR},
    operateTime = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>