<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.line.OperateCountryDao" >
  <select id="selectAllOperatorCountry" resultType="OperatorCountry">
    select * 
    from operatorcountry
  </select>
  
  <select id="selectByPrimaryKey" resultType="OperatorCountry">
    select 
    *
    from operatorcountry
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey">
    delete from operatorcountry
    where areaId = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert">
    insert into operatorcountry (userid, lineCountryId)
    values (#{userid,jdbcType=VARCHAR}, #{lineCountryId,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKey">
    update operatorcountry
    set userid = #{userid,jdbcType=VARCHAR},
    set lineCountryId = #{lineCountryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>