<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.OrdersDao" >
  
  <select id="selectAll" resultType="Orders" parameterType="java.util.Map" >
    select tmp1.*,user.userName operatorName 
		from (select orders.*,product.productName,customer.customerName,customer.company,user1.userName salesmanName,country.countryName,customer.company customerCompany
			from orders,product,customer,user user1,country
			where (orders.type=0 or orders.type is null)
					and	 orders.productId=product.productId 
				and orders.customerId=customer.customerId 
				and product.countryId=country.countryId
				and user1.userId=orders.salesmanId 
				and orders.orderDate like #{date,jdbcType=VARCHAR}
		<if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
		<if test="customerId != null">and orders.customerId=#{customerId,jdbcType=VARCHAR}</if>
		<if test="operatorId != null">and orders.operatorId=#{operatorId,jdbcType=VARCHAR}</if>
		<if test="company != null">and customer.company=#{company,jdbcType=VARCHAR}</if>
		<if test="yfhkStatus != null">and orders.yfhkStatus=#{yfhkStatus,jdbcType=VARCHAR}</if>
		<if test="yshkStatus != null">and orders.yshkStatus=#{yshkStatus,jdbcType=VARCHAR}</if>
		UNION
				SELECT orders.*,orders.nameList productName,customer.customerName,customer.company,user1.userName salesmanName,orders.nameList countryName,customer.company customerCompany
				FROM orders,customer,user user1
				WHERE  orders.type=1
					and	 orders.customerId=customer.customerId 
					AND user1.userId=orders.salesmanId 	
					and orders.orderDate like #{date,jdbcType=VARCHAR}
		<if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
		<if test="customerId != null">and orders.customerId=#{customerId,jdbcType=VARCHAR}</if>
		<if test="operatorId != null">and orders.operatorId=#{operatorId,jdbcType=VARCHAR}</if>
		<if test="company != null">and customer.company=#{company,jdbcType=VARCHAR}</if>
		<if test="yfhkStatus != null">and orders.yfhkStatus=#{yfhkStatus,jdbcType=VARCHAR}</if>
		<if test="yshkStatus != null">and orders.yshkStatus=#{yshkStatus,jdbcType=VARCHAR}</if>
		) tmp1 left OUTER join user on( tmp1.operatorId = user.userId)
  </select>
  
  <select id="selectByPrimaryKey" resultType="Orders" parameterType="java.lang.Integer" >
    select orders.*,customer.customerName
	from orders,customer
	where orders.customerId=customer.customerId 
    and orderId = #{orderId,jdbcType=INTEGER} 
  </select>
  
  <select id="selectByProductIdCount" resultType="java.lang.Integer">
		select count(*) from orders
		where productId = #{productId,jdbcType=INTEGER}
	</select>

	<select id="selectByCustomerIdCount" resultType="java.lang.Integer">
		select count(*) from orders
		where customerId = #{customerId,jdbcType=VARCHAR}
	</select>

	<select id="selectByUserIdCount" resultType="java.lang.Integer">
		select count(*) from orders
		where salesmanId = #{userId,jdbcType=VARCHAR} or operatorId =
		#{userId,jdbcType=VARCHAR}
	</select>
  
  <select id="selectOrderYears" resultType="java.lang.String" >
    select distinct YEAR(orderdate) from orders where orderdate is not null order by orderdate
  </select>
  
  <select id="selectOrderMonths" resultType="java.lang.String" >
    select distinct MONTH(orderdate) from orders where orderdate is not null order by orderdate
  </select>
  
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
      select count(*)
		from (select orders.*,product.productName,customer.customerName,user1.userName salesmanName,country.countryName
			from orders,product,customer,user user1,country
			where (orders.type=0 or orders.type is null)
					and	 orders.productId=product.productId 
				and orders.customerId=customer.customerId 
				and product.countryId=country.countryId
				and user1.userId=orders.salesmanId 
      <if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
	  <if test="managerId != null">and orders.salesmanId in (select userId from user where managerId=#{managerId,jdbcType=VARCHAR})</if>
	  <if test="operatorId != null">and orders.operatorId = #{operatorId,jdbcType=VARCHAR}</if>
	  <if test="countryName != null">and country.countryName ${operator} #{countryName,jdbcType=VARCHAR}</if>
	  <if test="customerName != null">and customer.customerName ${operator} #{customerName,jdbcType=VARCHAR}</if>
	  <if test="companyName != null">and customer.company ${operator} #{companyName,jdbcType=VARCHAR}</if>
	  <if test="nameList != null">and orders.nameList ${operator} #{nameList,jdbcType=VARCHAR}</if>
	  <if test="status != null">and orders.status = #{status,jdbcType=INTEGER}</if>
	  <if test="yfhkStatus != null">and orders.yfhkStatus = #{yfhkStatus,jdbcType=INTEGER}</if>
	  <if test="yshkStatus != null">and orders.yshkStatus = #{yshkStatus,jdbcType=INTEGER}</if>
	  <if test="salesmanForSearch != null">and orders.salesmanId=#{salesmanForSearch,jdbcType=VARCHAR}</if>
	  <if test="operatorForSearch != null">and orders.operatorId=#{operatorForSearch,jdbcType=VARCHAR}</if>
	  <if test="orderSeq != null">and orders.orderSeq=#{orderSeq,jdbcType=VARCHAR}</if>
	  <if test="deptId != null">and user1.deptId=#{deptId,jdbcType=VARCHAR}</if>
	  <if test="startDate != null">
	  	and orders.orderDate >= #{startDate,jdbcType=VARCHAR}
	  </if>
	  <if test="endDate != null">
	  	<![CDATA[
		and orders.orderDate <= #{endDate,jdbcType=VARCHAR}
		]]>
	  </if>
	   <if test="countryName == null">
	  UNION
				SELECT orders.*,orders.nameList productName,customer.customerName,user1.userName salesmanName,orders.nameList countryName
				FROM orders,customer,user user1
				WHERE  orders.type=1
					and	 orders.customerId=customer.customerId 
					AND user1.userId=orders.salesmanId 	
					<if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
			  <if test="managerId != null">and orders.salesmanId in (select userId from user where managerId=#{managerId,jdbcType=VARCHAR})</if>
			  <if test="operatorId != null">and orders.operatorId = #{operatorId,jdbcType=VARCHAR}</if>
			  <if test="customerName != null">and customer.customerName ${operator} #{customerName,jdbcType=VARCHAR}</if>
			  <if test="companyName != null">and customer.company ${operator} #{companyName,jdbcType=VARCHAR}</if>
			  <if test="nameList != null">and orders.nameList ${operator} #{nameList,jdbcType=VARCHAR}</if>
			  <if test="status != null">and orders.status = #{status,jdbcType=INTEGER}</if>
			  <if test="yfhkStatus != null">and orders.yfhkStatus = #{yfhkStatus,jdbcType=INTEGER}</if>
			  <if test="yshkStatus != null">and orders.yshkStatus = #{yshkStatus,jdbcType=INTEGER}</if>
			  <if test="salesmanForSearch != null">and orders.salesmanId=#{salesmanForSearch,jdbcType=VARCHAR}</if>
			  <if test="operatorForSearch != null">and orders.operatorId=#{operatorForSearch,jdbcType=VARCHAR}</if>
	  		  <if test="orderSeq != null">and orders.orderSeq=#{orderSeq,jdbcType=VARCHAR}</if>
	  		  <if test="deptId != null">and user1.deptId=#{deptId,jdbcType=VARCHAR}</if>
	  		  <if test="startDate != null">
			  	and orders.orderDate >= #{startDate,jdbcType=VARCHAR}
			  </if>
			  <if test="endDate != null">
			  	<![CDATA[
					and orders.orderDate <= #{endDate,jdbcType=VARCHAR}
				]]>
			  </if>
		</if>
	  ) tmp1 left OUTER join user on( tmp1.operatorId = user.userId)
	</select>
	
	<select id="selectByPage" parameterType="java.util.Map" resultType="Orders">
        	select tmp1.*,user.userName operatorName 
			from (select orders.*,product.productName,customer.customerName,user1.userName salesmanName,country.countryName,customer.company customerCompany
				from orders,product,customer,user user1,country
				where (orders.type=0 or orders.type is null)
					and	 orders.productId=product.productId 
					and orders.customerId=customer.customerId 
					and product.countryId=country.countryId
					and user1.userId=orders.salesmanId 
		      <if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
			  <if test="managerId != null">and orders.salesmanId in (select userId from user where managerId=#{managerId,jdbcType=VARCHAR})</if>
			  <if test="operatorId != null">and orders.operatorId = #{operatorId,jdbcType=VARCHAR}</if>
			  <if test="countryName != null">and country.countryName ${operator} #{countryName,jdbcType=VARCHAR}</if>
			  <if test="customerName != null">and customer.customerName ${operator} #{customerName,jdbcType=VARCHAR}</if>
			  <if test="companyName != null">and customer.company ${operator} #{companyName,jdbcType=VARCHAR}</if>
			  <if test="nameList != null">and orders.nameList ${operator} #{nameList,jdbcType=VARCHAR}</if>
			  <if test="status != null">and orders.status = #{status,jdbcType=INTEGER}</if>
			  <if test="yfhkStatus != null">and orders.yfhkStatus = #{yfhkStatus,jdbcType=INTEGER}</if>
			  <if test="yshkStatus != null">and orders.yshkStatus = #{yshkStatus,jdbcType=INTEGER}</if>
			  <if test="salesmanForSearch != null">and orders.salesmanId=#{salesmanForSearch,jdbcType=VARCHAR}</if>
			  <if test="operatorForSearch != null">and orders.operatorId=#{operatorForSearch,jdbcType=VARCHAR}</if>
	  		  <if test="orderSeq != null">and orders.orderSeq=#{orderSeq,jdbcType=VARCHAR}</if>
	  		  <if test="deptId != null">and user1.deptId=#{deptId,jdbcType=VARCHAR}</if>
	  		  <if test="startDate != null">
			  	and orders.orderDate >= #{startDate,jdbcType=VARCHAR}
			  </if>
			  <if test="endDate != null">
			  	<![CDATA[
					and orders.orderDate <= #{endDate,jdbcType=VARCHAR}
				]]>
			  </if>
			  <if test="countryName == null">
			  UNION
				SELECT orders.*,orders.nameList productName,customer.customerName,user1.userName salesmanName,orders.nameList countryName,customer.company customerCompany
				FROM orders,customer,user user1
				WHERE  orders.type=1
					and	 orders.customerId=customer.customerId 
					AND user1.userId=orders.salesmanId 	
					<if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
			  <if test="managerId != null">and orders.salesmanId in (select userId from user where managerId=#{managerId,jdbcType=VARCHAR})</if>
			  <if test="operatorId != null">and orders.operatorId = #{operatorId,jdbcType=VARCHAR}</if>
			  <if test="customerName != null">and customer.customerName ${operator} #{customerName,jdbcType=VARCHAR}</if>
			  <if test="companyName != null">and customer.company ${operator} #{companyName,jdbcType=VARCHAR}</if>
			  <if test="nameList != null">and orders.nameList ${operator} #{nameList,jdbcType=VARCHAR}</if>
			  <if test="status != null">and orders.status = #{status,jdbcType=INTEGER}</if>
			  <if test="yfhkStatus != null">and orders.yfhkStatus = #{yfhkStatus,jdbcType=INTEGER}</if>
			  <if test="yshkStatus != null">and orders.yshkStatus = #{yshkStatus,jdbcType=INTEGER}</if>
			  <if test="salesmanForSearch != null">and orders.salesmanId=#{salesmanForSearch,jdbcType=VARCHAR}</if>
			  <if test="operatorForSearch != null">and orders.operatorId=#{operatorForSearch,jdbcType=VARCHAR}</if>
	  		  <if test="orderSeq != null">and orders.orderSeq=#{orderSeq,jdbcType=VARCHAR}</if>
	  		  <if test="deptId != null">and user1.deptId=#{deptId,jdbcType=VARCHAR}</if>
	  		  <if test="startDate != null">
			  	and orders.orderDate >= #{startDate,jdbcType=VARCHAR}
			  </if>
			  <if test="endDate != null">
			  	<![CDATA[
					and orders.orderDate <= #{endDate,jdbcType=VARCHAR}
				]]>
			  </if>
			  </if>
			  ) tmp1 left OUTER join user on( tmp1.operatorId = user.userId)
			order by tmp1.orderDate desc,orderId desc
			limit #{begin,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where orderId = #{orderId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="Orders" >
    insert into orders (
    	<if test="orderDate != null">orderDate, </if>
    	<if test="customerId != null">customerId, </if>
      	<if test="productId != null">productId, </if>
      	<if test="nameList != null">nameList, </if>
      	<if test="nameListSize != null">nameListSize, </if>
      	<if test="status != null">status, </if>
      	<if test="salesmanId != null">salesmanId, </if>
      	<if test="operatorId != null">operatorId, </if>
      	<if test="signDate != null">signDate, </if>
     	<if test="signOperatorName != null">signOperatorName, </if>
      	<if test="priceYsdj != null">priceYsdj, </if>
      	<if test="priceBxys != null">priceBxys, </if>
        <if test="priceBxyf != null">priceBxyf, </if>
      	<if test="priceQtys != null">priceQtys, </if>
      	<if test="priceQtzc != null">priceQtzc, </if>
      	<if test="priceQtysBz != null">priceQtysBz, </if>
        <if test="priceQtzcBz != null">priceQtzcBz, </if>
      	<if test="priceZjys != null">priceZjys, </if>
      	<if test="priceZjyf != null">priceZjyf,</if>
      	<if test="priceYfhk != null">priceYfhk, </if>
      	<if test="grossProfit != null">grossProfit, </if>
      	<if test="yfhkStatus != null">yfhkStatus, </if>
      	<if test="des != null">des,</if>
      	<if test="czdes != null">czdes,</if>
      	<if test="operatorDes != null">operatorDes,</if>
      	<if test="yshkStatus != null">yshkStatus,</if>
      	<if test="priceYshk != null">priceYshk,</if>
      	<if test="orderSeq != null">orderSeq,</if>
      	<if test="type != null">type,</if>
      	<if test="singleProduct != null">singleProduct,</if>
      		ptTime)
    values (
    	<if test="orderDate != null">#{orderDate,jdbcType=DATE}, </if>
    	<if test="customerId != null">#{customerId,jdbcType=INTEGER}, </if>
      <if test="productId != null">#{productId,jdbcType=INTEGER}, </if>
      <if test="nameList != null">#{nameList,jdbcType=VARCHAR}, </if>
      <if test="nameListSize != null">#{nameListSize,jdbcType=INTEGER}, </if>
      <if test="status != null">#{status,jdbcType=INTEGER}, </if>
      <if test="salesmanId != null">#{salesmanId,jdbcType=VARCHAR}, </if>
      <if test="operatorId != null">#{operatorId,jdbcType=VARCHAR}, </if>
      <if test="signDate != null">#{signDate,jdbcType=DATE}, </if>
      <if test="signOperatorName != null">#{signOperatorName,jdbcType=VARCHAR}, </if>
      <if test="priceYsdj != null">#{priceYsdj,jdbcType=DECIMAL}, </if>
      <if test="priceBxys != null">#{priceBxys,jdbcType=DECIMAL}, </if>
      <if test="priceBxyf != null">#{priceBxyf,jdbcType=DECIMAL}, </if>
      <if test="priceQtys != null">#{priceQtys,jdbcType=DECIMAL}, </if>
      <if test="priceQtzc != null">#{priceQtzc,jdbcType=DECIMAL}, </if>
      <if test="priceQtysBz != null">#{priceQtysBz,jdbcType=DECIMAL}, </if>
      <if test="priceQtzcBz != null">#{priceQtzcBz,jdbcType=DECIMAL}, </if>
      <if test="priceZjys != null">#{priceZjys,jdbcType=DECIMAL}, </if>
      <if test="priceZjyf != null">#{priceZjyf,jdbcType=DECIMAL}, </if>
      <if test="priceYfhk != null">#{priceYfhk,jdbcType=DECIMAL}, </if>
      <if test="grossProfit != null">#{grossProfit,jdbcType=DECIMAL}, </if>
      <if test="yfhkStatus != null">#{yfhkStatus,jdbcType=INTEGER}, </if>
      <if test="des != null">#{des,jdbcType=VARCHAR}, </if>
      <if test="czdes != null">#{czdes,jdbcType=VARCHAR}, </if>
      <if test="operatorDes != null">#{operatorDes,jdbcType=VARCHAR}, </if>
      <if test="yshkStatus != null">#{yshkStatus,jdbcType=INTEGER},</if>
      <if test="priceYshk != null">#{priceYshk,jdbcType=DECIMAL},</if>
      <if test="orderSeq != null">#{orderSeq,jdbcType=VARCHAR},</if>
      <if test="type != null">#{type,jdbcType=INTEGER},</if>
      <if test="singleProduct != null">#{singleProduct,jdbcType=VARCHAR},</if>
      	now())
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="Orders" >
    update orders
    set 
      <if test="orderDate != null">orderDate = #{orderDate,jdbcType=DATE},</if>
      <if test="customerId != null">customerId = #{customerId,jdbcType=INTEGER},</if>
      <if test="productId != null">productId = #{productId,jdbcType=INTEGER},</if>
      <if test="nameList != null">nameList = #{nameList,jdbcType=VARCHAR},</if>
      <if test="nameListSize != null">nameListSize = #{nameListSize,jdbcType=INTEGER}, </if>
      <if test="status != null">status = #{status,jdbcType=CHAR},</if>
      <if test="salesmanId != null">salesmanId = #{salesmanId,jdbcType=VARCHAR},</if>
      <if test="operatorId != null">operatorId = #{operatorId,jdbcType=VARCHAR},</if>
      <if test="signDate != null">signDate = #{signDate,jdbcType=DATE},</if>
      <if test="signOperatorName != null">signOperatorName = #{signOperatorName,jdbcType=VARCHAR},</if>
      <if test="priceYsdj != null">priceYsdj = #{priceYsdj,jdbcType=DECIMAL},</if>
      <if test="priceBxys != null">priceBxys = #{priceBxys,jdbcType=DECIMAL},</if>
      <if test="priceBxyf != null">priceBxyf = #{priceBxyf,jdbcType=DECIMAL},</if>
      <if test="priceQtys != null">priceQtys = #{priceQtys,jdbcType=DECIMAL},</if>
      <if test="priceQtzc != null">priceQtzc = #{priceQtzc,jdbcType=DECIMAL},</if>
      <if test="priceQtysBz != null">priceQtysBz = #{priceQtysBz,jdbcType=DECIMAL},</if>
      <if test="priceQtzcBz != null">priceQtzcBz = #{priceQtzcBz,jdbcType=DECIMAL},</if>
      <if test="priceZjys != null">priceZjys = #{priceZjys,jdbcType=DECIMAL},</if>
      <if test="priceZjyf != null">priceZjyf = #{priceZjyf,jdbcType=DECIMAL},</if>
      <if test="priceYfhk != null">priceYfhk = #{priceYfhk,jdbcType=DECIMAL},</if>
      <if test="grossProfit != null">grossProfit = #{grossProfit,jdbcType=DECIMAL},</if>
      <if test="yfhkStatus != null">yfhkStatus = #{yfhkStatus,jdbcType=INTEGER},</if>
      <if test="yshkStatus != null">yshkStatus = #{yshkStatus,jdbcType=INTEGER},</if>
      <if test="priceYshk != null">priceYshk = #{priceYshk,jdbcType=DECIMAL},</if>
      <if test="des != null">des = #{des,jdbcType=VARCHAR},</if>
      <if test="czdes != null">czdes = #{czdes,jdbcType=VARCHAR},</if>
      <if test="operatorDes != null">operatorDes = #{operatorDes,jdbcType=VARCHAR},</if>
      <if test="operatorRemark != null">operatorRemark = #{operatorRemark,jdbcType=VARCHAR},</if>
      <if test="yshkRemark != null">yshkRemark = #{yshkRemark,jdbcType=VARCHAR},</if>
      <if test="yfhkRemark != null">yfhkRemark = #{yfhkRemark,jdbcType=VARCHAR},</if>
      <if test="type != null">type = #{type,jdbcType=INTEGER},</if>
      <if test="singleProduct != null">singleProduct = #{singleProduct,jdbcType=VARCHAR},</if>
      ptTime=now()
    where orderId = #{orderId,jdbcType=INTEGER}
  </update>

    <select id="sumPrice" parameterType="java.util.Map" resultType="java.util.Map">
      select sum(priceZjys) sumzjys,sum(priceZjyf) sumzjyf,sum(priceYshk1) sumyshk
		from (select orders.*,IFNULL(orders.priceYshk,0) AS priceYshk1,product.productName,customer.customerName,user1.userName salesmanName,country.countryName
			from orders,product,customer,user user1,country
			where (orders.type=0 or orders.type is null)
					and	 orders.productId=product.productId 
				and orders.customerId=customer.customerId 
				and product.countryId=country.countryId
				and user1.userId=orders.salesmanId 
      <if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
	  <if test="managerId != null">and orders.salesmanId in (select userId from user where managerId=#{managerId,jdbcType=VARCHAR})</if>
	  <if test="operatorId != null">and orders.operatorId = #{operatorId,jdbcType=VARCHAR}</if>
	  <if test="countryName != null">and country.countryName ${operator} #{countryName,jdbcType=VARCHAR}</if>
	  <if test="customerName != null">and customer.customerName ${operator} #{customerName,jdbcType=VARCHAR}</if>
	  <if test="companyName != null">and customer.company ${operator} #{companyName,jdbcType=VARCHAR}</if>
	  <if test="nameList != null">and orders.nameList ${operator} #{nameList,jdbcType=VARCHAR}</if>
	  <if test="status != null">and orders.status = #{status,jdbcType=INTEGER}</if>
	  <if test="yfhkStatus != null">and orders.yfhkStatus = #{yfhkStatus,jdbcType=INTEGER}</if>
	  <if test="yshkStatus != null">and orders.yshkStatus = #{yshkStatus,jdbcType=INTEGER}</if>
	  <if test="salesmanForSearch != null">and orders.salesmanId=#{salesmanForSearch,jdbcType=VARCHAR}</if>
	  <if test="operatorForSearch != null">and orders.operatorId=#{operatorForSearch,jdbcType=VARCHAR}</if>
	  <if test="orderSeq != null">and orders.orderSeq=#{orderSeq,jdbcType=VARCHAR}</if>
	  <if test="deptId != null">and user1.deptId=#{deptId,jdbcType=VARCHAR}</if>
	  <if test="startDate != null">
	  	and orders.orderDate >= #{startDate,jdbcType=VARCHAR}
	  </if>
	  <if test="endDate != null">
	  	<![CDATA[
		and orders.orderDate <= #{endDate,jdbcType=VARCHAR}
		]]>
	  </if>
	  <if test="countryName == null">
	  UNION
				SELECT orders.*,IFNULL(orders.priceYshk,0) AS priceYshk1,orders.nameList productName,customer.customerName,user1.userName salesmanName,orders.nameList countryName
				FROM orders,customer,user user1
				WHERE  orders.type=1
					and	 orders.customerId=customer.customerId 
					AND user1.userId=orders.salesmanId 	
					<if test="salesmanId != null">and orders.salesmanId=#{salesmanId,jdbcType=VARCHAR}</if>
			  <if test="managerId != null">and orders.salesmanId in (select userId from user where managerId=#{managerId,jdbcType=VARCHAR})</if>
			  <if test="operatorId != null">and orders.operatorId = #{operatorId,jdbcType=VARCHAR}</if>
			  <if test="customerName != null">and customer.customerName ${operator} #{customerName,jdbcType=VARCHAR}</if>
			  <if test="companyName != null">and customer.company ${operator} #{companyName,jdbcType=VARCHAR}</if>
			  <if test="nameList != null">and orders.nameList ${operator} #{nameList,jdbcType=VARCHAR}</if>
			  <if test="status != null">and orders.status = #{status,jdbcType=INTEGER}</if>
			  <if test="yfhkStatus != null">and orders.yfhkStatus = #{yfhkStatus,jdbcType=INTEGER}</if>
			  <if test="yshkStatus != null">and orders.yshkStatus = #{yshkStatus,jdbcType=INTEGER}</if>
			  <if test="salesmanForSearch != null">and orders.salesmanId=#{salesmanForSearch,jdbcType=VARCHAR}</if>
			  <if test="operatorForSearch != null">and orders.operatorId=#{operatorForSearch,jdbcType=VARCHAR}</if>
	  		  <if test="orderSeq != null">and orders.orderSeq=#{orderSeq,jdbcType=VARCHAR}</if>
	  		  <if test="deptId != null">and user1.deptId=#{deptId,jdbcType=VARCHAR}</if>
	  		  <if test="startDate != null">
			  	and orders.orderDate >= #{startDate,jdbcType=VARCHAR}
			  </if>
			  <if test="endDate != null">
			  	<![CDATA[
					and orders.orderDate <= #{endDate,jdbcType=VARCHAR}
				]]>
			  </if>
	</if>
	  ) tmp1 left OUTER join user on( tmp1.operatorId = user.userId)
	</select>
  
</mapper>