<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visa.dao.UserDao" >
  
  <select id="selectAllCount" resultType="java.lang.Integer">
    select count(*) from user 
    where 1=1 
    <if test="userName != null">and userName like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')</if>
    <if test="roleId != null and roleId != 0">and roleId = #{roleId,jdbcType=INTEGER}</if>
    order by postDt desc 
  </select>
  
  <select id="selectAll" resultType="UserVo">
    select u1.*,u2.userName as managerName  
    FROM user u1 
    LEFT JOIN user u2 ON u1.managerId=u2.userId  
    where 1=1
    <if test="user.userName != null">and u1.userName like CONCAT('%',#{user.userName,jdbcType=VARCHAR},'%')</if>
    <if test="user.roleId != null and user.roleId != 0">and u1.roleId = #{user.roleId,jdbcType=INTEGER}</if>
    order by  enable desc,postDt desc 
    limit #{start,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
  </select>
  
  <select id="selectVisaAllCount" resultType="java.lang.Integer">
    select count(*) from user 
    where 1=1
    <if test="userName != null">and userName like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')</if>
    <if test="roleId != null and roleId != 0">and roleId = #{roleId,jdbcType=INTEGER}</if>
    <if test="lineRoleId != null and lineRoleId != 0">and lineRoleId = #{lineRoleId,jdbcType=INTEGER}</if>
    order by postDt desc 
  </select>
  
  <select id="selectVisaAll" resultType="UserVo">
    select u1.*,u2.userName as managerName  
    FROM user u1 
    LEFT JOIN user u2 ON u1.managerId=u2.userId  
    where 1=1
    <if test="user.userName != null">and u1.userName like CONCAT('%',#{user.userName,jdbcType=VARCHAR},'%')</if>
    <if test="user.roleId != null and user.roleId != 0">and u1.roleId = #{user.roleId,jdbcType=INTEGER}</if>
    <if test="user.lineRoleId != null and user.lineRoleId != 0">and u1.lineRoleId = #{user.lineRoleId,jdbcType=INTEGER}</if>
    order by  enable desc,postDt desc 
    limit #{start,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
  </select>
  
  <select id="selectLineAllCount" resultType="java.lang.Integer">
    select count(*) from user 
    where 1=1
    <if test="userName != null">and userName like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')</if>
    <if test="roleId != null and roleId != 0">and roleId = #{roleId,jdbcType=INTEGER}</if>
     <if test="lineRoleId != null and lineRoleId != 0">and lineRoleId = #{lineRoleId,jdbcType=INTEGER}</if>
    order by postDt desc 
  </select>
  
  <select id="selectLineAll" resultType="UserVo">
    select u1.*,u2.userName as managerName  
    FROM user u1 
    LEFT JOIN user u2 ON u1.managerId=u2.userId  
    where 1=1
    <if test="user.userName != null">and u1.userName like CONCAT('%',#{user.userName,jdbcType=VARCHAR},'%')</if>
    <if test="user.roleId != null and user.roleId != 0">and u1.roleId = #{user.roleId,jdbcType=INTEGER}</if>
     <if test="user.lineRoleId != null and user.lineRoleId != 0">and u1.lineRoleId = #{user.lineRoleId,jdbcType=INTEGER}</if>
    order by  enable desc,postDt desc 
    limit #{start,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
  </select>
  
  <select id="selectByRoleId" resultType="User">
    select *  
    FROM user 
    where roleId = #{roleId,jdbcType=INTEGER}  or lineRoleId = #{lineRoleId,jdbcType=INTEGER} 
    order by userName
    and enable = 1
  </select>
  
  <select id="selectByLineCountryId" resultType="User">
    select *  
    FROM user , operatorcountry
    where user.userId = operatorcountry.userId 
    and lineCountryId = #{lineCountryId,jdbcType=INTEGER} 
    <if test="managerId != null">and managerId = #{managerId,jdbcType=INTEGER}</if>
    and (roleId = #{roleId,jdbcType=INTEGER} or lineRoleId = #{lineRoleId,jdbcType=INTEGER} ) 
    and enable = 1
  </select>
  
  <select id="selectVisaOperators" resultType="User">
    select *  
    FROM user
    where 1=1
    <if test="managerId != null">and managerId = #{managerId,jdbcType=INTEGER}</if>
    and (roleId = #{roleId,jdbcType=INTEGER} or lineRoleId = #{lineRoleId,jdbcType=INTEGER} ) 
    and enable = 1
  </select>
  
  <select id="selectByPrimaryKey" resultType="User" parameterType="java.lang.String" >
    select * from user 
    where userId = #{roleId,jdbcType=VARCHAR}
    and enable = 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update user set enable = 0
    where userId = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="activeByPrimaryKey" parameterType="java.lang.String" >
    update user set enable = 1
    where userId = #{userId,jdbcType=VARCHAR}
  </delete>
  
 <insert id="insert" parameterType="User"  useGeneratedKeys="true" keyProperty="userId">
    insert into user (userId, userName, roleId, lineRoleId,
      pwd, managerId, postDt, deptId)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{lineRoleId,jdbcType=INTEGER}, 
      '123456', #{managerId,jdbcType=INTEGER}, now(),#{deptId,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="User" >
    update user
    set userName = #{userName,jdbcType=VARCHAR},
      <if test="roleId != null">roleId = #{roleId,jdbcType=INTEGER},</if>
      <if test="lineRoleId != null">lineRoleId = #{lineRoleId,jdbcType=INTEGER},</if>
      managerId = #{managerId,jdbcType=INTEGER},
      <if test="pwd != null">pwd = #{pwd,jdbcType=VARCHAR},</if>
      deptId = #{deptId,jdbcType=VARCHAR}
    where userId = #{userId,jdbcType=VARCHAR}
  </update>
  
  <update id="updatePwdByUserId">
    update user
    set pwd = #{pwd,jdbcType=VARCHAR}
    where userId = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>
