#header($topNav,$secNav,$title)
<script>
	function validateSeatNum(){
		var selectProductId='$!{product.lineProductId}';
		
		if(selectProductId==''){
			return;
		}
		jQuery.ajax({
    	   type: "POST",
    	   url: "/lineproduct/getOrderCutomerSize.do",
    	   data:{productId:selectProductId},
    	   success: function(result){
		   		if(result!=0){
					var seatNum = jQuery("#seatNum").val();
					if(parseInt(seatNum)<result){
						alert("机位数：" + seatNum + "小于该产品下所有订单的客人总数"+result+"，请重新填写！");
						jQuery("#seatNum").val('');
					}
				}
    	   }
		});
	}
	
	function ajaxFileUpload()
    {
        jQuery("#loading")
        .ajaxStart(function(){
            jQuery(this).show();
        })//开始上传文件时显示一个图片
        .ajaxComplete(function(){
            jQuery(this).hide();
        });//文件上传完成将图片隐藏起来
        
        jQuery.ajaxFileUpload
        (
            {
                url:'/file/upload.do',//用于文件上传的服务器端请求地址
                secureuri:false,//一般设置为false
                fileElementId:'myfile',//文件上传空间的id属性  <input type="file" id="myfile" name="myfile" />
                dataType: 'text',//返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
					data = data.replace(/<pre.*?>/g, '');
					data = data.replace(/<PRE.*?>/g, '');
					data = data.replace("<PRE>", '');  //ajaxFileUpload会对服务器响应回来的text内容加上<pre>text</pre>前后缀
                    data = data.replace("</PRE>", '');
                    data = data.replace("<pre>", '');
                    data = data.replace("</pre>", ''); //本例中设定上传文件完毕后,服务端会返回给前台[0`filepath]
                    if(data.substring(0, 1) == 0){     //0表示上传成功(后跟上传后的文件路径),1表示失败(后跟失败描述)
						var result = data.split("#");
                        jQuery('#result').html("文件上传成功<br/><a href='/file/download.do?myfile="+result[1]+"'>"+result[2]+"</a>");
						jQuery('#travelInfoFileUrl').val(result[1]);
                    }else{
                        jQuery('#result').html('文件上传失败，请重试！！');
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    jQuery('#result').html('文件上传失败，请重试！！');
                }
            }
        );
        return false;
    }
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>$title</h2>
			<div class="right"><a class="ico_order_w" title="产品信息管理" href="list.do">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="${action}.do" method="post" class="form_horizontal hq_form">
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_client_r"></span>
		        	<h3>产品基本信息</h3>
		        </div>
                #if("$action"=="update")
                <input value="$!{product.lineProductId}" type="hidden" name="lineProductId">
                <input value="$!{page}" type="hidden" name="page">
                #end
		        <div class="widget_content">
		        	<div class="control_group">
	        			<label class="control_label"><span class="ico_must">*</span>产品名称:</label>
						<div class="controls">
                            <span class="form_item"><input value="$!{product.lineProductName}" type="text" class="text1 js_non_empty" name="lineProductName" placeholder="产品名称" maxlength="50" size="50"/></span>
		              	</div>		        			
		        	</div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>航空公司:</label>
                        <div class="controls">
                            <span class="form_item"><select name="aircorpId" id="aircorpId" class="text2 js_non_empty" placeholder="航空公司">
                                <option value="" selected="selected">请选择</option>
								#foreach($one in $airlineList)
                                <option value="$one.airlineId"$fn.selected(${product.aircorpId}, $one.airlineId)>$one.airlineName</option>
                                #end
                            </select></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>所属线路国家:</label>
                        <div class="controls">
                            <span class="form_item"><select name="lineCountryId" id="lineCountryId" class="text2 js_non_empty" placeholder="所属线路国家">
                                <option value="" selected="selected">请选择</option>
								#foreach($one in $countryList)
                                <option value="$one.countryId"$fn.selected(${product.lineCountryId}, $one.countryId)>$one.countryName</option>
                                #end
                            </select></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>行程简介:</label>
                        <div class="controls">
                            <textarea class="text3" id="travelInfo" name="travelInfo" cols="80" rows="5" placeholder="行程简介" maxlength="100">$!{product.travelInfo}</textarea>
                        </div>                          
                    </div>
					<div class="control_group">
                      <label class="control_label"><span class="ico_must">*</span>行程说明:</label>
                      <div class="controls">
                           <input value="$!{product.travelInfoFileUrl}" type="hidden" id="travelInfoFileUrl" name="travelInfoFileUrl">
                           <img src="/images/loading.gif" id="loading" style="display: none;"><input id="myfile" name="myfile" type="file">
                           <input type="button" id="fileSubmit" name="fileSubmit" value="上传" onclick="return ajaxFileUpload();"><div id="result">#if(${product.travelInfoFileUrl})<a href='/file/download.do?myfile=$!{product.travelInfoFileUrl}'>$fn.getFileName($!{product.travelInfoFileUrl})</a>#else无行程说明文件#end</div>
                      </div>
                    </div>
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>领队:</label>
                        <div class="controls">
                            <span class="form_item"><input value="$!{product.groupLeader}" type="text" class="text1 js_non_empty" name="groupLeader" placeholder="领队" maxlength="100" size="100"/></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label">机票订金时限:</label>
                        <div class="controls">
                            <span class="form_item"><input type="text"  class="text1 js_datepicker js_non_empty" maxlength="10" size="10" placeholder="机票订金时限" name="depositLimitDate" id="depositLimitDate" value="$fn.format($!{product.depositLimitDate},'yyyy-MM-dd')"></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label">出票时限:</label>
                        <div class="controls">
                            <span class="form_item"><input type="text"  class="text1 js_datepicker js_non_empty" maxlength="10" size="10" placeholder="出票时限" name="printTicketLimitDate" id="printTicketLimitDate" value="$fn.format($!{product.printTicketLimitDate},'yyyy-MM-dd')"></span>
                        </div>                          
                    </div>
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>出发日期:</label>
		              <div class="controls">
		               <span class="form_item"><input type="text"  class="text1 js_datepicker" maxlength="10" size="10" placeholder="出发日期" name="startDate" id="startDate" value="$fn.format($!{product.startDate},'yyyy-MM-dd')"></span>
		              </div>
		            </div> 
					
                    <div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>归国日期:</label>
		              <div class="controls">
		               <span class="form_item"><input type="text"  class="text1 js_datepicker" maxlength="10" size="10" placeholder="归国日期" name="endDate" id="endDate" value="$fn.format($!{product.endDate},'yyyy-MM-dd')"></span>
		              </div>
		            </div> 
                    <div class="control_group">
                        <label class="control_label">机位数:</label>
                        <div class="controls">
                            <span class="form_item"><input class="text1 js_nan js_non_empty" name="seatNum" id="seatNum" placeholder="机位数" maxlength="4" size="4" value="$!{product.seatNum}" onchange="validateSeatNum()"/></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label">价格:</label>
                        <div class="controls">
                            <span class="form_item"><input class="text1 js_nan js_non_empty" name="price" id="price"  placeholder="价格" maxlength="10" size="10" value="$!{product.price}" /></span>
                        </div>                          
                    </div>
                    <div class="control_group">
                        <label class="control_label">备注:</label>
                        <div class="controls">
                            <textarea class="text3" name="des" id="" cols="80" rows="8" placeholder="备注" maxlength="20" size="8">$!{product.des}</textarea>
                        </div>                          
                    </div>
		        </div>
		      </div>
                <div class="form_actions">
    				<button type="reset" class="btn btn_reset">重置</button>
                  	<button type="submit" class="btn btn_save">保存</button>
                </div>			      
		  	</form>
		</div>
	</div>
#footer()