#header(11,111,"产品信息管理")
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_w"></span><h2>产品信息管理</h2>
			#if(${fn.isLineAdminRole($userLineRoleId)}||${fn.isLineOperatorRole($userLineRoleId)})
				<div class="right"><a class="ico_order_add" title="新增产品信息" href="add.do">+</a></div>
			#end
		</div>
		<div class="maincon_fluid">
			<form id="form1" name="form1" action="/lineproduct/list.do" method="post" class="form_horizontal">
        		<input type="hidden" id="page" name="page" value="1">
    			<div class="searchbox">
        			<label for="s_client">产品名称：<input value="$!{product.lineProductName}" id="lineProductName" name="lineProductName" type="text" class="s_client searchtx" placeholder="产品名称"></label>			
                    <label for="s_guest">所属国家：
                        <select name="lineCountryId" id="lineCountryId" class="text" onchange="conditionSearch(1)">
                            <option value="0">全部国家</option>
                            #foreach($one in $countryList)
                            <option value="$one.countryId"$fn.selected(${product.lineCountryId}, $one.countryId)>$one.countryName</option>
                            #end
                        </select>
                    </label> 
        			<label for="searchbtn"><input onclick="conditionSearch(1);" id="searchbtn" type="button" name="" class="searchbtn" value="搜索" ></label>	
        		</div>
			</form>
			<hr class="hr_a">
			<div class="widget_mng_box">
				<table cellpadding="0" cellspacing="0" width="100%" class="table_data tcenter">
	                <thead>
	                    <tr>
	                        <th width="">产品名称</th>
	                        <th width="">航空公司</th>
	                        <th width="">所属线路国家</th>
                            <th width="">机票订金时限</th>
                            <th width="">出票时限</th>
                            <th width="">机位占位数</th>
                            <th width="">余位数</th>
                            <th width="">价格</th>
							<th width="">下单</th>
							#if(${fn.isLineAdminRole($userLineRoleId)}||${fn.isLineOperatorRole($userLineRoleId)})
	                        <th width="">修改</th>
	                        <th width="">删除</th>
							#end
	                    </tr>
	                </thead>
	                <tbody>
                        #foreach($one in $productList)
	                    <tr>
	                        <td>$one.lineProductName</td>
							<td>$one.airLineName</td>
	                        <td>$one.lineCountryName</td>
                            <td>$fn.format($!{one.depositLimitDate},"yyyy-MM-dd")</td>
                            <td>$fn.format($!{one.printTicketLimitDate},"yyyy-MM-dd")</td>
                            <td>$!{one.seatNum}</td>
                            <td>$!{one.leftSeatNum}</td>
                            <td>$!{one.price}</td>
							<td><a class="ico_edit_g" href="/lineOrder/add.do?lineproductId=${one.lineProductId}&type=2"></a></td>
							#if(${fn.isLineAdminRole($userLineRoleId)}||${fn.isLineOperatorRole($userLineRoleId)})
	                        <td><a class="ico_edit_g" href="edit.do?productId=${one.lineProductId}&page=$page"></a></td>
	                        <td><a class="ico_delete_r" onclick="return confirm('是否将此产品删除?')" href="delete.do?productId=${one.lineProductId}&page=$page"></a></td>
							#end
						</tr>
                        #end	 
	                </tbody>
	            </table>
	        </div>
			#generatePage()
		</div>
	</div>
#footer()