## =====================================================
## 公用宏模板
## =====================================================
## -----------------------------------------------------
## 页头
## -----------------------------------------------------
#macro(header, $topNav, $secNav, $title)
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$!title</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/haoqian.css" rel="stylesheet">
<link href="/ui_custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/jquery-ui.js"></script>
<script type="text/javascript" src="/jquery.boxy.js" charset='utf-8'></script>
<script type="text/javascript" src="/ajaxfileupload.js" charset='utf-8'></script>
<script>
	function conditionSearch(page){
//		jQuery("#form1").attr("action","/orders/list.do");
		jQuery("#page").val(page);
		jQuery("#form1").submit();
	}
</script>
</head>
<body>
<div class="phead">
    <div class="headbar">
        <div class="hq_logo"><a href="#">好签网 签证操作管理系统</a></div>
        <div class="usernav">
            <span class="userwelcom">$!{session.getAttribute("session_user").userName}，欢迎您！</span>
            <div class="usernav_lst">
                <ul>
                    <li><a href="/logout.do">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#set($userLineRoleId=${session.getAttribute("session_user").lineRoleId})
#set($userRoleId=${session.getAttribute("session_user").roleId})
#set($userUserId=${session.getAttribute("session_user").userId})
<div class="pbody">
    <div class="sidebar">
        <div class="sidenav">
            <ul>
				#if(${fn.isAdminRoleId($userRoleId)})
                <li class="pro_mng#if($topNav==1) open#end">
                    <a class="pro_mng_tab" href="/product/list.do"><span class="ico_pro"></span><span class="sidenav_text">产品管理</span><span class="ico_fold"></span></a>
                    <dl>
                        <dd#if($secNav==11) class="on"#end><a href="/product/list.do">产品信息管理</a></dd>
                        <dd#if($secNav==12) class="on"#end><a href="/product/add.do">新增产品信息</a></dd>
                    </dl>
                </li>
				#end
				#if(${fn.isLineAdminRole($userLineRoleId)})
				<li class="pro_mng#if($topNav==11) open#end">
                    <a class="pro_mng_tab" href="/lineproduct/list.do"><span class="ico_pro"></span><span class="sidenav_text">线路产品管理</span><span class="ico_fold"></span></a>
                    <dl>
                        <dd#if($secNav==111) class="on"#end><a href="/lineproduct/list.do">线路产品信息管理</a></dd>
						#if(${fn.isLineAdminRole($userLineRoleId)}||${fn.isLineOperatorRole($userLineRoleId)})
							<dd#if($secNav==112) class="on"#end><a href="/lineproduct/add.do">新增线路产品信息</a></dd>
						#end
                    </dl>
                </li>
				<li class="client_mng#if($topNav==7) open#end">
                    <a class="client_mng_tab" href="/linecountry/list.do"><span class="ico_setting"></span><span class="sidenav_text">线路国家管理</span><span class="ico_fold"></span></a>
                    <dl>
                        <dd#if($secNav==71) class="on"#end><a href="/linecountry/list.do">国家信息管理</a></dd>
                        <dd#if($secNav==72) class="on"#end><a href="/linecountry/add.do">新增国家信息</a></dd>
                    </dl>                   
                </li>
                <li class="client_mng#if($topNav==8) open#end">
                    <a class="client_mng_tab" href="/airline/list.do"><span class="ico_setting"></span><span class="sidenav_text">航空公司管理</span><span class="ico_fold"></span></a>
                    <dl>
                        <dd#if($secNav==81) class="on"#end><a href="/airline/list.do">航空公司管理</a></dd>
                        <dd#if($secNav==82) class="on"#end><a href="/airline/add.do">新增航空公司信息</a></dd>
                    </dl>                   
                </li>
				#end
				#if($userRoleId==${fn.getSalesmanRoleId()}||${fn.isAdminRoleId($userRoleId)}||${fn.isLineSalesmanRole($userLineRoleId)}||${fn.isLineAdminRole($userLineRoleId)})
                <li class="client_mng#if($topNav==2) open#end">
                    <a class="client_mng_tab" href="/customer/list.do"><span class="ico_client"></span><span class="sidenav_text">客户管理</span><span class="ico_fold"></span></a>
                    <dl>
                        <dd#if($secNav==21) class="on"#end><a href="/customer/list.do">客户信息管理</a></dd>
                        <dd#if($secNav==22) class="on"#end><a href="/customer/add.do">新增客户信息</a></dd>
                    </dl>                   
                </li>
				#end
				#if($userRoleId&&$userRoleId<6)
                <li class="order_mng#if($topNav==3) open#end">
                    <a class="order_mng_tab" href="/orders/list.do?page=1"><span class="ico_order"></span><span class="sidenav_text">订单管理</span><span class="ico_fold"></span></a>
                    <dl>
                        <dd#if($secNav==31) class="on"#end><a href="/orders/list.do?page=1">订单信息管理</a></dd>
						#if($userRoleId==${fn.getSalesmanRoleId()})
							<dd#if($secNav==32) class="on"#end><a href="/orders/add.do">新增订单</a></dd>
							<dd#if($secNav==34) class="on"#end><a href="/orders/add.do?type=1">新增单项产品订单</a></dd>
						#end
						#if(${fn.isAdminRoleId($userRoleId)})
							<dd#if($secNav==33) class="on"#end><a href="/orders/export.do">导出订单信息</a></dd>
						#end
						
                    </dl>
                </li>
				#end
				#if($userLineRoleId==0||$userLineRoleId>=6)
				<li class="order_mng#if($topNav==10) open#end">
                    <a class="order_mng_tab" href="/lineOrder/list.do?page=1&type=1"><span class="ico_order"></span><span class="sidenav_text">路线订单管理</span><span class="ico_fold"></span></a>
                    <dl>
                        <dd#if($secNav==101) class="on"#end><a href="/lineOrder/list.do?page=1&type=1">单团路线订单信息管理</a></dd>
                        <dd#if($secNav==105) class="on"#end><a href="/lineOrder/list.do?page=1&type=2">散拼路线订单信息管理</a></dd>
						#if(${fn.isLineAdminRole($userLineRoleId)})
							<dd#if($secNav==103) class="on"#end><a href="/lineOrder/export.do">导出路线订单信息</a></dd>
							<dd#if($secNav==104) class="on"#end><a href="/operatelog/list.do?page=1">路线订单操作日志</a></dd>
						#end
                    </dl>
                </li>
				#end
				#if(${fn.isAdminRoleId($userRoleId)})
    				<li class="client_mng#if($topNav==5) open#end">
                        <a class="client_mng_tab" href="/country/list.do"><span class="ico_setting"></span><span class="sidenav_text">签证国家管理</span><span class="ico_fold"></span></a>
                        <dl>
                            <dd#if($secNav==51) class="on"#end><a href="/country/list.do">国家信息管理</a></dd>
                            <dd#if($secNav==52) class="on"#end><a href="/country/add.do">新增国家信息</a></dd>
                        </dl>                   
                    </li>
                    
    				<li class="client_mng#if($topNav==6) open#end">
                        <a class="client_mng_tab" href="/area/list.do"><span class="ico_setting"></span><span class="sidenav_text">领区管理</span><span class="ico_fold"></span></a>
                        <dl>
                            <dd#if($secNav==61) class="on"#end><a href="/area/list.do">领区信息管理</a></dd>
                            <dd#if($secNav==62) class="on"#end><a href="/area/add.do">新增领区信息</a></dd>
                        </dl>                   
                    </li>
                    
                    <li class="client_mng#if($topNav==9) open#end">
                        <a class="client_mng_tab" href="/department/list.do"><span class="ico_setting"></span><span class="sidenav_text">部门管理</span><span class="ico_fold"></span></a>
                        <dl>
                            <dd#if($secNav==91) class="on"#end><a href="/department/list.do">部门信息管理</a></dd>
                            <dd#if($secNav==92) class="on"#end><a href="/department/add.do">新增部门信息</a></dd>
                        </dl>                   
                    </li>
				#end
                
                <li class="client_mng#if($topNav==4) open#end">
                    <a class="client_mng_tab" href="#if(${fn.isAdminRoleId($userRoleId)}||${fn.isLineAdminRole($userLineRoleId)}) /user/list.do #else /user/changepwd.do #end"><span class="ico_setting"></span><span class="sidenav_text">系统管理</span><span class="ico_fold"></span></a>
                    <dl>
                        #if(${fn.isAdminRoleId($userRoleId)}||${fn.isLineAdminRole($userLineRoleId)})
                        <dd#if($secNav==41) class="on"#end><a href="/user/list.do">用户信息管理</a></dd>
                        <dd#if($secNav==42) class="on"#end><a href="/user/add.do">新增用户信息</a></dd>
                        #end
                        <dd#if($secNav==43) class="on"#end><a href="/user/changepwd.do">用户密码修改</a></dd>
                    </dl>                   
                </li>
            </ul>
        </div>
    </div>
#end

## -----------------------------------------------------
## 页脚
## -----------------------------------------------------
#macro(footer)
</div>
<div class="pfoot">
    <div class="footer"> 2013 © Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<script type="text/javascript" src="/haoqian.js"></script>
</body>
</html>
#end

## -----------------------------------------------------
## 后台翻页
## -----------------------------------------------------
#macro(generatePage)
	#if($page!=0&&$pageCount!=0)
		##计算尾页，下一页是否存在
		#set ($add1=$math.add($page,1))
		##计算首页，上一页是否存在
		#set ($sub1=$math.sub($page,1))
	
    	##总页数不足5页，打出所有页
        #if($pageCount<5)
    		#set ($startNo=1)
    		#set ($endNo=$pageCount)
    	##总页数超过5页，确定循环起止页
        #else
    		##保证选中页位于中间，故以当前页为中间数：向前取2页为临时开始页，向后取2页为临时结束页
    		#set ($tempstart=$math.sub($page,2))
    		#set ($tempend=$math.add($page,2))
    		##判断临时开始页是否存在：小于0即表示不存在，则起始位置为首页；否则起始位置为临时开始页
    		#if($tempstart<=0)
    			#set ($startNo=1)
    		#else
    			#set ($startNo=$tempstart)
    		#end
    		##判断临时结束页是否存在：大于总页数即表示不存在，则结束位置为尾页；否则结束位置为临时结束页
    		#if($tempend>$pageCount)
    			#set ($endNo=$pageCount)
    		#else
    			#set ($endNo=$tempend)
    		#end
    		##判断起始位置与结束为止间距离是否为5，小于5要补齐缺少的页数
    		#if($math.sub($startNo,$endNo)<4)
    			##判断起始位置加上4是否存在：小于总页数表示存在，结束位置为起始位置+4；否则结束位置为尾页
    			#if($math.add($startNo,4)<$pageCount)
    				#set ($endNo=$math.add($startNo,4))
    			#else
    				#set ($endNo=$pageCount)
    			#end
    			##判断结束位置减去4是否存在：大于0表示存在，起始页为结束位置-4；否则起始位置为首页
    			#if($math.sub($endNo,4)>0)
    				#set ($startNo=$math.sub($endNo,4))
    			#else
    				#set ($startNo=1)
    			#end
    		#end
    	  #end
	
        <div class="hq_pages">
        	<ul>
        		#if($sub1>0)
                  <li class="page_pn page_pn_on"><a href="javascript:conditionSearch(1)">首页</a></li>
        		#else
        		  <li class="page_pn page_pn_on">首页</li>
        		#end  
    			
        		#if($sub1>0)
                  <li class="page_pn page_pn_on"><a href="javascript:conditionSearch($!{sub1})">上一页</a></li>
        		#else
        			<li class="page_pn page_pn_on">上一页</li>
    			#end
    			
        		#foreach($p in [$startNo..$endNo])
                      #if($p == $page)
                              <li class="page_on">$!{p}</li>
                      #else
                              <li><a href="javascript:conditionSearch($!{p})">$!{p}</a></li>
                      #end
    			#end
    			
                  #if($add1<=$pageCount)
                      <li class="page_pn page_pn_on"><a href="javascript:conditionSearch($!{nextPage})">下一页</a></li>
            	  #else
            		  <li class="page_pn page_pn_on">下一页</li>
    			  #end
    			  
            	  #if($add1<=$pageCount)
                    <li class="page_pn page_pn_on"><a href="javascript:conditionSearch($!{pageCount})">尾页</a></li>
            	  #else
            		<li class="page_pn page_pn_on">尾页</li>
				  #end
				  <li class="page_pn page_pn_on">第$!{page}页/共$!{pageCount}页 共$!{recordCount}条记录 </li>
              </ul>
         </div>
	#end
#end

## -----------------------------------------------------
## 一种翻页，带范围的  1 2 3 4 ... 100
## -----------------------------------------------------
#macro(page_with_range, $hrefPrefix)
	#if($pageCount > 1)
        #if($prevPage)
			#if($prevPage == 1)
				<a href="$!{hrefPrefix}.html" class="wine_pages_btn wine_pages_prev">上一页</a>
			#else
				<a href="$!{hrefPrefix}_$!{prevPage}.html" class="wine_pages_btn wine_pages_prev">上一页</a>
			#end
    	#end
        #if(1 == $page)
    		<a href="$!{hrefPrefix}.html" class="current">1</a>
    	#else
    		<a href="$!{hrefPrefix}.html">1</a>
    	#end
    	#if($pageCount > 1)
    		#if($pageCount > 2)
        		#if($pageBegin > 2)
        			<span>……</span>
    			#end
        		#set($pageCount_1 = $pageCount - 1)
                #foreach($p in [2..$pageCount_1])
            		#if($p >= $pageBegin && $p <= $pageEnd)
            		    #if($p == $page)
            				<a href="$!{hrefPrefix}_$!{p}.html" class="current">$!{p}</a>
            			#else
            				<a href="$!{hrefPrefix}_$!{p}.html">$!{p}</a>
                        #end
                    #end
    			#end
    			#if($pageEnd < $pageCount_1)
        			<span>……</span>
    			#end
    		#end
    		#if($pageCount == $page)
        		<a href="$!{hrefPrefix}_$!{pageCount}.html" class="current">$!{pageCount}</a>
        	#else
        		<a href="$!{hrefPrefix}_$!{pageCount}.html">$!{pageCount}</a>
        	#end
    	#end
        #if($nextPage)
    		<a href="$!{hrefPrefix}_$!{nextPage}.html" class="wine_pages_btn wine_pages_next">下一页</a>
        #end
    #end
#end
