/* css reset */
body {
  font-family: SimSun,arial;
  background: #ffffff url(images/bg.jpg) repeat 0 0;
  color: #5f5f5f;
  font-size: 12px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}
table,
td,
tr,
th {
  font-size: 12px;
}
li {
  list-style-type: none;
}
img {
  vertical-align: top;
  border: 0;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: normal;
}
/* css lib*/
.clearfix,
.sect,
.sect_hd,
.sect_bd,
.mod,
.mod_hd,
.mod_bd,
.insect,
.col_l,
.col_m,
.col_lm,
.col_mr,
.col_r {
  *zoom: 1;
}
.clearfix:after,
.sect:after,
.sect_hd:after,
.sect_bd:after,
.mod:after,
.mod_hd:after,
.mod_bd:after,
.insect:after,
.col_l:after,
.col_m:after,
.col_lm:after,
.col_mr:after,
.col_r:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.col_l {
  width: 300px;
  float: left;
  margin: 0 20px 0 0;
}
.col_m {
  width: 420px;
  float: left;
}
.col_lm {
  width: 740px;
  float: left;
}
.col_r {
  width: 200px;
  float: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hr_a {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #fff;
}
/* icon */
.ico_fold {
  width: 5px;
  height: 40px;
  line-height: 40px;
  float: right;
  background: url(images/fold_arrow.png) no-repeat center;
}
.ico_pro,
.ico_order,
.ico_client,
.ico_setting {
  float: left;
  width: 26px;
  height: 40px;
  line-height: 40px;
}
.ico_pro {
  background: url(images/ico_pro.png) no-repeat center;
}
.ico_order {
  background: url(images/ico_order.png) no-repeat center;
}
.ico_client {
  background: url(images/ico_client.png) no-repeat center;
}
.ico_setting {
  background: url(images/ico_setting.png) no-repeat center;
}
.ico_order_add,
.ico_client_add,
.ico_pro_add,
.ico_order_w,
.ico_client_w,
.ico_pro_w {
  float: left;
  _display: inline;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.ico_order_add:visited,
.ico_client_add:visited,
.ico_pro_add:visited,
.ico_order_w:visited,
.ico_client_w:visited,
.ico_pro_w:visited,
.ico_order_add:hover,
.ico_client_add:hover,
.ico_pro_add:hover,
.ico_order_w:hover,
.ico_client_w:hover,
.ico_pro_w:hover {
  color: #fff;
  text-decoration: none;
}
a.ico_order_add,
a.ico_client_add,
a.ico_pro_add,
a.ico_order_w,
a.ico_client_w,
a.ico_pro_w {
  cursor: pointer;
}
.ico_order_add {
  background: #6e97aa;
}
.ico_client_add {
  background: #ba6d6d;
}
.ico_pro_add {
  background: #8fae53;
}
.ico_order_w {
  background: #6e97aa url(images/ico_order_w.png) no-repeat center;
}
.ico_client_w {
  background: #ba6d6d url(images/ico_client_w.png) no-repeat center;
}
.ico_pro_w {
  background: #8fae53 url(images/ico_pro_w.png) no-repeat center;
}
.ico_client_r {
  float: left;
  width: 30px;
  height: 100%;
  line-height: 100%;
  border-right: 1px solid #dadada;
  background: url(images/ico_client_r.png) no-repeat center;
}
.ico_order_r {
  float: left;
  width: 30px;
  height: 100%;
  line-height: 100%;
  border-right: 1px solid #dadada;
  background: url(images/ico_order_r.png) no-repeat center;
}
.ico_static_r {
  float: left;
  width: 30px;
  height: 100%;
  line-height: 100%;
  border-right: 1px solid #dadada;
  background: url(images/ico_static_r.png) no-repeat center;
}
.ico_info_r {
  float: left;
  width: 30px;
  height: 100%;
  line-height: 100%;
  border-right: 1px solid #dadada;
  background: url(images/ico_info_r.png) no-repeat center;
}
.ico_remark_r {
  float: left;
  width: 30px;
  height: 100%;
  line-height: 100%;
  border-right: 1px solid #dadada;
  background: url(images/ico_remark_r.png) no-repeat center;
}
.ico_edit_g,
.ico_delete_r {
  display: block;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.ico_edit_g {
  background: url(images/ico_edit_g.png) no-repeat center;
}
.ico_delete_r {
  background: url(images/ico_delete_r.png) no-repeat center;
}
.ico_error {
  width: 20px;
  height: 30px;
  line-height: 30px;
  background: url(images/ico_delete_r.png) no-repeat center;
}
/* css public*/
a,
a:visited {
  color: #252525;
  text-decoration: none;
}
a:hover {
  color: #cc1b1c;
  text-decoration: underline;
}
.footer {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  color: #c2c2c2;
  font-family: Arial,SimSun;
}
.footer a,
.footer a:visited {
  color: #c2c2c2;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.headbar {
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  padding: 0 40px;
  color: #c2c2c2;
  border-bottom: 1px solid #1c1c1c;
  background: url(images/head_bg.jpg) repeat 0 0;
}
.hq_logo {
  float: left;
}
.hq_logo a {
  float: left;
  padding-left: 80px;
  height: 54px;
  line-height: 64px;
  overflow: hidden;
  color: #fbb074;
  font-family: "MicroSoft YaHei", SimSun, Arial;
  font-weight: bold;
  font-size: 16px;
  background: url(images/logo.png) no-repeat 0 center;
}
.hq_logo a:hover {
  text-decoration: none;
}
.usernav {
  float: right;
}
.userwelcom {
  float: left;
}
.usernav_lst {
  float: left;
  margin-top: 12px;
}
.usernav_lst li {
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 10px;
  background: #262626;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 1px 0 #4e4e4e;
  -webkit-box-shadow: 0 1px 0 #4e4e4e;
  -moz-box-shadow: 0 1px 0 #4e4e4e;
}
.usernav_lst a {
  float: left;
  line-height: 30px;
  padding: 0 10px;
  color: #c2c2c2;
  font-family: "MicroSoft YaHei", SimSun, Arial;
}
.usernav_lst a:visited {
  color: #c2c2c2;
}
.usernav_lst a:hover {
  color: #fff;
  text-decoration: none;
}
.sidebar {
  width: 220px;
  min-height: 100%;
  float: left;
  z-index: 10;
  background: url(images/sidebar_bg.jpg) scroll repeat 0 0;
}
.sidebar li,
.sidebar dd {
  line-height: 40px;
}
.sidebar a {
  display: block;
  padding: 0 20px 0 30px;
  color: #c2c2c2;
  overflow: hidden;
  *zoom: 1;
}
.sidebar a:visited {
  color: #c2c2c2;
}
.sidebar a:hover {
  color: #fff;
  text-decoration: none;
}
.sidebar .on a,
.sidebar .on a:visited,
.sidebar .on a:hover {
  color: #fff;
}
.sidebar .on a {
  font-weight: bold;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(86, 86, 86, 0.2)), to(rgba(54, 54, 54, 0.1)));
  background-image: -webkit-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
  background-image: -moz-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
  background-image: -o-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
  background-image: linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
}
.sidebar li {
  _border-top: #555 solid 1px;
  _border-bottom: #2e2e2e solid 1px;
}
.sidebar li.open dl {
  display: block;
}
.sidebar li.open .ico_fold {
  background: url(images/unfold_arrow.png) no-repeat center;
}
.sidebar li > a {
  border-top: #555 solid 1px;
  border-bottom: #2e2e2e solid 1px;
  background: url(images/sidenav_bg.jpg) repeat 0 0;
}
.sidebar li > a:hover {
  background-image: linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
  background-image: -ms-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
  background-image: -webkit-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
  background-image: -o-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
  background-image: -moz-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
}
.sidebar dl {
  _border-top: #2e2e2e solid 1px;
  display: none;
}
.sidebar dl dd a {
  padding-left: 55px;
}
.sidenav_text {
  float: left;
}
.miancon {
  margin-left: 220px;
  min-width: 1680px;
  background: url(images/maincon_bg.jpg) repeat 0 0;
  _margin-left: 0;
  _float: left;
}
.maincon_title {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  border-bottom: #fff solid 1px;
  padding: 0 40px;
  font-family: "MicroSoft YaHei", SimSun, Arial;
  background: url(images/content_title.png) repeat 0 0;
}
.maincon_title h2 {
  font-size: 18px;
  float: left;
}
.maincon_fluid {
  border-top: #c3c3c3 solid 1px;
  padding: 40px;
  overflow: hidden;
}
.hq_pages {
  margin-top: 40px;
}
.hq_pages ul {
  font-size: 0;
  text-align: center;
}
.hq_pages li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  margin: 0 5px;
  overflow: hidden;
  font-size: 12px;
  border: #8fae53 solid 1px;
  background-color: #f8f8f8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  box-shadow: 0 1px 2px 0 #cccccc;
  -webkit-box-shadow: 0 1px 2px 0 #cccccc;
  -moz-box-shadow: 0 1px 2px 0 #cccccc;
  -o-box-shadow: 0 1px 2px 0 #cccccc;
  -ms-box-shadow: 0 1px 2px 0 #cccccc;
}
.hq_pages li a {
  display: inline-block;
  padding: 0 9px;
  color: #8fae53;
}
.hq_pages li a:visited {
  color: #8fae53;
}
.hq_pages li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #8fae53;
}
.hq_pages .page_more {
  color: #8fae53;
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}
.hq_pages .page_on {
  padding: 0 9px;
  color: #fff;
  background-color: #8fae53;
}
.hq_pages .page_pn_on {
  padding: 0 8px;
  color: #999;
  border: #ccc solid 1px;
  background-color: #f1f1f1;
}
/* css site*/
.widget_box {
  background: #F9F9F9;
  border-left: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  border-bottom: 1px solid #CDCDCD;
}
.widget_title {
  border-top: 1px solid #CDCDCD;
  border-bottom: 1px solid #CDCDCD;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  *zoom: 1;
  background: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
  background-image: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
  background-image: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
  background-image: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
  background-image: linear-gradient(top, #f8f8f8, #e8e8e8);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f8f8f8, endcolorstr=#e8e8e8, gradientType=0);
}
.widget_title h3 {
  color: #666;
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  line-height: 12px;
  margin: 0;
}
.widget_title .label {
  padding: 3px 5px 2px;
  float: right;
  margin: 9px 11px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
}
.form_horizontal {
  overflow: hidden;
}
.form_horizontal .text1 {
  height: 26px;
  line-height: 26px;
  padding: 0 4px;
  width: 300px;
  color: #5f5f5f;
  font-size: 12px;
}
.form_horizontal .text2 {
  height: 26px;
  line-height: 26px;
  width: 308px;
  color: #5f5f5f;
  font-size: 12px;
}
.form_horizontal .text3 {
  width: 400px;
  _width: auto;
  padding: 0 4px;
  font-size: 12px;
  line-height: 22px;
  color: #5f5f5f;
}
.form_horizontal .control_group {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 0;
  *zoom: 1;
}
.form_horizontal .control_group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form_horizontal .control_group:last-child {
  border-bottom: 0;
}
.form_horizontal .control_label {
  padding-top: 18px;
  width: 180px;
  float: left;
  text-align: right;
}
.form_horizontal .controls {
  margin-left: 200px;
  padding: 10px 50px 10px 0;
  *zoom: 1;
  _float: left;
  _display: inline;
  _margin-left: 20px;
}
.form_horizontal .controls:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form_horizontal .controls span {
  float: left;
  _display: inline;
  margin-right: 10px;
  position: relative;
}
.form_horizontal .form_actions {
  padding: 20px 40px 10px 200px;
  text-align: left;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.error_tip {
  color: #ba6d6d;
  line-height: 30px;
}
.btn_reset {
  padding: 6px 30px;
  text-align: center;
  border: #a95151 solid 1px;
  color: #fff;
  background: #ca8181;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ca8181), to(#a34d4d));
  background-image: -webkit-linear-gradient(top, #ca8181, #a34d4d);
  background-image: -moz-linear-gradient(top, #ca8181, #a34d4d);
  background-image: -o-linear-gradient(top, #ca8181, #a34d4d);
  background-image: -ms-linear-gradient(top, #ca8181, #a34d4d);
  background-image: linear-gradient(top, #ca8181, #a34d4d);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ca8181, endcolorstr=#a34d4d, gradientType=0);
  box-shadow: 0 1px 2px 0 #cd8787 inset;
  -webkit-box-shadow: 0 1px 2px 0 #cd8787 inset;
  -moz-box-shadow: 0 1px 2px 0 #cd8787 inset;
  -o-box-shadow: 0 1px 2px 0 #cd8787 inset;
  -ms-box-shadow: 0 1px 2px 0 #cd8787 inset;
  cursor: pointer;
}
.btn_save {
  padding: 6px 30px;
  text-align: center;
  border: #68a341 1px solid;
  color: #fff;
  background: #96c161;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#96c161), to(#609c3d));
  background-image: -webkit-linear-gradient(top, #96c161, #609c3d);
  background-image: -moz-linear-gradient(top, #96c161, #609c3d);
  background-image: -o-linear-gradient(top, #96c161, #609c3d);
  background-image: -ms-linear-gradient(top, #96c161, #609c3d);
  background-image: linear-gradient(top, #96c161, #609c3d);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#96c161, endcolorstr=#609c3d, gradientType=0);
  box-shadow: 0 1px 2px 0 #a4ca6c inset;
  -webkit-box-shadow: 0 1px 2px 0 #a4ca6c inset;
  -moz-box-shadow: 0 1px 2px 0 #a4ca6c inset;
  -o-box-shadow: 0 1px 2px 0 #a4ca6c inset;
  -ms-box-shadow: 0 1px 2px 0 #a4ca6c inset;
  cursor: pointer;
}
.client_info {
  border: 1px solid #cdcdcd;
}
.client_info tbody td,
.client_info thead th {
  border-left: 1px solid #DFDFDF;
  box-shadow: 0 1px 0 #fafafa inset;
  -webkit-box-shadow: 0 1px 0 #fafafa inset;
  -moz-box-shadow: 0 1px 0 #fafafa inset;
}
.client_info tbody td:first-child,
.client_info thead th:first-child {
  border-left: none;
}
.client_info thead th:first-child > img {
  vertical-align: middle;
  padding-bottom: 2px;
}
.client_info thead th {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding: 3px 5px 2px 5px;
  color: #909090;
  background: #eee;
}
.client_info tbody td {
  padding: 7px 11px;
  vertical-align: middle;
}
.client_info tbody tr {
  border-top: 1px solid #DFDFDF;
}
.client_info tbody tr:first-child {
  box-shadow: 0 1px 0px #fff inset;
  -webkit-box-shadow: 0 1px 0px #fff inset;
  -moz-box-shadow: 0 1px 0px #fff inset;
}
.client_info tbody tr:nth-child(even) {
  background: #f2f2f2;
}
.client_operate_btns {
  margin-top: 10px;
}
.client_delete,
.client_add {
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  cursor: pointer;
  border: #ddd solid 1px;
  float: none !important;
  display: inline-block;
}
.client_delete {
  margin-left: 13%;
}
.widget_mng_box {
  width: 100%;
  overflow: hidden;
}
.table_data {
  border-top: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  white-space: nowrap;
}
.table_data tbody tr {
  border-top: 1px solid #DFDFDF;
}
.table_data tbody tr:nth-child(odd) {
  background: #f2f2f2;
}
.table_data td,
.table_data th {
  border-left: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  box-shadow: 0 1px 0 #fafafa inset;
  -webkit-box-shadow: 0 1px 0 #fafafa inset;
  -moz-box-shadow: 0 1px 0 #fafafa inset;
}
.table_data th {
  line-height: 26px;
  padding: 3px 5px 2px 5px;
  text-align: center;
  background: #eee;
}
.table_data td {
  line-height: 24px;
  padding: 7px 11px;
}
.client_table_data {
  width: 50%;
}
.client_table_data tbody tr:nth-child(odd) {
  background: none;
}
.client_table_data tbody tr:nth-child(even) {
  background: #f2f2f2;
}
.client_table_data .tb_text {
  height: 22px;
  width: 80%;
  font-size: 12px;
  background: none;
  border: none;
}
.searchbox {
  line-height: 30px;
  *zoom: 1;
}
.searchbox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.searchbox label {
  float: left;
  _display: inline;
  line-height: 30px;
  margin-right: 12px;
}
.searchtx {
  width: 140px;
  height: 22px;
  line-height: 22px;
  padding: 0 4px;
  color: #5f5f5f;
  font-size: 12px;
  background-color: #fdfdfd;
  border: 1px solid #d7d7d7;
}
.searchbtn {
  width: 60px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #c3c3c3;
  box-shadow: inset 0 1px 2px #fff;
  -webkit-box-shadow: inset 0 1px 2px #fff;
  -moz-box-shadow: inset 0 1px 2px #fff;
  color: #686868;
  font-size: 12px;
  text-shadow: none;
  background-color: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e5e5e5', GradientType=0);
  cursor: pointer;
}
.login_page {
  padding-top: 10%;
  background: #ffffff url(images/bg.jpg) repeat 0 0;
}
.login_box {
  width: 32%;
  margin: 0 auto;
}
.login_box .control_group {
  padding: 20px 0;
  margin-bottom: 0px;
}
.login_box .controls {
  padding: 0 20px;
}
.login_box .main_input_box {
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
}
.login_box .main_input_box .add_on {
  padding: 6px 9px;
  color: #fff;
  width: 30px;
  display: inline-block;
}
.login_box .main_input_box input {
  height: 30px;
  border: 0px;
  padding: 4px 6px;
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  line-height: 28px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.login_box .form_head {
  padding: 15px 10px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  padding-left: 80px;
  height: 54px;
  line-height: 64px;
  overflow: hidden;
  color: #fbb074;
  font-family: "MicroSoft YaHei", SimSun, Arial;
  font-weight: bold;
  font-size: 16px;
  background: url(images/logo.png) no-repeat 0 center;
}
.login_box .form_head h3 {
  font-size: 18px;
}
.ico_user,
.ico_lock {
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  width: 48px;
  display: inline-block;
  vertical-align: middle;
}
.ico_user {
  background: #28b779 url(images/ico_user.png) no-repeat center;
}
.ico_lock {
  background: #ffb848 url(images/ico_lock.png) no-repeat center;
}
.form_vertical,
.form_actions {
  margin-bottom: 0;
  background: none;
  border-top: 1px solid #555;
}
.form_actions {
  text-align: right;
  padding: 16px 20px 15px;
  overflow: hidden;
  margin-top: 20px;
}
.form_actions .btn {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 26px;
  font-size: 12px;
  display: inline-block;
  color: #fff;
}
.form_actions .btn:visited,
.form_actions .btn:hover {
  color: #fff;
}
.form_actions .btn_fgt {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.form_actions .btn_fgt:hover {
  background-color: #2f96b4;
}
.form_actions .btn_login {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor:pointer;
}
.icon_user {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(images/ico_client_w.png) no-repeat center;
}
.maincon_404 {
  padding: 10% 0;
}
.module_404 {
  width: 30%;
  padding: 50px 0 50px 200px;
  margin: 0 auto;
  text-align: left;
  font-family: "MicroSoft YaHei", SimSun, Arial;
  font-size: 20px;
  background: url(images/ico_error.png) no-repeat left center;
}
.module_404 h3 {
  font-size: 100px;
}
.module_404 .back {
  color: #ba6d6d;
}
.dropcontrol .dt {
  float: left;
}
.dropcontrol .dd {
  float: left;
  position: relative;
  *zoom: 1;
  z-index: 10;
}
.dropcontrol .dropbox {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 10;
  display: block;
  width: 99%;
  _width: 300px;
  padding: 1px 0;
  font-size: 12px;
  background-color: #fff;
  border: #ccc solid 1px;
  box-shadow: 0 1px 2px #dddddd;
  -webkit-box-shadow: 0 1px 2px #dddddd;
  -moz-box-shadow: 0 1px 2px #dddddd;
  -o-box-shadow: 0 1px 2px #dddddd;
  -ms-box-shadow: 0 1px 2px #dddddd;
  color: #505050;
}
.dropcontrol .dropbox a {
  display: block;
  padding: 0 10px;
  color: #505050;
}
.dropcontrol .dropbox a:hover {
  color: #fff;
  background-color: #ba6d6d;
  text-decoration: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
}
.dropcontrol .dropbox li {
  padding: 0 1px;
  _float: left;
  _width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.login_box .main_msg_box {
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.tcenter td{text-align:center}

.boxy-wrapper{
	width: 310px;
	position: absolute;
}
.boxy-wrapper .title-bar {
	background: url(images/importboxtop.png);
	width: 310px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
}
.boxy-wrapper .title-bar h2{
	font-weight: bold;
	font-size:14px;
	color: #2b2b2b;
	padding: 2px 0 0;
	float: left;
	margin-left: 120px;
	display: inline;
}
.boxy-wrapper .title-bar .close{
	float: right;
	width: 9px;
	height: 9px;
	background: url(images/close.jpg) no-repeat left top;
	margin: 16px 16px 0 0;
	display: inline;
}
.boxy-wrapper .boxybody{
	background: url(images/importboxbody.png) repeat-y left top;
	overflow: hidden;
	zoom:1;
}
.boxy-wrapper .boxybody .d1{
	width: 180px;
	display: inline-block;
	text-align: left;
	padding: 0 0 0 4px;
}
.boxy-wrapper .boxybody input {
	vertical-align: middle;
}
.boxy-wrapper .boxybody p{
	line-height: 21px;
	margin-top: 15px;
	padding-left:30px;
}
.boxy-wrapper .boxybody .boxytextinput{
	vertical-align: middle;
	width: 175px;
	height: 21px;
	border: 1px solid #BBB;
	padding:0 2px;
}
.boxy-wrapper .boxybody .boxyradioinput{
	vertical-align: middle;
	padding-right:10px;
}
.boxy-wrapper .boxybtn1{
	width: 68px;
	height: 24px;
	background: url(images/importboxbtn.jpg) no-repeat left top;
	float: left;
	margin-left: 96px;
	border: none;
	cursor: pointer;
}
.boxy-wrapper .boxyft{
	width: 310px;
	height: 7px;
	overflow: hidden;
	line-height: 1px;
	font-size: 0;
	background: url(images/importboxbottom.png) no-repeat left top;
}
#sidebar a:link,a:visited,a:hover,a:active   {
  color:#FF0000;
  text-decoration:none;
  }