// less lib
.fontyahei(){font-family:"MicroSoft YaHei",SimSun,Arial;}
.fontSimSun(){font-family:SimSun,Arial;}
.clear(){overflow: hidden; *zoom:1;}
.hhidden(@ht:22px){height:@ht; line-height:@ht; overflow: hidden;}
.whidden(@wd:100%){width:@wd; overflow: hidden;}
.left(@mg:0 10px 0 0){float:left; margin:@mg;}
.right(@mg:0 0 0 10px){float:right; margin:@mg;}
.rel(){position:relative;}
.abs(){position:absolute;}
@color01:#ec6b6b;
@color02:#ea5959;
@color03:#8a0707;
@color04:#991716;
@color05:#9e0c0d;
@dhcolor:#cc1b1c;
.linergradient(@cl01,@cl02){
	background-image: -webkit-gradient(linear, left top, left bottom, from(@cl01), to(@cl02));
	background-image: -webkit-linear-gradient(top, @cl01, @cl02);
	background-image: -moz-linear-gradient(top, @cl01, @cl02);
	background-image: -o-linear-gradient(top, @cl01, @cl02);
	background-image: -ms-linear-gradient(top, @cl01, @cl02);
	background-image: linear-gradient(top, @cl01, @cl02);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=@cl01,endcolorstr=@cl02,gradientType=0);	
}
.radius(@rd:50%){
	border-radius:@rd;
	-webkit-border-radius:@rd;
	-moz-border-radius:@rd;
	-o-border-radius:@rd;
	-ms-border-radius:@rd;
}
.bshadow(@sd:0 1px 2px 0 #cd8787 inset){
	box-shadow:@sd;
	-webkit-box-shadow:@sd;
	-moz-box-shadow:@sd;
	-o-box-shadow:@sd;
	-ms-box-shadow:@sd;	
}

/* css reset */
body{font-family:SimSun,arial; background:#ffffff url(images/bg.jpg) repeat 0 0; color:#5f5f5f;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}   
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul{list-style:none;}   
caption,th{text-align:left;}   
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
strong {font-weight:normal;}

/* css lib*/
.clearfix,.sect,.sect_hd,.sect_bd,.mod,.mod_hd,.mod_bd,.insect,.col_l,.col_m,.col_lm,.col_mr,.col_r{*zoom:1;}
.clearfix:after,.sect:after,.sect_hd:after,.sect_bd:after,.mod:after,.mod_hd:after,.mod_bd:after,.insect:after,.col_l:after,.col_m:after,.col_lm:after,.col_mr:after,.col_r:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.col_l{width:300px; .left(0 20px 0 0);}
.col_m{width:420px; float:left;}
.col_lm{width:740px; float:left;}
.col_r{width:200px; float:right;}
.left{float:left;}
.right{float:right;}
.hr_a{
	margin: 30px 0;
	border: 0;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #fff;
}
/* icon */
.ico_fold{width:5px; height:40px; line-height:40px; float: right; background: url(images/fold_arrow.png) no-repeat center;}
.ico_pro,.ico_order,.ico_client,.ico_setting{
	float:left; width:26px; height:40px; line-height:40px; 
}
.ico_pro{background: url(images/ico_pro.png) no-repeat center;}
.ico_order{background: url(images/ico_order.png) no-repeat center;}
.ico_client{background: url(images/ico_client.png) no-repeat center;}
.ico_setting{background: url(images/ico_setting.png) no-repeat center;}
.ico_order_add,.ico_client_add,.ico_pro_add,.ico_order_w,.ico_client_w,.ico_pro_w{
	float:left; _display:inline; margin-right:10px; width:24px; height:24px; line-height:24px; margin-top:28px; .radius();
	color:#fff; font-weight:bold; font-size:16px; text-align: center;
	&:visited,&:hover{color:#fff; text-decoration: none;};
}
a.ico_order_add,a.ico_client_add,a.ico_pro_add,a.ico_order_w,a.ico_client_w,a.ico_pro_w{
	cursor:pointer;
}
.ico_order_add{background: #6e97aa; }
.ico_client_add{background: #ba6d6d; }
.ico_pro_add{background: #8fae53 }
.ico_order_w{background: #6e97aa url(images/ico_order_w.png) no-repeat center; }
.ico_client_w{background: #ba6d6d url(images/ico_client_w.png) no-repeat center; }
.ico_pro_w{background: #8fae53 url(images/ico_pro_w.png) no-repeat center; }
.ico_client_r{
	float:left; width:30px; height:100%; line-height:100%; border-right:1px solid #dadada;
	background: url(images/ico_client_r.png) no-repeat center;
}
.ico_order_r{
	float:left; width:30px; height:100%; line-height:100%; border-right:1px solid #dadada;
	background: url(images/ico_order_r.png) no-repeat center;
}
.ico_static_r{
	float:left; width:30px; height:100%; line-height:100%; border-right:1px solid #dadada;
	background: url(images/ico_static_r.png) no-repeat center;
}
.ico_info_r{
	float:left; width:30px; height:100%; line-height:100%; border-right:1px solid #dadada;
	background: url(images/ico_info_r.png) no-repeat center;
}
.ico_remark_r{
	float:left; width:30px; height:100%; line-height:100%; border-right:1px solid #dadada;
	background: url(images/ico_remark_r.png) no-repeat center;
}
.ico_edit_g,.ico_delete_r{
	display:block; .hhidden(24px); cursor:pointer;
}
.ico_edit_g{background: url(images/ico_edit_g.png) no-repeat center;}
.ico_delete_r{background: url(images/ico_delete_r.png) no-repeat center;}
.ico_error{
	width:20px; height:30px; line-height:30px; 
	background: url(images/ico_delete_r.png) no-repeat center;
}

/* css public*/
a,a:visited{color:#252525; text-decoration: none;}
a:hover{color:@dhcolor; text-decoration: underline;}
.footer{
	.hhidden(30px); text-align: center; color:#c2c2c2; font-family:Arial,SimSun;
	a,a:visited{color:#c2c2c2;}
	a:hover{color:#fff; text-decoration: none;}
}
.headbar{
	.hhidden(54px); padding:0 40px; color:#c2c2c2; border-bottom: 1px solid #1c1c1c; 
	background: url(images/head_bg.jpg) repeat 0 0;  
}
.hq_logo{
	float:left;
	a{
		float:left; padding-left:80px; height:54px; line-height:64px; overflow: hidden; color:#fbb074; .fontyahei(); font-weight:bold; font-size:16px;
		background: url(images/logo.png) no-repeat 0 center;
	}
	a:hover{text-decoration: none;}
}
.usernav{float:right; width:300px;}
.userwelcom{float:left;}
.usernav_lst{
	float:left; margin-top:12px;
	li{float:left; height:30px; line-height:30px; margin: 0 0 0 10px; background: #262626;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%; 
		border-radius: 50%; 
		box-shadow: 0 1px 0 #4e4e4e; 
		-webkit-box-shadow: 0 1px 0 #4e4e4e; 
		-moz-box-shadow: 0 1px 0 #4e4e4e;		
	}
	a{float:left; line-height:30px; padding:0 10px; color:#c2c2c2; .fontyahei(); } 
	a:visited{color:#c2c2c2;}
	a:hover{color:#fff; text-decoration: none;}
}
.sidebar{
	width:220px; min-height:100%; float:left; z-index:10; 
	background: url(images/sidebar_bg.jpg) scroll repeat 0 0;
	li,dd{line-height:40px;}
	a{display:block; padding:0 20px 0 30px; color:#c2c2c2; overflow: hidden; *zoom:1;}
	a:visited{color:#c2c2c2;}
	a:hover{color:#fff; text-decoration: none;}
	.on{
		a,a:visited,a:hover{color:#fff;};
		a{
			font-weight:bold;
			background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(86, 86, 86, 0.2)), to(rgba(54, 54, 54, 0.1)));
			background-image:-webkit-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
			background-image:-moz-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
			background-image:-o-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
			background-image:linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);			
		};
	}
	li{
		_border-top:#555 solid 1px;
		_border-bottom:#2e2e2e solid 1px;
		&.open{
			dl{display:block;}
			.ico_fold{background: url(images/unfold_arrow.png) no-repeat center;}
		}
		> a{
			border-top:#555 solid 1px;
			border-bottom:#2e2e2e solid 1px;
			background: url(images/sidenav_bg.jpg) repeat 0 0;
			&:hover{
				background-image:linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
				background-image:-ms-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
				background-image:-webkit-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
				background-image:-o-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
				background-image:-moz-linear-gradient(rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
			}
		}
	}
	dl{
		_border-top:#2e2e2e solid 1px;
		display:none;
		dd a{padding-left:55px;}	
	}
}
.sidenav_text{float:left;}
.miancon{
	margin-left:220px;
	min-width:640px;
	background: url(images/maincon_bg.jpg) repeat 0 0;
	_margin-left:0;
	_float:left;
}
.maincon_title{
	.hhidden(80px); border-bottom:#fff solid 1px;  padding:0 40px; .fontyahei();
	background: url(images/content_title.png) repeat 0 0;
	h2{font-size:18px; float:left;}
}
.maincon_fluid{
	border-top:#c3c3c3 solid 1px; padding:40px;
}
.hq_pages{
	margin-top:40px;
	ul{
		font-size:0; text-align: center;
	}
	li{
		display:inline-block; *display:inline; *zoom:1;
		height:24px; line-height:24px; margin:0 5px;
		overflow: hidden;
		font-size:12px;
		border:#8fae53 solid 1px;
		background-color: #f8f8f8;
		.radius(3px);
		.bshadow(0 1px 2px 0 #ccc);
		a{
			display:inline-block; padding:0 9px; 
			color:#8fae53;
		}
		a:visited{color:#8fae53;}
		a:hover{
			color:#fff; text-decoration: none;
			background-color: #8fae53;		
		}
	}
	.page_more{color:#8fae53; border:none; background:none; .bshadow(none);}
	.page_on{
		padding:0 9px;
		color:#fff;
		background-color: #8fae53;
	}
	.page_pn_on{
		padding:0 8px;
		color:#999;
		border:#ccc solid 1px;
		background-color: #f1f1f1;
	}
}

/* css site*/
.widget_box {
	background: none repeat scroll 0 0 #F9F9F9;
	border-left: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	position:relative;
}
.widget_title{
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	height: 36px;  	
	background:#efefef;
	.linergradient(#f8f8f8,#e8e8e8);
}
.widget_title h3 {
	color: #666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}
.widget_title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 11px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.form_horizontal{
	margin:0; padding:0;
	.text1{height:26px; line-height:26px; padding:0 4px; width:300px; color:#5f5f5f; font-size:12px;}
	.text2{height:26px; line-height:26px; width:308px; color:#5f5f5f; font-size:12px;}
	.text3{width:100%; _width:auto; padding:0 4px; font-size:12px; line-height:22px; color:#5f5f5f;}
	.control_group {
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #eeeeee;
		margin-bottom: 0;
		.clear();
	}
	.control_group:last-child {
		border-bottom: 0;
	}
	.control_label {
		padding-top:18px;
		width: 180px;
		float:left;
		text-align: right;
	}
	.controls {
		margin-left: 200px;
		padding: 10px 50px 10px 0;
		.clear();
		_float:left;
		_display:inline;
		_margin-left:20px;		
		span{
			float:left; _display:inline; margin-right:10px;
		}
	}
	.form_actions {
		padding:20px 40px 10px 200px;
		text-align: right;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #eeeeee;	
	}
}
.error_tip{color:#ba6d6d; line-height:30px;}
.btn_reset{
	padding:6px 30px;
	text-align: center;
	border: #a95151 solid 1px;
	color:#fff;
	background: #ca8181;
	.radius(2px);
	.linergradient(#ca8181,#a34d4d);
	.bshadow(0 1px 2px 0 #cd8787 inset);
	cursor:pointer;
}
.btn_save{
	padding:6px 30px;
	text-align: center;
	border: #68a341 1px solid;
	color:#fff;
	background: #96c161;
	.radius(2px);
	.linergradient(#96c161, #609c3d);
	.bshadow(0 1px 2px 0 #a4ca6c inset);
	cursor:pointer;	
}
.client_info{
	border:1px solid #cdcdcd;
	tbody td, thead th { border-left: 1px solid #DFDFDF; box-shadow: 0 1px 0 #fafafa inset; -webkit-box-shadow: 0 1px 0 #fafafa inset; -moz-box-shadow: 0 1px 0 #fafafa inset; }
	tbody td:first-child, thead th:first-child { border-left: none; }
	thead th:first-child > img { vertical-align: middle; padding-bottom: 2px; }
	thead th { text-align: center; font-size: 12px; line-height:20px; padding: 3px 5px 2px 5px; color: #909090; background: #eee; }
	tbody td { padding: 7px 11px; vertical-align: middle; }
	tbody tr { border-top: 1px solid #DFDFDF; }
	tbody tr:first-child { box-shadow: 0 1px 0px #fff inset; -webkit-box-shadow: 0 1px 0px #fff inset; -moz-box-shadow: 0 1px 0px #fff inset; }
	tbody tr:nth-child(even) { background: #f2f2f2; }
}
.client_operate_btns{margin-top:10px;}
.client_delete,.client_add{border:#ddd solid 1px; padding:0 5px; cursor:pointer;}
.widget_mng_box{
	width:100%; overflow: hidden;
}
.table_data{
	border-top:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	tbody tr{border-top: 1px solid #DFDFDF;}
	tbody tr:nth-child(odd) {
		background: #f2f2f2;
	}
	td,th{
		border-left: 1px solid #DFDFDF;
		border-bottom:1px solid #DFDFDF;
		box-shadow: 0 1px 0 #fafafa inset;
		-webkit-box-shadow: 0 1px 0 #fafafa inset;
		-moz-box-shadow: 0 1px 0 #fafafa inset;
	}
	th{ 
		line-height:26px; padding: 3px 5px 2px 5px; text-align: center;
		background: #eee;
	}
	td{
		line-height:24px; padding:7px 11px;
	}
}
.client_table_data{
	width:50%;
	tbody tr:nth-child(odd) {
		background: none;
	}	
	tbody tr:nth-child(even) {
		background: #f2f2f2;
	}
	.tb_text{
		height:100%; width:100%;
		font-size:12px;
		background:none;
		border:none;
	}	
}
.searchbox{
	line-height:24px;
	.clear();
	label{
		float:left; _display:inline; line-height:30px; margin-right:12px;
	}
}
.searchtx{
	width:140px; height:22px; line-height:22px; padding:0 4px;
	color:#5f5f5f; font-size:12px;
	background-color: #fdfdfd;
	border:1px solid #d7d7d7;
}
.searchbtn{
	width:60px; height:24px; line-height:24px;
	border: 1px solid #c3c3c3; 
	box-shadow: inset 0 1px 2px #fff; 
	-webkit-box-shadow: inset 0 1px 2px #fff; 
	-moz-box-shadow: inset 0 1px 2px #fff; 
	color: #686868; font-size:12px;
	text-shadow: none;
	background-color: #fafafa;
	background: -moz-linear-gradient(top,  #fafafa 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
	background: linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );
	cursor:pointer;
	// background-image:url(images/ico_search.png);
	// background-position: center;
	// background-repeat:no-repeat;	
}


