<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.visa.po.User" />
		<typeAlias alias="Orders" type="com.visa.po.Orders" />
		<typeAlias alias="Product" type="com.visa.po.Product" />
		<typeAlias alias="Customer" type="com.visa.po.Customer" />
		<typeAlias alias="Area" type="com.visa.po.Area" />
		<typeAlias alias="Country" type="com.visa.po.Country" />
		<typeAlias alias="Airline" type="com.visa.po.Airline" />
		<typeAlias alias="UserVo" type="com.visa.vo.UserVo" />
		<typeAlias alias="CustomerVo" type="com.visa.vo.CustomerVo" />
		<typeAlias alias="ProductVo" type="com.visa.vo.ProductVo" />
		<typeAlias alias="Department" type="com.visa.vo.Department" />
		<typeAlias alias="LineNameList" type="com.visa.po.line.LineNameList" />
		<typeAlias alias="LineOrder" type="com.visa.po.line.LineOrder" />
		<typeAlias alias="LineOrderVo" type="com.visa.vo.line.LineOrderVo" />
		<typeAlias alias="LineProduct" type="com.visa.po.line.LineProduct" />
		<typeAlias alias="LinesSrvice" type="com.visa.po.line.LinesSrvice" />
		<typeAlias alias="OperateLog" type="com.visa.po.line.OperateLog" />
		<typeAlias alias="OperatorCountry" type="com.visa.po.line.OperatorCountry" />
		<typeAlias alias="LineProductVo" type="com.visa.vo.line.LineProductVo" />
		<typeAlias alias="OperateLogVo" type="com.visa.vo.line.OperateLogVo" />
	</typeAliases>
</configuration>
