#header(10,102,"新增线路订单信息")
<script>
	function getProductId(){
		var selectProductId=jQuery("#selectProductId").val();
		jQuery("#lineProductId").val(selectProductId);
		
		if(selectProductId==''){
			return;
		}
		jQuery.ajax({
    	   type: "POST",
    	   url: "/lineproduct/getProductInfo.do",
    	   data:{productId:selectProductId},
    	   success: function(result){
		   		if(result!='error'){
					var depositLimitDate = new Date(result.depositLimitDate);
					var printTicketLimitDate = new Date(result.printTicketLimitDate);
					var startDate = new Date(result.startDate);
					var endDate = new Date(result.endDate);
    				jQuery("#depositLimitDate").val(depositLimitDate.getFullYear()+'-'+(depositLimitDate.getMonth()+1)+'-'+depositLimitDate.getDate());
					jQuery("#printTicketLimitDate").val(printTicketLimitDate.getFullYear()+'-'+(printTicketLimitDate.getMonth()+1)+'-'+printTicketLimitDate.getDate());
					jQuery("#travelInfo").val(result.travelInfo);
					jQuery("#lineCountryId").val(result.lineCountryId);
					jQuery("#price").val(result.price);
					jQuery("#startDate").val(startDate.getFullYear()+'-'+(startDate.getMonth()+1)+'-'+startDate.getDate());
					jQuery("#endDate").val(endDate.getFullYear()+'-'+(endDate.getMonth()+1)+'-'+endDate.getDate());
					jQuery("#seatNum").val(result.seatNum);
					jQuery("#leftSeatNum").val(result.leftSeatNum);
				}
    	   }
		});
	}

	function changeProductType(){
		var type=jQuery("#type").val();
		//1 单团;2 散拼
		if(type==1){
			jQuery("#sanpinSelectDiv").hide();
			jQuery("#dantuanSelectDiv").show();
			
			jQuery("#selectProductId").removeClass('js_non_empty');
			jQuery("#travelAgency").addClass('js_non_empty');
			jQuery("#contact").addClass('js_non_empty');
			jQuery("#contactNo").addClass('js_non_empty');
			jQuery("#lineProductId").val(0);
			jQuery("#price").attr("readonly","false");
			jQuery("#startDate").attr("readonly","false");
			jQuery("#endDate").attr("readonly","false");
		}else{
			jQuery("#sanpinSelectDiv").show();
			jQuery("#dantuanSelectDiv").hide();
			
			jQuery("#selectProductId").addClass('js_non_empty');
			jQuery("#travelAgency").removeClass('js_non_empty');
			jQuery("#contact").removeClass('js_non_empty');
			jQuery("#contactNo").removeClass('js_non_empty');
			jQuery("#price").attr("readonly","true");
			jQuery("#startDate").attr("readonly","true");
			jQuery("#endDate").attr("readonly","true");
		}
	}
	function setNamelistSize(){
		var nameListSize = parseInt(jQuery("#nameListSize").val());
		var leftSeatNum = parseInt(jQuery("#leftSeatNum").val());
		if(nameListSize>leftSeatNum){
			jQuery("#nameListSize").val("");
			alert('客人数量大于剩余机位数，请重新填写！');
		}
	}
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>新增订单信息</h2>
			<div class="right"><a class="ico_order_w" title="订单信息管理" href="/lineOrder/list.do?page=1">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="/lineOrder/addSubmit.do" method="post" class="form_horizontal hq_form line">
				
			  <input value="0" type="hidden" id="lineProductId" name="lineProductId">
				
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_order_r"></span>
		        	<h3>订单基本信息</h3>
		        </div>
		        <div class="widget_content">
					<div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>订单类型:</label>
                        <div class="controls">
                            <span class="form_item"><select name="type" id="type" class="text2 js_non_empty" placeholder="订单类型" onchange="changeProductType()">
								<option value="1" selected>单团</option>
								<option value="2">散拼团</option>
                            </select></span>
                        </div>                          
                    </div>
					
					<div id="sanpinSelectDiv"> 
    					<div class="control_group">
                            <label class="control_label"><span class="ico_must">*</span>散拼团:</label>
                            <div class="controls">
                                <span class="form_item"><select id="selectProductId" class="text2" placeholder="散拼团" onchange="getProductId()">
    								<option value="" selected="selected">请选择</option>
    								#foreach($one in $lineProductList)
    									<option value="$one.lineProductId">$one.lineProductName</option>
                                    #end
                                </select></span>
                            </div>
                        </div>
    					
    					<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>机票订金时限:</label>
                            <div class="controls">
                                <span class="form_item"><input id="depositLimitDate" type="text" class="text1" placeholder="机票订金时限" readonly></span>
                            </div>   
    					</div>
    					
    					<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>出票时限:</label>
                            <div class="controls">
                                <span class="form_item"><input id="printTicketLimitDate" type="text" class="text1" placeholder="出票时限" readonly></span>
                            </div>  
    					</div>
						
						<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>座位数:</label>
                            <div class="controls">
                                <span class="form_item"><input id="seatNum" type="text" class="text1" placeholder="座位数" readonly></span>
                            </div>  
    					</div>
						
						<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>余位数:</label>
                            <div class="controls">
                                <span class="form_item"><input id="leftSeatNum" type="text" class="text1" placeholder="余位数" readonly></span>
                            </div>  
    					</div>
					</div>
					
					<div id="dantuanSelectDiv"> 
    		        	<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>组团社:</label>
    		              <div class="controls">
    		               <span class="form_item"><input name="travelAgency" id="travelAgency" type="text" class="text1" maxlength="50" size="50" placeholder="组团社"></span>
    		              </div>
    		            </div>	
    					
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>联系人:</label>
    		              <div class="controls">
    		               <span class="form_item"><input name="contact" id="contact" type="text" class="text1" maxlength="10" size="10" placeholder="联系人"></span>
    		              </div>
    		            </div>	
    					
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>联系方式:</label>
    		              <div class="controls">
    		               <span class="form_item"><input name="contactNo" id="contactNo" type="text" class="text1" maxlength="50" size="50" placeholder="联系方式"></span>
    		              </div>
    		            </div>	
					</div>	
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>出发日期:</label>
		              <div class="controls">
		               <span class="form_item"><input type="text"  class="text1 js_datepicker" maxlength="10" size="10" placeholder="出发日期" name="startDate" id="startDate" value=""></span>
		              </div>
		            </div> 
					
                    <div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>归国日期:</label>
		              <div class="controls">
		               <span class="form_item"><input type="text"  class="text1 js_datepicker" maxlength="10" size="10" placeholder="归国日期" name="endDate" id="endDate" value=""></span>
		              </div>
		            </div> 
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>行程简介:</label>
		              <div class="controls">
		               <textarea class="text3" id="travelInfo" name="travelInfo" cols="80" rows="5" placeholder="行程简介" maxlength="100"></textarea>
		              </div>
		            </div>	
					
                    <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>国家名称:</label>
                        <div class="controls">
                            <span class="form_item"><select name="lineCountryId" id="lineCountryId" class="text2 js_non_empty" placeholder="国家名称">
                                <option value="" selected="selected">请选择</option>
								#foreach($one in $countryList)
									<option value="$one.countryId">$one.countryName</option>
                                #end
                            </select></span>
                        </div>                          
                    </div>
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>客人数量:</label>
		              <div class="controls">
		               <span class="form_item"><input name="nameListSize" id="nameListSize" type="text" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="客人数量" onchange="setNamelistSize()"></span>
		              </div>
		            </div>
		            
		            <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>客人信息:</label>
                        <div class="controls" id="customTab">
                            <div class="client_operate js_line_client_operate">
                                <table cellpadding="0" cellspacing="0" class="client_table_data table_data">
                                    <thead>
                                        <tr>
                                            <th>客人信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                                                                                                姓名:<input type="text" class="tb_text" name="tempName" value="" placeholder="客户姓名" style="width:8%;"/>
                                                                                                                                性别:<select name="tempSex" placeholder="客人性别"><option value="1">男</option><option value="2">女</option></select>
                                                                                                                                类型:<select name="tempAgeType" placeholder="客人类型"><option value="1">成人</option><option value="2">儿童(占床)</option><option value="3">儿童(不占床)</option></select>                            
                                                                                                                                押金:<input type="text" class="tb_text" name="tempDeposit" value="" placeholder="押金" style="width:8%;"/>
                                                                                                                                资料:<input type="text" class="tb_text" name="tempDatum" value="" placeholder="资料" style="width:10%;"/>
                                                                                                                                房间数:<input type="text" class="tb_text" name="tempRoom" value="" placeholder="房间数" style="width:8%;"/>
                                                                                                                                备注:<input type="text" class="tb_text" name="tempComment" value="" placeholder="备注" style="width:5%;"/>
                                                <span name="delName" class="client_delete" title="删除行">-</span>
                                            </td>
                                        </tr>           
                                    </tbody>
                                </table><span class="form_item"><input type="hidden" class="js_non_empty" id="nameList" name="nameList" value="" placeholder="客人信息"></span>
                                <div class="client_operate_btns">
                                    <span class="client_add" title="添加行">+</span>
                                </div>
                            </div>
                        </div>                          
                    </div>
                </div>	
					
		        </div>
				
				<div class="widget_title">
		        	<span class="ico_static_r"></span>
		        	<h3>操作信息</h3>
		        </div>
		        <div class="widget_content">
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>线路操作员:</label>
		              <div class="controls">
		               <span class="form_item"><select name="lineOperatorId" id="lineOperatorId" class="text2 js_non_empty" placeholder="线路操作员">
							<option value="" selected="selected">请选择</option>
							
						</select></span>
		              </div>
		            </div>
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>签证操作员:</label>
		              <div class="controls">
		               <span class="form_item"><select name="visaOperatorId" id="visaOperatorId" class="text2 js_non_empty" placeholder="签证操作员">
							<option value="" selected="selected">请选择</option>
							
						</select></span>
		              </div>
		            </div>  
				</div>
				
		        <div class="widget_title">
		        	<span class="ico_static_r"></span>
		        	<h3>费用计算</h3>
		        </div>
				<div class="widget_content">
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>单价:</label>
		              <div class="controls">
		               <span class="form_item"><input name="price" id="price" type="text" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="单价"></span>
		              </div>
		            </div>
		        </div>         
		        <div class="widget_title">
		        	<span class="ico_remark_r"></span>
		        	<h3>备注信息</h3>
		        </div>
		        <div class="widget_content">
		        </div> 
		      </div>
				<div class="form_actions">
					<button type="reset" class="btn btn_reset">重置</button>
	              	<button type="submit" class="btn btn_save">保存</button>
	            </div>			      
		  	</form>
		</div>
	</div>
	<script>
	changeProductType();
	</script>
#footer()