#header(10,102,"新增线路订单信息")
<script>
	function getProductId(){
		var selectProductId=jQuery("#selectProductId").val();
		jQuery("#lineProductId").val(selectProductId);
		
		if(selectProductId==''){
			return;
		}
		jQuery.ajax({
    	   type: "POST",
    	   url: "/lineproduct/getProductInfo.do",
    	   data:{productId:selectProductId},
    	   success: function(result){
		   		if(result!='error'){
					var depositLimitDate = new Date(result.depositLimitDate);
					var printTicketLimitDate = new Date(result.printTicketLimitDate);
					var startDate = new Date(result.startDate);
					var endDate = new Date(result.endDate);
    				jQuery("#depositLimitDate").val(depositLimitDate.getFullYear()+'-'+(depositLimitDate.getMonth()+1)+'-'+depositLimitDate.getDate());
					jQuery("#printTicketLimitDate").val(printTicketLimitDate.getFullYear()+'-'+(printTicketLimitDate.getMonth()+1)+'-'+printTicketLimitDate.getDate());
					jQuery("#travelInfo").val(result.travelInfo);
					jQuery("#lineCountryId").val(result.lineCountryId);
					jQuery("#price").val(result.price);
					jQuery("#startDate").val(startDate.getFullYear()+'-'+(startDate.getMonth()+1)+'-'+startDate.getDate());
					jQuery("#endDate").val(endDate.getFullYear()+'-'+(endDate.getMonth()+1)+'-'+endDate.getDate());
					jQuery("#seatNum").val(result.seatNum);
					jQuery("#leftSeatNum").val(result.leftSeatNum);
					if(result.travelInfoFileUrl!=''){
						jQuery("#travelInfoFileUrl").val(result.travelInfoFileUrl);
						var fileName = result.travelInfoFileUrl.substring(result.travelInfoFileUrl.lastIndexOf('/')+1);
						jQuery('#result').html("<a href='/file/download.do?myfile="+result.travelInfoFileUrl+"'>"+fileName+"</a>");
					}
					jQuery("#travelInfo").val(result.travelInfo);
					getOperators();
				}
    	   }
		 });
	}

	function changeProductType(){
		var type=jQuery("#type").val();
		//1 单团;2 散拼
		if(type==1){
			jQuery("#sanpinSelectDiv").hide();
			
			jQuery("#selectProductId").removeClass('js_non_empty');
			jQuery("#lineProductId").val(0);
			jQuery("#price").removeAttr("readonly");
			jQuery("#startDate").removeAttr("readonly");
			jQuery("#endDate").removeAttr("readonly");
			jQuery("#startDate").datepicker( "option", "disabled", false );
			jQuery("#endDate").datepicker( "option", "disabled", false );
		}else{
			jQuery("#sanpinSelectDiv").show();
			
			jQuery("#lineProductId").val(jQuery("#selectProductId").val());
			jQuery("#selectProductId").addClass('js_non_empty');
			jQuery("#price").attr("readonly","readonly");
			jQuery("#startDate").attr("readonly","readonly");
			jQuery("#endDate").attr("readonly","readonly");
			jQuery("#startDate").datepicker( "option", "disabled", true );
			jQuery("#endDate").datepicker( "option", "disabled", true );
		}
	}
	function setNamelistSize(){
		var nameListSize = parseInt(jQuery("#nameListSize").val());
		var leftSeatNum = parseInt(jQuery("#leftSeatNum").val());
		if(nameListSize>leftSeatNum){
			jQuery("#nameListSize").val("");
			alert('客人数量大于剩余机位数，请重新填写！');
			return;
		}
		calculatePriceSum();
	}
	function ajaxFileUpload()
    {
        jQuery("#loading")
        .ajaxStart(function(){
            jQuery(this).show();
        })//开始上传文件时显示一个图片
        .ajaxComplete(function(){
            jQuery(this).hide();
        });//文件上传完成将图片隐藏起来
        
        jQuery.ajaxFileUpload
        (
            {
                url:'/file/upload.do',//用于文件上传的服务器端请求地址
                secureuri:false,//一般设置为false
                fileElementId:'myfile',//文件上传空间的id属性  <input type="file" id="myfile" name="myfile" />
                dataType: 'text',//返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
					data = data.replace(/<pre.*?>/g, '');
					data = data.replace(/<PRE.*?>/g, '');
					data = data.replace("<PRE>", '');  //ajaxFileUpload会对服务器响应回来的text内容加上<pre>text</pre>前后缀
                    data = data.replace("</PRE>", '');
                    data = data.replace("<pre>", '');
                    data = data.replace("</pre>", ''); //本例中设定上传文件完毕后,服务端会返回给前台[0`filepath]
                    if(data.substring(0, 1) == 0){     //0表示上传成功(后跟上传后的文件路径),1表示失败(后跟失败描述)
						var result = data.split("#");
                        jQuery('#result').html("文件上传成功<br/><a href='/file/download.do?myfile="+result[1]+"'>"+result[2]+"</a>");
						jQuery('#travelInfoFileUrl').val(result[1]);
                    }else{
                        jQuery('#result').html('文件上传失败，请重试！！');
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    jQuery('#result').html('文件上传失败，请重试！！');
                }
            }
        );
        return false;
    }
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_add">+</span><h2>新增订单信息</h2>
			<div class="right"><a class="ico_order_w" title="订单信息管理" href="/lineOrder/list.do?page=1">+</a></div>
		</div>
		<div class="maincon_fluid">
			<form action="/lineOrder/addSubmit.do" method="post" class="form_horizontal hq_form line" onsubmit="dealDisabled();">
				
			  <input value="0" type="hidden" id="lineProductId" name="lineProductId">
			  <input value="" type="hidden" id="travelInfoFileUrl" name="travelInfoFileUrl">
				
		      <div class="widget_box">
		        <div class="widget_title">
		        	<span class="ico_order_r"></span>
		        	<h3>订单基本信息</h3>
		        </div>
		        <div class="widget_content">
					#if($!product)
						#parse("/view/lineOrder/sanpinAdd.vm")
					#else
					<div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>订单类型:</label>
                        <div class="controls">
                            <span class="form_item"><select name="type" id="type" class="text2 js_non_empty" placeholder="订单类型" onchange="changeProductType()">
								<option value="1" selected>单团</option>
								<option value="2">散拼团</option>
                            </select></span>
                        </div>                          
                    </div>
					
					<div id="sanpinSelectDiv"> 
    					<div class="control_group">
                            <label class="control_label"><span class="ico_must">*</span>散拼团:</label>
                            <div class="controls">
                                <span class="form_item"><select id="selectProductId" class="text2" placeholder="散拼团" onchange="getProductId()">
    								<option value="" selected="selected">请选择</option>
    								#foreach($one in $lineProductList)
    									<option value="$one.lineProductId">$one.lineProductName</option>
                                    #end
                                </select></span>
                            </div>
                        </div>
    					
    					<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>机票订金时限:</label>
                            <div class="controls">
                                <span class="form_item"><input id="depositLimitDate" type="text" class="text1" placeholder="机票订金时限" readonly></span>
                            </div>   
    					</div>
    					
    					<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>出票时限:</label>
                            <div class="controls">
                                <span class="form_item"><input id="printTicketLimitDate" type="text" class="text1" placeholder="出票时限" readonly></span>
                            </div>  
    					</div>
						
						<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>座位数:</label>
                            <div class="controls">
                                <span class="form_item"><input id="seatNum" type="text" class="text1" placeholder="座位数" readonly></span>
                            </div>  
    					</div>
						
						<div class="control_group">
        					<label class="control_label"><span class="ico_must">*</span>余位数:</label>
                            <div class="controls">
                                <span class="form_item"><input id="leftSeatNum" type="text" class="text1" placeholder="余位数" readonly></span>
                            </div>  
    					</div>
    				</div>
					
						<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>出发日期:</label>
    		              <div class="controls">
    		               <span class="form_item"><input type="text"  class="text1 js_datepicker js_non_empty" maxlength="10" size="10" placeholder="出发日期" name="startDate" id="startDate" value=""></span>
    		              </div>
    		            </div> 
    					
                        <div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>归国日期:</label>
    		              <div class="controls">
    		               <span class="form_item"><input type="text"  class="text1 js_datepicker js_non_empty" maxlength="10" size="10" placeholder="归国日期" name="endDate" id="endDate" value=""></span>
    		              </div>
    		            </div> 
						
                        <div class="control_group">
                            <label class="control_label"><span class="ico_must">*</span>国家名称:</label>
                            <div class="controls">
                                <span class="form_item"><select name="lineCountryId" id="lineCountryId" class="text2 js_non_empty" placeholder="国家名称" #if($userRoleId==${fn.getLineManagerRoleId()}||${fn.isLineAdminRole($userRoleId)}) onchange="getOperators()" #end>
                                    <option value="" selected="selected">请选择</option>
    								#foreach($one in $countryList)
    									<option value="$one.countryId">$one.countryName</option>
                                    #end
                                </select></span>
                            </div>                          
                        </div>
					
						<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>行程说明:</label>
    		              <div class="controls">
                               <img src="/images/loading.gif" id="loading" style="display: none;"><input id="myfile" name="myfile" type="file">
                               <input type="button" id="fileSubmit" name="fileSubmit" value="上传" onclick="return ajaxFileUpload();"><div id="result"></div>
    					  </div>
    		            </div> 
    					
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>行程简介:</label>
    		              <div class="controls">
    		               <textarea class="text3" id="travelInfo" name="travelInfo" cols="80" rows="5" placeholder="行程简介" maxlength="100"></textarea>
    		              </div>
    		            </div>	
					#end
					
		        	<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>组团社:</label>
		              <div class="controls">
		               <span class="form_item"><input name="travelAgency" id="travelAgency" type="text" class="text1" maxlength="50" size="50" placeholder="组团社"></span>
		              </div>
		            </div>	
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>联系人:</label>
		              <div class="controls">
		               <span class="form_item"><input name="contact" id="contact" type="text" class="text1" maxlength="10" size="10" placeholder="联系人"></span>
		              </div>
		            </div>	
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>联系方式:</label>
		              <div class="controls">
		               <span class="form_item"><input name="contactNo" id="contactNo" type="text" class="text1" maxlength="50" size="50" placeholder="联系方式"></span>
		              </div>
		            </div>	
					
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>客人数量:</label>
		              <div class="controls">
		               <span class="form_item"><input name="nameListSize" id="nameListSize" type="text" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="客人数量" onchange="setNamelistSize()"></span>
		              </div>
		            </div>
		            
		            <div class="control_group">
                        <label class="control_label"><span class="ico_must">*</span>客人信息:</label>
                        <div class="controls" id="customTab">
                            <div class="client_operate js_line_client_operate">
                                <table cellpadding="0" cellspacing="0" class="client_table_data table_data">
                                    <thead>
                                        <tr>
                                            <th>客人信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                      <input type="hidden" id="tempId" name="tempId" value="" />
                                                                                                                                姓名:<input type="text" class="tb_text" name="tempName" value="" placeholder="客户姓名" style="width:8%;"/>
                                                                                                                                性别:<select name="tempSex" placeholder="客人性别"><option value="1">男</option><option value="2">女</option></select>
                                                                                                                                类型:<select name="tempAgeType" placeholder="客人类型"><option value="1">成人</option><option value="2">儿童(占床)</option><option value="3">儿童(不占床)</option></select>                            
                                                                                                                                押金:<input type="text" class="tb_text" name="tempDeposit" value="" placeholder="押金" style="width:8%;"/>
                                                                                                                                资料:<input type="text" class="tb_text" name="tempDatum" value="" placeholder="资料" style="width:10%;"/>
                                                                                                                                房间数:<input type="text" class="tb_text" name="tempRoom" value="" placeholder="房间数" style="width:8%;"/>
                                                                                                                                备注:<input type="text" class="tb_text" name="tempComment" value="" placeholder="备注" style="width:5%;"/>
                                      <span name="delName" class="client_delete" title="删除行" style="margin-left:5%">-</span>
                                            </td>
                                        </tr>           
                                    </tbody>
                                </table><span class="form_item"><input type="hidden" class="js_non_empty" id="nameList" name="nameList" value="" placeholder="客人信息"></span>
                                <div class="client_operate_btns">
                                    <span class="client_add" title="添加行">+</span>
                                </div>
                            </div>
                        </div>                          
                    </div>
                    
                    <div class="control_group">
                      <label class="control_label"><span class="ico_must">*</span>服务:</label>
                      <div class="controls">
                            <div class="client_operate">
                                <table cellpadding="0" cellspacing="0" class="client_table_data table_data">
                                    <thead>
                                        <tr>
                                            <th>服务信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                       <input type="hidden" id="ld" name="ld" />
                       <input type="hidden" id="ldservId" name="ldservId" value="" />
                       <span class="form_item"><input type="checkbox" id="ldserv" style="vertical-align: middle;"/> 领队服务 <select id="ldtype"><option value="1">组团社派</option><option value="2">启航假期派</option></select></span>
                       </td></tr><tr><td>
                       <input type="hidden" id="qz" name="qz" />
                       <input type="hidden" id="qzservId" name="qzservId" value="" />
                       <span class="form_item"><input type="checkbox" id="qzserv" style="vertical-align: middle;"/> 签证服务 <select id="qztype"><option value="1">个签</option><option value="2">团签</option></select> 应收单价:<input type="text" class="tb_text ysdj" id="qzysdj" style="width:12%;"/> 应收合计:<input type="text" class="tb_text" id="qzyshj" style="width:12%;"/></span>
                       </td></tr><tr><td>
                       <input type="hidden" id="jp" name="jp" />
                       <input type="hidden" id="jpservId" name="jpservId" value="" />
                       <span class="form_item"><input type="checkbox" id="jpserv" style="vertical-align: middle;"/> 机票服务 <select id="jptype"><option value="1">团队机票</option><option value="2">散客机票</option></select> 应收单价:<input type="text" class="tb_text ysdj" id="jpysdj" style="width:12%;"/> 应收合计:<input type="text" class="tb_text" id="jpyshj" style="width:12%;"/></span>
                       </td></tr><tr><td>
                       <input type="hidden" id="dj" name="dj" />
                       <input type="hidden" id="djservId" name="djservId" value="" />
                       <span class="form_item"><input type="checkbox" id="djserv" style="vertical-align: middle;"/> 地接服务  酒店标准:<input type="text" class="tb_text" id="djxing" style="width:4.3%;"/>星,房型:<input type="text" class="tb_text" id="djfx" style="width:12%;"/> 备注:<input type="text" class="tb_text" id="djbz" style="width:12%;" /> 特殊景点:<input type="text" class="tb_text" id="djtsjd" style="width:12%;"/></span>
                       <span class="form_item"><input type="radio" id="djdyra" name="djdy" style="vertical-align: middle;" checked/> 巴士: <input type="text" class="tb_text" id="djbs" style="width:4.3%;"/> 备注:<input type="text" class="tb_text" id="djbsbz" style="width:12%;" /> 导游:<select id="djsfxydy"><option value="1">需要</option><option value="2">不需要</option></select> 备注:<input type="text" class="tb_text" id="djsfxydybz" style="width:12%;" /> <input type="radio" id="djdyrb" name="djdy" style="vertical-align: middle;"/> 司机兼导游: 备注:<input type="text" class="tb_text" id="djsjjdybz" style="width:12%;" /></span>
                       <span class="form_item">应收单价:<input type="text" class="tb_text ysdj" id="djysdj" style="width:12%;"/> 应收合计:<input type="text" class="tb_text" id="djyshj" style="width:12%;"/></span>
                       </td></tr><tr><td>
                       <input type="hidden" id="qt" name="qt" />
                       <input type="hidden" id="qtservId" name="qtservId" value="" />
                       <span class="form_item"><input type="checkbox" id="qtserv" style="vertical-align: middle;"/> 其他服务 备注:<input type="text" class="tb_text" id="qtbz" style="width:10%;"/> 应收单价:<input type="text" class="tb_text ysdj" id="qtysdj" style="width:12%;"/> 应收合计:<input type="text" class="tb_text" id="qtyshj" style="width:12%;"/></span>
                       </td></tr>  
                       <script>
                        jQuery('.ysdj').blur(function(){
                            var nameListSize = jQuery('#nameListSize').val();
                            var dj = jQuery(this).val();
                            if(!isNaN(nameListSize)&&!isNaN(dj)){
                                jQuery(jQuery(this).next()).val(nameListSize * dj);
                            }
                        });
                        jQuery('#nameListSize').change(function(){
                            if(!isNaN(jQuery(this).val())){
                                jQuery('.ysdj').blur();
                            }
                        });
                       </script>          
                                    </tbody>
                                </table>
                            </div>
                        </div>                
                    </div>
                    
                    <div class="control_group">
                      <label class="control_label"><span class="ico_must">*</span>特殊说明:</label>
                      <div class="controls">
                       <span class="form_item"><input name="specialComment" id="specialComment" type="text" class="text1" maxlength="8" size="8" /></span>
                      </div>
                    </div>
                </div>	
				
				#if($userRoleId==${fn.getLineOperatorManagerRoleId()}||$userRoleId==${fn.getLineVisaoperManagerRoleId()}||${fn.isLineAdminRole($userRoleId)})
    				<script>
    					function getOperators(){
                    		var lineCountryId = jQuery("#lineCountryId").val();
                    		if(lineCountryId==''){
                    			return;
                    		}
                    		jQuery.ajax({
                        	   type: "POST",
                        	   url: "/user/getOperators.do",
                        	   data:{lineCountryId:lineCountryId,#if(!$fn.isLineAdminRole($userRoleId))managerId:$userUserId,#end roleId:$fn.getLineVisaoperRoleId()},
                        	   success: function(result){
                    		   		if(result!='error'){
                    					var operatorList=result;
                                        var options='<option value="" selected="selected">请选择</option>';
                                        for(var i=0;i<operatorList.length;i++){
                                            options+='<option value='+operatorList[i].userId+'>'+operatorList[i].userName+'</option>';
                                        }
										if(jQuery("#lineOperatorId")){
                                            jQuery("#lineOperatorId option").remove();
                                            jQuery("#lineOperatorId").append(options);
										}
										if(jQuery("#visaOperatorId")){
                        					jQuery("#visaOperatorId option").remove();
                                            jQuery("#visaOperatorId").append(options);
										}
                    				}
                        	   }
                    		 });
                    	}
    				</script>
    				<div class="widget_title">
    		        	<span class="ico_static_r"></span>
    		        	<h3>操作信息</h3>
    		        </div>
    		        <div class="widget_content">
						#if($userRoleId==${fn.getLineOperatorManagerRoleId()}||${fn.isLineAdminRole($userRoleId)})
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>线路操作员:</label>
    		              <div class="controls">
    		               <span class="form_item"><select name="lineOperatorId" id="lineOperatorId" class="text2 js_non_empty" placeholder="线路操作员">
    							<option value="" selected="selected">请选择</option>
    							
    						</select></span>
    		              </div>
    		            </div>
						#end
						#if($userRoleId==${fn.getLineVisaoperManagerRoleId()}||${fn.isLineAdminRole($userRoleId)})
    					<div class="control_group">
    		              <label class="control_label"><span class="ico_must">*</span>签证操作员:</label>
    		              <div class="controls">
    		               <span class="form_item"><select name="visaOperatorId" id="visaOperatorId" class="text2 js_non_empty" placeholder="签证操作员">
    							<option value="" selected="selected">请选择</option>
    							
    						</select></span>
    		              </div>
    		            </div>  
						#end
    				</div>
				#end
				
		        <div class="widget_title">
		        	<span class="ico_static_r"></span>
		        	<h3>费用计算</h3>
		        </div>
				<div class="widget_content">
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>应收单价:</label>
		              <div class="controls">
		               <span class="form_item"><input name="price" id="price" type="text" value="" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="应收单价" onchange="calculatePriceSum();"></span>
		              </div>
		            </div>
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>其它应收:</label>
		              <div class="controls">
		               <span class="form_item"><input name="qtys" id="qtys" type="text" value="" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="其它应收" onchange="calculatePriceSum();"></span>
		              </div>
		            </div>
					<div class="control_group">
		              <label class="control_label"><span class="ico_must">*</span>应收合计:</label>
		              <div class="controls">
		               <span class="form_item"><input name="priceSum" id="priceSum" type="text" value="" class="text1 js_non_empty js_nan" maxlength="8" size="8" placeholder="应收合计" readonly></span>
		              </div>
		            </div>
		        </div>         
		      </div>
				<div class="form_actions">
					<button type="reset" class="btn btn_reset">重置</button>
                    <input type="hidden" id="status" name="status" value="0"/>
	              	<button type="button" class="btn btn_save" name="bc">保存</button>
	              	<button type="button" class="btn btn_save" name="tj">提交</button>
	              	<script>
                        jQuery('.btn_save').click(function(){
                            var nameListSize = jQuery('#nameListSize').val();
                            if('tj'==jQuery(this).attr('name')){
                                jQuery('#status').val('8');                                
                            }
                            //jQuery(".hq_form")[0].submit();
                        });
						
						function calculatePriceSum(){
							var price=jQuery('#price').val()==''?0:jQuery('#price').val();
							var qtys=jQuery('#qtys').val()==''?0:jQuery('#qtys').val();
							var nameListSize = jQuery('#nameListSize').val()==''?0:jQuery('#nameListSize').val();
							var priceSum = Math.round(parseFloat(price*100*nameListSize+qtys*100))/100;
							jQuery('#priceSum').val(priceSum);
						}
                    </script>
	            </div>			      
		  	</form>
		</div>
	</div>
	<script>
	changeProductType();
	getOperators();
	</script>
#footer()
