#if($type==1)
	#set($navtype=101)
#else
	#set($navtype=105)
#end
#header(10,$navtype,"线路订单信息管理")
<script>
	function updateOrder(formUrl){
		jQuery("#form1").attr("action",formUrl);
		jQuery("#form1").submit();
		jQuery("#form1").attr("action","/lineOrder/list.do");
	}
	
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_w"></span><h2>订单信息管理</h2>
				#if(${fn.isLineSalesmanRole($userLineRoleId)})
					<div class="left" style="margin-left: 10px;"><a class="ico_order_add" title="新增订单信息" href="/lineOrder/add.do?type=$!{type}">+</a></div>
				#end
		</div>
		<div class="maincon_fluid">
		<form id="form1" name="form1" action="/lineOrder/list.do" method="post" class="form_horizontal">
			<input type="hidden" id="page" name="page" value="1">
			<input type="hidden" id="type" name="type" value="$!{type}">
			#if(!$hideSearch)	
    			#if($alarmCount&&$alarmCount>0)
    				<div class="searchbox">
    				<label for="s_client">
    					<input type="hidden" id="alarmOrders" name="alarmOrders" value="$!alarmOrders">
    					<div id="sidebar"><a href="#" onclick="getAlarmOrders();">您有即将超过占位取消时限的订单，请处理！</a></div>
    				</label>
    				</div>
    				<script>
    					function getAlarmOrders(){
    						jQuery("#alarmOrders").val("1");
    						jQuery("#form1").submit();
    					}
    				</script>
    			#end			
        		<div class="searchbox">
    				#if(${fn.isLineAdminRole($userLineRoleId)}||$userLineRoleId == $fn.getLineFinanceRoleId() || $userLineRoleId == $fn.getLineFinanceManagerRoleId() )
    					<label for="s_client">所属部门：
	    					<select name="deptId" id="deptId" class="text" onchange="conditionSearch(1)">
	    						<option value="" selected="selected">全部</option>
	    						#foreach($one in $deptList)
	    							<option value="$one.name"$fn.selected(${searchBean.deptId}, $one.name)>$one.name</option>
	                            #end
	    					</select>
    					</label>
        				<label for="s_client">所属销售：
        					<select name="salesman" id="salesman" class="text" onchange="conditionSearch(1)">
        						<option value="" selected="selected">全部</option>
        						#foreach($one in $salesmanList)
        							<option value="$one.userId"$fn.selected(${searchBean.salesman}, $one.userId)>$one.userName</option>
                                #end
        					</select>
        				</label>
        				<label for="s_client">所属操作员：
    					<select name="operator" id="operator" class="text" onchange="conditionSearch(1)">
    						<option value="" selected="selected">全部</option>
    						#foreach($one in $operatorList)
    							<option value="$one.userId"$fn.selected(${searchBean.operator}, $one.userId)>$one.userName</option>
                            #end
    					</select>
    				</label>
    				#end
    				<label for="s_client">付款状态：
					<select name="seachYfhkStatus" id="seachYfhkStatus" class="text" onchange="conditionSearch(1)">
						<option value="" selected="selected">全部</option>
						<option value="1" #if(${searchBean.seachYfhkStatus}==1) selected="selected" #end>未付款</option>
						<option value="2" #if(${searchBean.seachYfhkStatus}==2) selected="selected" #end>部分付款</option>
						<option value="3" #if(${searchBean.seachYfhkStatus}==3) selected="selected" #end>已付全款</option>
					</select>
				</label>
				<label for="s_client">收款状态：
					<select name="seachYshkStatus" id="seachYshkStatus" class="text" onchange="conditionSearch(1)">
						<option value="" selected="selected">全部</option>
						<option value="1" #if(${searchBean.seachYshkStatus}==1) selected="selected" #end>未收款</option>
						<option value="2" #if(${searchBean.seachYshkStatus}==2) selected="selected" #end>部分收款</option>
						<option value="3" #if(${searchBean.seachYshkStatus}==3) selected="selected" #end>已收全款</option>
					</select>
				</label>
    			</div>
    			<div class="searchbox">
					<label for="s_client">国家：<input id="seachCountryName" name="seachCountryName" type="text" class="s_client searchtx" placeholder="国家" value="$!{searchBean.seachCountryName}"></label>
	    			<label for="s_client">客户姓名：<input id="seachCustomerName" name="seachCustomerName" type="text" class="s_client searchtx" placeholder="客户姓名" value="$!{searchBean.seachCustomerName}"></label>
					<label for="s_client">客户公司：<input id="seachCustomerCompany" name="seachCustomerCompany" type="text" class="s_client searchtx" placeholder="客户姓名" value="$!{searchBean.seachCustomerCompany}"></label>
	    			<label for="s_guest">客人姓名：<input id="seachNameList" name="seachNameList" type="text" class="s_guest searchtx" placeholder="客人姓名" value="$!{searchBean.seachNameList}"></label>	
    			</div>
    			<div class="searchbox">
    				<label for="s_client">订单号：<input type="text" name="orderSeq" value="$!{searchBean.orderSeq}" />
       				</label>
    				#if(!$alarmOrders||$alarmOrders!=1)
    					<label for="s_ordertime">开始时间：<input id="startDate" name="startDate" type="text" class="s_ordertime searchtx js_datepicker" size="10" placeholder="开始时间" value="$!{searchBean.startDate}"></label>
        				<label for="s_ordertime">结束时间：<input id="endDate" name="endDate" type="text" class="s_ordertime searchtx js_datepicker" size="10" placeholder="结束时间" value="$!{searchBean.endDate}"></label>
        			#end
        			<label for="searchbtn"><input id="searchbtn" type="submit" name="" class="searchbtn" value="搜索" ></label>	
    			</div>
			#end
		</form>
		
		#if($sumPrice)
		<hr class="hr_a">
		<div class="widget_mng_box">
			#if(${fn.isLineSalesmanRole($userLineRoleId)} ||${fn.isLineAdminRole($userLineRoleId)}||$userLineRoleId == $fn.getLineFinanceRoleId() || $userLineRoleId == $fn.getLineFinanceManagerRoleId())
				<table cellpadding="0" cellspacing="0" width="400" class="table_data tcenter">
					<tbody>
		            	<tr>
		            		<td>总计应收:</td><td>$!{sumPrice.sumzjys}</td>
		            		<td>总计应付:</td><td>$!{sumPrice.sumzjyf}</td>
		            		<td>毛利:</td><td>$!{sumPrice.sumlr}</td>
		            		<td>总计未收:</td><td>$!{sumPrice.sumwshk}</td>
		            		<td>总人数:</td><td>$!{sumPrice.sumNameListSize}</td>
		            	</tr>
		            </tbody>
				</table>
			#end
		</div>
		#end
		
		<hr class="hr_a">
			<div class="widget_mng_box">
				<table cellpadding="0" cellspacing="0" width="100%" class="table_data tcenter">
	                <thead>
	                    <tr>
	                       #if(${type}=="2")
	                       	<th width="">订单号</th>
	                       	<th width="">下单日期</th>
	                        <th width="">团队编号</th>
                            <th width="">线路名称</th>
                            <th width="">出发日期</th>
                            <th width="">总位</th>
                            <th width="">余位</th>
                            <th width="">切位/占位/预报</th>
							<th width="">同业价</th>
							<th width="">出票时限</th>
							<th width="">签证状态</th>
                            <th width="">团队状态</th>
                            <th width="">收款状态</th>
                            <th width="">付款状态</th>
                           #else
                            <th width="">订单号</th>
                            <th width="">下单日期</th>
                            <th width="">团队编号</th>
                            <th width="">出发日期</th>
                            <th width="">销售</th>
                            <th width="">客户名</th>
                            <th width="">客户公司</th>
                            <th width="">人数</th>
                            <th width="">签证状态</th>
                            <th width="">机票状态</th>
                            <th width="">酒店状态</th>
                            <th width="">巴士状态</th>
                            <th width="">团队状态</th>
                            <th width="">应收合计</th>
                            <th width="">收款状态</th>
                            <th width="">付款状态</th>
                           #end 
                           #if($userLineRoleId != $fn.getLineSalesmanRoleId() )
                           	<th width="">销售</th>
                           #end
                            <th width="">线路操作员</th>
                            <th width="">签证操作员</th>
	                        <th width="">修改</th>
	                        <th width="">删除</th>
							<th width="">查看日志</th>
	                    </tr>
	                </thead>
	                <tbody>
						#foreach($order in $orderList)
    	                    <tr>
    	                    	#if(${type}=="2")
    	                    	<td>$!{order.orderSeq}#if($!{fn.isLineSalesmanRole($userLineRoleId)})  #if(${order.status}==0)  (未审批)  #else  (已审批)  #end   #end</td>
    	                    	<td>$!fn.format($!{order.orderDate},'yyyy-MM-dd')</td>
								<td><a href="/lineOrder/list.do?lineProductOrderSeq=$!{order.lineProductOrderSeq}&type=2">$!{order.lineProductOrderSeq}</a></td>
								<td>$!{order.lineProductName}</td>
								<td>$!fn.format($!{order.startDate},'yyyy-MM-dd')</td>
								<td width="">${order.seatNum}</td>
	                            <td width="">${order.leftSeatNum}</td>
	                            <td width="">#if($order.nameListType == 1)切位#elseif($order.nameListType == 2)占位#else预报#end${order.nameListSize}</td>
								<td>$!fn.disPrice($!{order.price})</td>
    	                        <td>$fn.format($!{order.depositLimitDate},'yyyy-MM-dd')</td>
								<td width="">签证状态</td>
	                            <td width="">#if($order.tuanstatus == 2)已出团#else未出团#end</td>
	                            <td width="">#if($order.yshkstatus == 3)已收全款#elseif($order.yshkstatus == 2)已收款$!fn.disPrice(${order.alreadyGot})元#else未收款#end</td>
	                            <td width="">#if($order.yfhkstatus == 3)已付全款#elseif($order.yfhkstatus == 2)已付款$!fn.disPrice(${order.alreadyPaidSum})元#else未付款#end</td>
								#else
								<td>$!{order.orderSeq}#if($!{fn.isLineSalesmanRole($userLineRoleId)})  #if(${order.status}==0)  (未审批)  #else  (已审批)  #end   #end</td>
								<td>$!fn.format($!{order.orderDate},'yyyy-MM-dd')</td>
								<td>$!{order.procurementSeq}</td>
								<td>$!fn.format($!{order.startDate},'yyyy-MM-dd')</td>
								<td>$!{order.salesmanName}</td>
								<td>$!{order.customerName}</td>
								<td>$!{order.company}</td>
								<td>$!{order.nameListSize}人</td>
								<td width="">签证状态</td>
		                        <td width="">机票状态</td>
		                        <td width="">#if($order.jdstatus == 3)已落实#elseif($order.jdstatus == 2)操作中#else未操作#end</td>
	                            <td width="">#if($order.busstatus == 3)已落实#elseif($order.busstatus == 2)操作中#else未操作#end</td>
	                            <td width="">#if($order.tuanstatus == 2)已出团#else未出团#end</td>
	                            <td>$!fn.disPrice($!{order.priceSum})</td>
	                            <td width="">#if($order.yshkstatus == 3)已收全款#elseif($order.yshkstatus == 2)已收款$!fn.disPrice(${order.alreadyGot})元#else未收款#end</td>
	                             <td width="">#if($order.yfhkstatus == 3)已付全款#elseif($order.yfhkstatus == 2)已付款$!fn.disPrice(${order.alreadyPaidSum})元#else未付款#end</td>
								#end
								#if($userLineRoleId != $fn.getLineSalesmanRoleId() )
                           			<td width="">$!{order.salesmanName}</td>
                           		#end
								<td>$!{order.lineOperatorName}</td>
                            	<td>$!{order.visaOperatorName}</td>
    	                        <td><a class="ico_edit_g" href="javascript:updateOrder('/lineOrder/edit.do?orderId=$!{order.orderId}&currentPage=${page}')"></a></td>
    	                        <td><a class="ico_delete_r" onclick="return confirm('是否将此订单删除?')" href="/lineOrder/delete.do?orderId=$!{order.orderId}&page=${page}"></a></td>
								<td><a class="ico_edit_g" href="/operatelog/list.do?orderSeq=$!{order.orderSeq}&currentPage=1"></a></td>
    	                    </tr>
						#end
	                </tbody>
	            </table>
	        </div>
			#generatePage()
			</div>
	</div>
#footer()
