#if($type==1)
	#set($navtype=101)
#else
	#set($navtype=105)
#end
#header(10,$navtype,"线路订单信息管理")
<script>
	function updateOrder(formUrl){
		jQuery("#form1").attr("action",formUrl);
		jQuery("#form1").submit();
		jQuery("#form1").attr("action","/lineOrder/list.do");
	}
	
</script>
	<div class="miancon">
		<div class="maincon_title">
			<span class="ico_order_w"></span><h2>订单信息管理</h2>
				<div class="right"><a class="ico_order_add" title="新增订单信息" href="/lineOrder/add.do?type=$!{type}">+</a></div>
		</div>
		<div class="maincon_fluid">
		<form id="form1" name="form1" action="/lineOrder/list.do" method="post" class="form_horizontal">
			<input type="hidden" id="page" name="page" value="1">
			<input type="hidden" id="type" name="type" value="$!{type}">
			#if(!$hideSearch)	
    			#if($alarmCount>0)
    				<div class="searchbox">
    				<label for="s_client">
    					<input type="hidden" id="alarmOrders" name="alarmOrders" value="">
    					<div id="sidebar"><a href="#" onclick="getAlarmOrders();">您有即将超过占位取消时限的订单，请处理！</a></div>
    				</label>
    				</div>
    				<script>
    					function getAlarmOrders(){
    						jQuery("#alarmOrders").val("1");
    						jQuery("#form1").submit();
    					}
    				</script>
    			#end			
        		<div class="searchbox">
       				<label for="s_client">订单号：<input type="text" name="orderSeq" value="$!{searchBean.orderSeq}" />
       				</label>
    				#if(${fn.isLineAdminRole($userRoleId)})
        				<label for="s_client">所属销售：
        					<select name="salesman" id="salesman" class="text" onchange="conditionSearch(1)">
        						<option value="" selected="selected">全部</option>
        						#foreach($one in $salesmanList)
        							<option value="$one.userId"$fn.selected(${searchBean.salesman}, $one.userId)>$one.userName</option>
                                #end
        					</select>
        				</label>
    				#end
    			</div>
    			<div class="searchbox">
    				<label for="s_ordertime">开始时间：<input id="startDate" name="startDate" type="text" class="s_ordertime searchtx js_datepicker" size="10" placeholder="开始时间" value="$!{searchBean.startDate}"></label>
        			<label for="s_ordertime">结束时间：<input id="endDate" name="endDate" type="text" class="s_ordertime searchtx js_datepicker" size="10" placeholder="结束时间" value="$!{searchBean.endDate}"></label>
        			<label for="searchbtn"><input id="searchbtn" type="submit" name="" class="searchbtn" value="搜索" ></label>	
    			</div>
			#end
		</form>
		<hr class="hr_a">
			<div class="widget_mng_box">
				<table cellpadding="0" cellspacing="0" width="100%" class="table_data tcenter">
	                <thead>
	                    <tr>
	                       #if(${type}=="2")
	                        <th width="">团队编号</th>
                            <th width="">线路</th>
                            <th width="">航空公司</th>
                            <th width="">总位</th>
                            <th width="">领队</th>
                            <th width="">余位</th>
                            <th width="">已收</th>
                            <th width="">切位</th>
                            <th width="">占位</th>
							<th width="">预报</th>
							<th width="">同业价</th>
	                        <th width="">机票定金时限</th>
							<th width="">出票时限</th>
							<th width="">签证状态</th>
	                        <th width="">机票状态</th>
	                        <th width="">酒店状态</th>
                            <th width="">巴士状态</th>
                            <th width="">团队状态</th>
                           #else
                            <th width="">订单号</th>
                            <th width="">销售</th>
                            <th width="">组团社</th>
                            <th width="">人数</th>
                            <th width="">下单日期</th>
                            <th width="">签证状态</th>
                            <th width="">机票状态</th>
                            <th width="">酒店状态</th>
                            <th width="">巴士状态</th>
                            <th width="">团队状态</th>
                            <th width="">应收合计</th>
                            <th width="">到款状态</th>
                           #end 
	                        <th width="">修改</th>
	                        <th width="">删除</th>
							<th width="">查看日志</th>
	                    </tr>
	                </thead>
	                <tbody>
						#foreach($order in $orderList)
    	                    <tr>
    	                    	#if(${type}=="2")
								<td><a href="/lineOrder/list.do?lineProductOrderSeq=$!{order.lineProductOrderSeq}">$!{order.lineProductOrderSeq}</a></td>
								<td>$!{order.lineProductName}</td>
								<td>$!{order.aircorpId}</td>
								<td width="">总位</td>
	                            <td>$!{order.groupLeader}</td>
	                            <td width="">余位</td>
	                            <td width="">已收</td>
	                            <td width="">切位</td>
	                            <td width="">占位</td>
								<td width="">预报</td>
								<td>$!{order.price}</td>
    	                        <td>$fn.format($!{order.depositLimitDate},'yyyy-MM-dd')</td>
    	                        <td>$fn.format($!{order.printTicketLimitDate},'yyyy-MM-dd')</td>
								<td width="">签证状态</td>
		                        <td width="">机票状态</td>
		                        <td width="">酒店状态</td>
	                            <td width="">巴士状态</td>
	                            <td width="">团队状态</td>
								#else
								<td>$!{order.orderSeq}</td>
								<td>$!{order.salesmanName}</td>
								<td>$!{order.travelAgency}</td>
								<td>$!{order.nameListSize}人</td>
								<td>$fn.format($!{order.postTime},'yyyy-MM-dd')</td>
								<td width="">签证状态</td>
		                        <td width="">机票状态</td>
		                        <td width="">酒店状态</td>
	                            <td width="">巴士状态</td>
	                            <td width="">团队状态</td>
	                            <td>$!{order.priceSum}</td>
	                            <td width="">到款状态</td>
								#end
    	                        <td><a class="ico_edit_g" href="javascript:updateOrder('/lineOrder/edit.do?orderId=$!{order.orderId}&currentPage=${page}')"></a></td>
    	                        <td><a class="ico_delete_r" onclick="return confirm('是否将此订单删除?')" href="/lineOrder/delete.do?orderId=$!{order.orderId}&page=${page}"></a></td>
								<td><a class="ico_edit_g" href="/operatelog/list.do?orderSeq=$!{order.orderSeq}&currentPage=1"></a></td>
    	                    </tr>
						#end
	                </tbody>
	            </table>
	        </div>
			#generatePage()
			</div>
	</div>
#footer()
