<div class="control_group">
    <label class="control_label"><span class="ico_must">*</span>订单类型:</label>
    <div class="controls">
        <span class="form_item"><select name="type" id="type" class="text2 js_non_empty" placeholder="订单类型" onchange="changeProductType()">
			<option value="1">单团</option>
			<option value="2" selected>散拼团</option>
        </select></span>
    </div>                          
</div>

<div id="sanpinSelectDiv"> 
	<div class="control_group">
        <label class="control_label"><span class="ico_must">*</span>散拼团:</label>
        <div class="controls">
            <span class="form_item"><select id="selectProductId" class="text2" placeholder="散拼团" onchange="getProductId()">
				<option value="">请选择</option>
				#foreach($one in $lineProductList)
					<option value="$one.lineProductId"  $fn.selected(${product.lineProductId}, $one.lineProductId)>$one.lineProductName</option>
                #end
            </select></span>
        </div>
    </div>
	
	<div class="control_group">
		<label class="control_label"><span class="ico_must">*</span>机票订金时限:</label>
        <div class="controls">
            <span class="form_item"><input id="depositLimitDate" value="$fn.format($!{product.depositLimitDate},"yyyy-MM-dd")" type="text" class="text1" placeholder="机票订金时限" readonly></span>
        </div>   
	</div>
	
	<div class="control_group">
		<label class="control_label"><span class="ico_must">*</span>出票时限:</label>
        <div class="controls">
            <span class="form_item"><input id="printTicketLimitDate" value="$fn.format($!{product.printTicketLimitDate},"yyyy-MM-dd")" type="text" class="text1" placeholder="出票时限" readonly></span>
        </div>  
	</div>
	
	<div class="control_group">
		<label class="control_label"><span class="ico_must">*</span>座位数:</label>
        <div class="controls">
            <span class="form_item"><input id="seatNum" type="text" value="$!{product.seatNum}" class="text1" placeholder="座位数" readonly></span>
        </div>  
	</div>
	
	<div class="control_group">
		<label class="control_label"><span class="ico_must">*</span>余位数:</label>
        <div class="controls">
            <span class="form_item"><input id="leftSeatNum" value="$!{product.leftSeatNum}" type="text" class="text1" placeholder="余位数" readonly></span>
        </div>  
	</div>
</div>